<div class="form-group">
	<div class="col-sm-2">
	{{ form.start.label_tag }}
	</div>
	<div class="col-sm-4">
	{{ form.start.errors }}
	{{ form.start }}
	<div class="event-form-help-text">{{ form.start.help_text }}</div>
	</div>

	<div class="col-sm-2">
	{{ form.end.label_tag }}
	</div>
	<div class="col-sm-4">
	{{ form.end.errors }}
	{{ form.end }}
	<div class="event-form-help-text">{{ form.end.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.title.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.title.errors }}
	{{ form.title }}
	<div class="event-form-help-text">{{ form.title.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.slug.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.slug.errors }}
	{{ form.slug }}
	<div class="event-form-help-text">{{ form.slug.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.image.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.image.errors }}
	{{ form.image }}
	<div class="event-form-help-text">{{ form.image.help_text }}</div>
	</div>
</div>

<!--
<div class="form-group">
	<div class="col-sm-2">
	{{ form.series.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.series.errors }}
	{{ form.series }}
	<div class="event-form-help-text">{{ form.series.help_text }}</div>
	</div>
</div>
-->

<div class="form-group">
	<div class="col-sm-2">
	{{ form.description.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.description.errors }}
	{{ form.description }}
	<div class="event-form-help-text">{{ form.description.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.where.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.where.errors }}
	{{ form.where }}
	<div class="event-form-help-text">{{ form.location.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.co_organizers.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.co_organizers.errors }}
	{{ form.co_organizers }}
	<div class="event-form-help-text">{{ form.co_organizers.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.limit.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.limit.errors }}
	{{ form.limit }}
	<div class="event-form-help-text">{{ form.limit.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.organizer_notes.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.organizer_notes.errors }}
	{{ form.organizer_notes }}
	<div class="event-form-help-text">{{ form.organizer_notes.help_text }}</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-2">
	{{ form.private.label_tag }}
	</div>
	<div class="col-sm-10">
	{{ form.private.errors }}
	{{ form.private }}
	<div class="event-form-help-text">{{ form.private.help_text }}</div>
	</div>
</div>


