{% load staticfiles %}
{% if user_is_organizer or user_is_event_admin %}
	<div class="event-status bg-warning">
		{% if user_is_organizer %} 
			You are an organizer of this event. 
		{% else %} 
			You are an event administrator at this location. 
		{% endif %} 
		This event is <span class="text-success">{{ event.status }}</span>. 
			{% if event.status != 'live' %} 
				It will be viewable by non-administrators when it is published.
			{% endif %}
		<span title="Event Endorsements" id="endorsement-area" class="endorsement-area pull-right">
			{% include 'snippets/endorsements.html' %}
		</span>

		<div id="event-actions">
			{% if user_is_event_admin %}
				{% if event.status == 'seeking feedback' or event.status == 'ready to publish' %} 
					<a id="publish-event" href="">Publish this Event</a> to make it live. 
				{% elif event.status == 'waiting for approval'  %}
					<a id="publish-event" href="">Publish this Event</a> to make it live immediately or <a id="approve-for-publication" href="">approve it</a> to notify the organizer and let them publish it.
				{% endif %}
			{% elif user_is_organizer %}
				{% if event.status == 'ready to publish' %} 
					<a id="publish-event" href="">Publish this Event</a> to make it live.
				{% elif event.status == 'waiting for approval' %}
					You will be notified when this event has been approved.
				{% endif %}
			{% endif %}
		
			<a href="mailto:{{ event_email }}" title="Send an email to the event organizers and local event admins" class="disabled">Discuss via email</a>
		</div>

	</div>

	{% if event.private %}
		<div class="event-status text-danger">
			<span class="glyphicon glyphicon-star"></span> This event is private and will only be viewable to those with the link.
		</div>
	{% endif %}
{% endif %}

