{% extends "base.html" %}

{% block content %}
<div class="container">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <h4>
        <strong>Edit Location:</strong>

        {% if page == 'settings' %}
            Settings |
        {% else %}
            <a href="{% url 'location_edit_settings' location.slug %}">Settings</a> |
        {% endif %}

        {% if page == 'users' %}
            Users |
        {% else %}
            <a href="{% url 'location_edit_users' location.slug %}">Users</a> |
        {% endif %}

        {% if page == 'content' %}
            Content Blocks |
        {% else %}
            <a href="{% url 'location_edit_content' location.slug %}">Content Blocks</a> |
        {% endif %}

        {% if page == 'rooms' %}
            Rooms |
        {% else %}
            <a href="{% url 'location_manage_rooms' location.slug %}">Rooms</a> |
        {% endif %}

        {% if page == 'pages' %}
            Pages
        {% else %}
            <a href="{% url 'location_edit_pages' location.slug %}">Pages</a>
        {% endif %}

        <!--
        {% if page == 'emails' %}
            Emails
        {% else %}
            <a href="{% url 'location_edit_emails' location.slug %}">Emails</a>
        {% endif %}
        -->
    </h4>

    {% block sub-content %}
    {% endblock %}
</div>
{% endblock %}
