{% extends 'base.html' %}

{% block content %}

    {% include "snippets/messages.html" %}

    <div class="row">

    {% if r.bill.total_owed > 0 %}

        <div class="col-md-5">

            <h2 id="submit-payment-header">Submit Payment for this booking</h2>

            <div id="payment-errors"></div> 

            <form action="{% url 'booking_payment' location.slug r.uuid %}" method="POST" class="form-horizontal" id="payment-form">{% csrf_token %}

                <div class="form-group">
                    <div class="col-md-2">
                        {{ form.name.errors }}
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col-md-4">
                        {{ form.name }}
                    </div>
                    <div class="col-md-2">
                        {{ form.email.errors }}
                        {{ form.email.label_tag }}
                    </div>
                    <div class="col-md-4">
                        {{ form.email }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        {{ form.card_number.errors }}
                        {{ form.card_number.label_tag }}
                    </div>
                    <div class="col-md-10">
                        {{ form.card_number }}
                    </div>
                </div>


                <div class="form-group">

                    <div class="form-inline">
                        <div class="col-md-2">
                            {{ form.cvc.errors }}
                            {{ form.cvc.label_tag }}
                        </div>
                        <div class="col-md-2">
                            {{ form.cvc }}
                        </div>
                        <div class="col-md-4">
                            {{ form.expiration_month.errors }}
                            {{ form.expiration_year.errors }}
                            <b>Card Exp. (MM/YYYY)</b>
                        </div>
                        <div class="col-md-4">
                            {{ form.expiration_month }} / {{ form.expiration_year }}
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        {{ form.amount.errors }}
                        {{ form.amount.label_tag }}
                    </div>
                    <div class="col-md-10">
                        {{ form.amount }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        {{ form.comment.errors }}
                        {{ form.comment.label_tag }}
                    </div>
                    <div class="col-md-10">
                        {{ form.comment }}
                    </div>
                </div>

                <button type="submit" class="col-md-offset-2 btn btn-default">Submit Payment</button>
            </form>

        </div>

    {% else %}

        <div class="col-md-5">
            <img class="img-responsive" src="/static/img/watermark-paid.jpg">
        </div>

    {% endif %}


        <div id="booking-amount-summary-box" class="col-md-5 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Booking for {{ r.user.first_name|title }} {{r.user.last_name}} </h3>
                    <h4>{{ r.room.name|title}}</h4>
                    <h4> {{r.arrive }} - {{r.depart}} </h4>
                </div>
                {% with bill=r.bill %}
                    {% include "snippets/manage-page-bill-details.html" %}
                {% endwith %}
            </div>
        </div>

    </div>

    <div class="row text-center">
        {% ifequal r.user user %}
            <a href="{% url 'booking_detail' r.use.location.slug r.id %}">Return to Booking Detail</a>
        {% else %}
            {% if user in location.house_admins.all %}
                <a href="{% url 'booking_manage' r.use.location.slug r.id %}">Manage Booking</a>
            {% endif %}
        {% endifequal %}
    </div>

{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript">

    // this identifies your website in the createToken call below
    // NOTE THIS IS A TEST KEY
    Stripe.setPublishableKey("{{stripe_publishable_key}}");

    $(document).ready(function() {
        // when the form is submitted, use the CC info to generate a
        // single-use token. this triggers the stripeResponseHandler,
        // which submits the token value and any other named elements
        // (note: form elements witout names are *not* submitted) to
        // our server for further action. 
        $("#payment-form").submit(function(event) {
            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");

            var number_val = $('#id_card_number').val();
            var cvc_val = $('#id_cvc').val();
            var month_val = $('#id_expiration_month').val();
            var year_val = $('#id_expiration_year').val();

            // validate card number, expiry, CVC etc. via Stripe's servers
            Stripe.validateCVC(cvc_val);
            Stripe.validateExpiry(month_val, year_val);
            Stripe.validateCardNumber(number_val);

            // generate a single=use token for this payment
            Stripe.createToken({
                number: number_val,
                cvc: cvc_val,
                exp_month: month_val,
                exp_year: year_val
            }, stripeResponseHandler);

            // prevent the form from submitting with the default action
            return false;
        });

        function stripeResponseHandler(status, response) {
            if (response.error) {
                console.error(response.error);

                // show the errors on the form
                $("#payment-errors").html('<div class="bg-danger para-padding">'+response.error.message+'</div>');
                // re-enable the submit button so the user can correct
                // their errors and re-submit.
                $(".submit-button").removeAttr("disabled");
            } else {
                var form$ = $("#payment-form");
                // token contains id, last4, and card type
                var token = response['id'];
                // insert the token into the form so it gets submitted to the server
                form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
                // and submit
                form$.get(0).submit();
            }
        }
    });
</script>
{% endblock %}
