#container-main {
	padding-bottom: 40px;
}

p { }

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

#wrapbackgroundimg {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	background-image: url(/media/img/dining-retouched-small.jpg);
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

#wrapper-narrow {
	width: 700px;
}

.button-spacer {
	padding-top: 30px;
}

.footer {
	padding: 30px;
	background-color: #f5f5f5;
}

.hero-unit h1 {
	padding-bottom: 40px;
}

.hero-unit {
}

.hero-unit p {
}

.license {
}

.btn-xlarge {
}

.hero-engage {
}

.hero-engage > .btn-xlarge {
}

.box-link {
}

.footer {
}

textarea {
}

.helptext {
}

.navbar {
}

p.notice {
	color: grey;
	font-style: italic;
}

.res-detail {
	padding-top: 10px;
	padding-bottom: 10px;
}

.res-modify-btn {
	width: 400px;
	padding-top:20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

.res-status-btn {
	cursor: default;
}

.timeline-tags {
	font-style: italic;
	font-size: 120%;
}

.new-reservation {
	padding-top: 30px;
}

.btn-inline {
	display: inline;
}

div.ui-datepicker{
 font-size:10px;
}

.btn-red {
	color: red;
	border: 1px;
}

.btn-red:hover {
	text-decoration: none;
	color: red;
}

.form-help-text {
	font-style: italic;
	font-size: 90%;
}

.field-wrapper {
	width: 475px;
	padding-bottom: 30px;
}

textarea {
	width: 475px;
	height: 120px;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

img.profile-page-img {
	width: 200px;
	height: 200px;
}

img.profile-img-thumb {
	width: 100px;
	height: 100px;
}

.user-links {
	padding-top: 30px;
	padding-bottom: 30px;

}

.user-link {
	padding-right: 20px;
}

.icon-spacer {
	padding-right: 10px;
}

.icon-spacer-right {
	padding-right: 10px;
}

.icon-spacer-left {
	padding-left: 10px;
}


.label-inline {
	display: inline;
}

input#id_cvc {
	width: 35px;
}

input#id_expiration_month {
	width: 35px;
}

input#id_expiration_year {
	width: 65px;
}

.page-text {
	padding-bottom: 40px;
}

.field-wrapper-tight {
	width: 475px;
	padding-bottom: 10px;
}

.profile-snippet {
	padding-bottom: 20px;
}
.right-img-spacing {
	margin-right: 30px;
}

.clear {
	clear: both;
}

.bio-container {
	margin-top: 15px;
}

.bio-snippet-links {
	padding-top: 5px;
	padding-bottom: 5px;
}

#event-signup-input {
	margin-right: 15px;
	margin-left: 15px;
}

ul.errorlist {
	background-color: #ffcccc;
	list-style-type: none;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 80%;
	font-weight: bold;
}

.reservation-list-item {
	padding-bottom: 30px;
	border-top: 2px solid #eee;
}

.profile-peak {
	padding-left: 120px;
}

.reservation-title {
	padding-bottom: 10px;
	padding-top: 25px;
}

#by-month-nav {
	padding-top: 50px;
	margin: auto;
	width: 300px;
	text-align: center;
}

#guest-calendar table {
	width: 100%;
	font-size: 85%;
}
#guest-calendar li {
	list-style-type: none;
}

#guest-calendar ul {
	margin: 10px 20px 10px 20px;
}

#guest-calendar td {
	border: 2px;
	border-style: solid;
	border-color: #AAA;
	padding-left: 5px;
}

#guest-calendar tr {
	height: 60px;
}

#guest-calendar .filled {
	background-color: #eefce0;
}

#guest-calendar .today {
	font-weight: bold;
}

b.dark-red-bold {
	color: darkred;
}

.inline {
	display: inline;
}

.cal-day-total {
	color: #AAA;
}

.red-text {
	color: red;
}

.greyed-out {
	color: #999999;
}
