/* ==========================================================
==========================[Typography]==========================
========================================================== */
@font-face {
	font-family:'Archer Bold';
	src:url('/media/fonts/Archer-Semibold-Pro.otf');
}

@font-face {
	font-family:'Archer Italic';
	src:url('/media/fonts/Archer-BoldItal-Pro.otf');
}

body {
	font-family:'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archer Bold', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.fancy-header {
	//font-family:'Archer Bold', serif;
	-webkit-font-smoothing: antialiased;
}

/* increases line spacing for text that is too tight */
.easy-reading {
	line-height:2em;
}

span.highlight {
	color:#ea6f56;
}


/* ==========================================================
==========================[NAVIGATION]=======================
========================================================== */

/* ======================[Global Navigation]================= */

#flyout {
	width:360px;
	height:100%;
	background:#252525;
	position:fixed;
	top:0;
	right:-360px;
	z-index:999;
	padding:48px;
	color:rgba(255,255,255,0.7);
	box-shadow: -0px 0px 10px rgba(0,0,0,0.8);
}

.curtain {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	z-index: -1;
}

#landing-page-event-info {
	padding-top: 50px;
}

/* ======================[Global Navigation]================= */



.top-nav {
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;
}

.top-nav ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

.top-nav a {
	display: block;
	width: 50px;
	color: #FFF;
	text-decoration: none;
	background: gray;
	
}
.top-nav a:hover {
	background: green;
}


/* ====================== Home Page ================= */

#nav-primary {
	margin-bottom: 0px;
	margin-top: 20px;
	background-color: transparent;
	border-radius: 0px;
	/* this cancels out the default boostrap border style */
	border-left: none;
	border-bottom: none;
	border-right: none;
}

#login {
	padding:32px 0;
	border-right:1px solid rgba(0,0,0,0.1);
	font-family:"Archer Bold";
}

#login a {
	color:rgba(0,0,0,0.3);
	font-size:1.3em;
}

#embassy-logo img {
	float:right;
	padding-top:17px;
}

#homepage-wrap {
}

#house {
	background:#2f2f2f;
	color:#fff;
	height:223px;
}

#house-image {
	background:url('/media/img/house_pic.png') no-repeat;
	background-size:cover;
	height:223px;
	padding:0;
	
}

#house-desc {
	
}

#house-name-title {

}

#actions {
	background:#ea6f56;
	padding:30px 0 30px 0;
	color:#FFF;
}

#participate, #reserve {
	padding:0 70px;
}

#participate {
	border-right:1px solid rgba(255,255,255,0.3);
}

#eventlist-signup-wrapper {
	background: #fff;
	border-radius: 4px;
	margin:0;
	padding:3px 0 0 3px;
}

#list-signup-input {
	background: rgba(234, 111, 86, 0.5);
	padding: 10px 0 10px 8px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border:none;
	height: 67px;
	color:rgba(255,255,255,0.8);
	font-size:0.6em;

}

#list-signup-input:focus {
	color:#fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
	
}

#map-marker-h1-color, #map-marker-h1-dark {
	margin: 0px;
	font-size: 2em;
}

#map-marker-text {
	font-size: 1.2em;
	color: #AAA;
	margin: 5px;
}

#map-marker-h1-color {
	color: #ea6f56;
}

.leaflet-popup-pane {
	z-index: 2 !important;
}

.leaflet-popup-tip {
	display: none;
}

.leaflet-popup-content-wrapper {
	border-radius: 0px !important;
}

.placeholder {
	color:rgba(255,255,255,0.3);
	
}

.btn {
	font-family:'Archer Bold';
	color:#000;
}

#eventlist-signup-wrapper .btn {
	background:#fff;
	padding:0;
	height:70px;
	
}

#content-container {
	padding-bottom: 60px;
}


#reserve .btn {
	background: #fff;
	padding: 21px 0;
}

.btn-rouge {
	background-color: #ea6f56;
	border-color: #ea6f56;
	color: #EEE;
}

.rouge {
	color: #ea6f56;
}

.enlarged-text {
	font-size: 1.5em;
}


.btn-dark {
	background-color: #666;
	border-color: #666;
	color: #EEE;
}

.cell-breather {
	padding-right: 25px;
}

.event {
	padding: 25px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.event-list-time {
	margin-bottom: 10px;
	font-size: 1.2em;
}

.event:hover, .event:hover .date {
	color:#ea6f56;
}

.event-detail-img {
	width: 600px;
}

.event .date {
	text-align: center;
	padding: 0;
	font-size: 24px;
	font-family: "Archer Bold";
	color:rgba(0,0,0,0.3);
	
}

.event .date span {
	font-size: 50px;
	font-family: "Archer Bold";
	display: block;
	line-height: 50px;
	text-align: center;
}

.event-image {
	height: 200px;h
	float: left;

}

.event-description {
	max-height: 200px;
	overflow: hidden;
	padding-left: 40px;
	text-align: right;
}


.profiles {
	padding-left: 16px;
}


.homepage-user-descr {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(92, 71, 65, 0.82);
	color: #fff;
	overflow: hidden;
	padding: 5px;
	height: 170px;
	visibility: hidden;
	opacity: 0;
	z-index:1000;
}

.homepage-user-descr:hover {
  visibility: visible;
  opacity: 1;
}

.homepage-user-wrapper {
	position: relative;
	margin-right: 16px;
	margin-bottom: 16px;
}

.homepage-user-text {
	height: 140px;
	width: 160px;
	overflow: hidden;
	margin-bottom: 0px;
}

.homepage-user-link {
	color: #e71d99;
}

.homepage-user-wrapper:hover .homepage-user-text {
	visibility: visible;
	opacity: 1;
}
.homepage-user-wrapper:hover .homepage-user-link {
	visibility: visible;
	opacity: 1;
}

#location-map {
	height: 250px;
	margin-top: 50px;
}

.super-size {
	font-size:35px;
	font-weight: 200;
	line-height: 35px;
	margin-bottom: 30px;
}

.list-signup-submit {
	padding-left: 20px;
}

.btn-large-text {
	font-size: 20px;
}

#list-signup-input {
	line-height: 30px;
	font-size: 25px;
}

.values {
	padding: 10px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}

#eventsignup-response-fail {
	text-align: center;
	color: #bd362f;
}

#eventsignup-response-success {
	text-align: center;
	color: #51a351;
}

.profiles {
	padding-bottom: 20px;
}

.homepage-header-img {
	width: 100%;
}

.homepage-user-img {
	width: 170px;
	height: 170px;
}



.homepage-profile-img {
	width: 170px;
}

.footer-logo {
	float: left;
	height: 100px;
}

/* ==========================================================
============================[TODAY===========================
========================================================== */

#img-name, #big-img-name, .reverse-emph {
	background: #333;	
}

#img-name-back, #big-img-name-back {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 	/* IE 5, 6, 7 */
	filter: alpha(opacity=80); /* IE 8 & 9 */
	-moz-opacity:0.8; 	/* Older than Firefox 0.9 */
	-khtml-opacity: 0.8; 	/* Safari 1.x (pre WebKit!) */
	opacity: 0.8;
}

#img-name {
	color: #FFF;
	position: absolute;
	margin: 90px 0 0 0px;
	padding: 0 5px 0 5px;
	width: 100px;
}


.item { margin: 0 80px 0 80px; }

.carousel-control {
	margin: 0;
}

.big-img {
	position: static;
	display: block;
	float: left;
	width:400px;
	height: 400px;
	margin: 0 25px 25px 0;
	padding: 4px 4px 4px 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.carousel-img {
	width: 400px;
	height: 400px;
	overflow: hidden;
	display: block;
}



/* ==========================================================
==========================[GENERAL]==========================
========================================================== */

.container {
	width:100%;
	padding:0 15px;
}

p { }

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}


/* Class for centering columns. Add to column class eg. class='col-md-1 col-centered' */

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

#wrapbackgroundimg {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	background-image: url(/media/img/dining-retouched-small.jpg);
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

#wrapper-narrow {
	width: 700px;
}

#imageLoader {
	line-height: 0px;
	font-size: 16px;
}

.cropping_image {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.crop-result-wrapper {
  float: left;
}

#crop-result {
	display: none;
}

#crop-button {
	color: green;
}

#cropped-header {
	display: none;
}

.button-spacer {
	padding-top: 30px;
}

.footer {
	padding: 30px;
	background-color: #f5f5f5;
}

.embassy-footer {
	float: right;
	width: 375px;
	height: 125px;
	text-align: right;
}

.embassy-footer-text {
	float:right;
}

.hero-unit h1 {
	padding-bottom: 40px;
}

.hero-unit {
}

.hero-unit p {
}

.license {
}

.btn-xlarge {
}


.box-link {
}


.helptext {
}

p.notice {
	color: grey;
	font-style: italic;
}

.res-detail {
	padding-top: 10px;
	padding-bottom: 10px;
}

.res-modify-btn {
	width: 400px;
	padding-top:20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

.res-status-btn {
	cursor: default;
}

.timeline-tags {
	font-style: italic;
	font-size: 120%;
}

.new-reservation {
	padding-top: 30px;
}

.btn-inline {
	display: inline;
}

div.ui-datepicker{
 font-size:10px;
}

.btn-red {
	color: red;
	border: 1px;
}

.btn-red:hover {
	text-decoration: none;
	color: red;
}

.form-help-text {
	font-style: italic;
	font-size: 90%;
}

.field-wrapper {
	width: 475px;
	padding-bottom: 30px;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

img.profile-page-img {
	width: 200px;
	height: 200px;
}

img.profile-img-thumb {
	width: 100px;
	height: 100px;
}

.user-links {
	padding-top: 30px;
	padding-bottom: 30px;

}

.user-link {
	padding-right: 20px;
}

.icon-spacer {
	padding-right: 10px;
}

.icon-spacer-right {
	padding-right: 10px;
}

.icon-spacer-left {
	padding-left: 10px;
}


.label-inline {
	display: inline;
}

input#id_cvc {
	width: 35px;
}

input#id_expiration_month {
	width: 35px;
}

input#id_expiration_year {
	width: 65px;
}

.page-text {
	padding-bottom: 40px;
}

.field-wrapper-tight {
	width: 475px;
	padding-bottom: 10px;
}

.profile-snippet {
	padding-bottom: 20px;
}
.right-img-spacing {
	margin-right: 30px;
}

.clear {
	clear: both;
}

.bio-container {
	margin-top: 15px;
}

.bio-snippet-links {
	padding-top: 5px;
	padding-bottom: 5px;
}

#event-signup-input {
	margin-right: 15px;
	margin-left: 15px;
}

ul.errorlist {
	background-color: #ffcccc;
	list-style-type: none;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 80%;
	font-weight: bold;
}

.reservation-list-item {
	padding-bottom: 30px;
	border-top: 2px solid #eee;
}

.profile-peak {
	padding-left: 120px;
}

.reservation-title {
	padding-bottom: 10px;
	padding-top: 25px;
}

#reservation-sticky-info {
	background: #cfedb1;
    padding: 10px;
    position:static;
    right:310px;
    top:30px;
    width:250px;
}

#reassure {
	padding-top: 10px;
	font-style: italic;
	color: #e5ae09;
}

#by-month-nav {
	padding-top: 50px;
	margin: auto;
	width: 300px;
	text-align: center;
}

#guest-calendar table {
	width: 100%;
	font-size: 85%;
}
#guest-calendar li {
	list-style-type: none;
}

#guest-calendar ul {
	margin: 10px 20px 10px 20px;
}

#guest-calendar td {
	border: 2px;
	border-style: solid;
	border-color: #AAA;
	padding-left: 5px;
}

#guest-calendar tr {
	height: 60px;
}

#guest-calendar .full-today {
	background-color: rgba(255, 0, 0, 0.25);
}

#guest-calendar .today {
	font-weight: bold;
}

b.dark-red-bold {
	color: darkred;
}

.inline {
	display: inline;
}

.cal-day-total {
	color: #AAA;
}

.red-text {
	color: red;
}

.greyed-out {
	color: #999999;
}

.row-spacer {
	padding-bottom: 25px;
}

.reverse-emph {
	color: white;
	background-color: #999999;
	padding: 5px;
}

.center {
	text-align: center;
}

.title-size {
	font-size: 350%;
	padding:20px;
	margin-bottom: 20px;
}

.userprofile-card-form {
	padding-top: 10px;
}

#edit-profile {
	padding-top: 20px;
	text-align: right;
	width: 200px;
}

textarea#id_comments, textarea#id_purpose {
	height: 60px;
}

#res-status-area {
	padding-bottom: 15px;
	padding-top: 15px;
}

.res-value {
	float: right;
	padding-right: 40px;
}

#res-action-form {
	margin-bottom: 0px;
}

.res-field, .user-field, .res-action {
	padding-bottom: 10px;
}

#reservation-nav {
	margin-top: 30px;
	margin-bottom: 30px;
}

.manage-sidebar {
	width: 200px;
}

form.res-action {
	padding-bottom: 0px;
}

.res-value {
	padding-left: 100px;
}

.res-manage-btn {
	width: 450px;
	white-space: normal;
}

.has-availability {
	color: green;
}

.no-availability {
	color: red;
}

.greyed-out {
	font-color: grey;
}

div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
} 

.paid-bg-img {
	background: url(/media/img/paid-angle-30-trans.png) 50% 50% no-repeat;
	background-size: 70%;
}

#email-user-button {
	margin-bottom: 20px;
}

#email-footer {
	height: 5em;
}

#form-email-subject {
	width: 350px;
}

.email-form-label {
	width: 100px;
}

.last-contact {
	color: #999999;
}

#res-action-email-user #id_footer {
	height: 5em;
}

#id_subject {
	width: 400px;
}

.yes-available, .no-available {
	text-align: center;
}

.yes-available {
	background-color: green;
}

.no-available {
	background-color: #c7230a;
}

#rooms-available-calendar th {
	padding: 0 5px 0 5px;
	font-size: 90%;
}

#rooms-available-calendar input[type=radio] {
    display:none; 
    margin:10px;
}

.room-info {
	display: none;
}

.reservation-form-dates {
	padding-right: 15px;
}

.reservation-form-dates input {
	width: 150px;
}

#show-room-availability {
	padding-top: 50px;
}

.room-info-area {
	padding-top: 25px;
}

#reservation-additional-info {
	display: none;
	padding-top: 50px;
}

#id_arrival_time {
	width: 150px;
}

#id_purpose, #id_comments {
	height: 35px;
}

.label-optional-field  {
	color: #999;
}

#optional-fields {
	display: none;
}

#optional-fields-header {
	font-style: italic;
	padding-top: 0 0 5px 0;
	cursor: pointer;
}

.room-info-image {
	width: 200px;
}

.room-info-image-wrapper {
	padding-left: 40px;
}

#message-current-form #id_footer {
	height: 100px;
}

.link-light-color {
	color: #CCC;
}

#recipient-list {
	margin-top: 10px;
	margin-bottom: 20px;
}

.event-preview-img-thumb {
	width: 320px;
	height: 200px;
}

.event a, #more-events-link a {
	color: inherit;
}

.event a:hover {
	color:#ea6f56;
	text-decoration: none;
}

#more-events-link a:hover {
	color:#ea6f56;
	text-decoration: none;
}

