media
*.*~
*.swp
*.swo
*.swn
modernomad.db
*.pyc
local_settings.py
.DS_Store
celery.db
celery
local_templates/
local_templates_hidden/
backups
build/
backup/
gather
django.log
.vagrant
modernomad.komodoproject
modernomad/local_settings.py.bak