amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.20
django-behave
django-celery==3.1.17
django-compressor==2.2
django-debug-toolbar==1.5
django-environ==0.4.3
django-extensions==2.1.3
django-filter==0.15.3
django-flatpages-tinymce==0.1.1
django-graphiql==0.4.4
django-ical==1.5
django-jwt-auth==0.0.2
django-uuidfield==0.5.0
django-webpack-loader==0.3.3
Django>=1.9.12,<1.10
djangorestframework==3.6.4
eventbrite==3.3.3
graphene-django==1.1.0
graphene==1.0
graphql-core==1.1
graphql-relay==0.4.5
icalendar==4.0.3
kombu==3.0.34
lxml==3.5.0
markdown==3.0.1
Pillow==3.1.1
psycopg2-binary==2.7.5
python-dateutil==2.5.0
python-mimeparse==0.1.4
pytz==2015.7
requests==2.9.1
six==1.11.0
stripe==2.10.1
Werkzeug==0.14.1
gunicorn==19.7.1
whitenoise==3.3.1
django-storages==1.6.5
boto3==1.9.25
