Django==1.7.7
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
django-celery==3.1.16
django-flatpages-tinymce==0.1.1
django-gather==0.1
django-registration-redux==1.1
django-uuidfield==0.5.0
eventbrite==3.0.4
kombu==3.0.24
lxml==3.4.2
Pillow==2.8.1
psycopg2==2.6
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.2
requests==2.6.0
six==1.9.0
stripe

# Django Gather code
#git+https://git@github.com/opendoor/django-gather.git

# the stripe library requires custom arguments which the requirements.txt file
# parsing apparently doesn't support, so install it manually on the command
# line using:
# pip install --index-url https://code.stripe.com --upgrade stripe
