{% extends "root.html" %}
{% load staticfiles %}

{% block body %}

<div class="container">

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if not user.is_authenticated %}
	<h2>Register a new account</h2>
	<p>If you already have an account, you can <a href="/people/login/">log in</a> instead. </p>
{% else %}
	<h2>Tell us about yourself</h2>
{% endif %}

<p class="lead">Tells us a bit about who you are, what you're passionate
about, and possible connections around work, projects and ideas. </p><p class="lead"> No need to
write an epic essay, just share some touch points! This information will be
accessible to other members of the Embassy Network community as you travel
between locations for work and play.</p>

<hr>

<form class="registration-form" id="newprofileform" enctype="multipart/form-data" method="post">{% csrf_token %}

	<!-- image cropping -->
	{% if has_image %}
		<p id="img-upload-instruction">Update your Profile image here (optional).</p>
	{% else %}
		<p id="img-upload-instruction">Upload an image for your profile (required).</p>
	{% endif %}
	<p id="img-upload-error"></p>

	<input type="file" id="image_file"/>

	<div class="row" id="cropping-area">
		<div class="col-md-7 pull-left">
			<h3>Source</h3>
			<div id="image_input"></div>
		</div>
		<div class="col-md-5 pull-left">
			<h3>Your Avatar</h3>
			<img id="image_output" style="border:1px solid #000"/>
			<!-- <textarea id="image_source" style="height:100px;width:100px"> -->
			<input type="hidden" name="image" id="id_image">
		</div>
	</div>
	<div class="clear"></div>

	<!-- rest of the form -->
	{% for field in form %}
		<div class="form-group">
			{% if field.name != "image" %}
				{{ field.errors|safe }}
				{% if field.field.required %}
				<span class="text-danger"><sup><span class="small glyphicon glyphicon-asterisk"></span></sup>{{ field.label_tag }}</span>
				{% else %}
					{{ field.label_tag }}
				{% endif %}
				<span class="form-help-text">{{ field.help_text }}</span>
				<div class="form-field-body">
				{{ field }}
				</div>
			{% endif %}
		</div>
	{% endfor %}

  <input id="profilesubmit" class="btn btn-primary" type="submit" value="Submit" />

</form>

{% endblock %}

{% block extrajs %}

<!-- client side form validation -->
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script>
		$.validator.addMethod("strictEmail", function(value, element) {
			return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
			}, "Please provide a valid email address."
		);

		$.validator.addMethod("listOfUrls", function(value, element) {
			console.log("in listOfUrls");
			console.log(value);
			items = value.split(",");
			console.log(items.length);
			for (var i=0; i< items.length; i++) {
				var val_to_test = $.trim(items[i]);
				console.log("val to test");
				console.log(val_to_test);
				// new gTLDs can be up to 65 characters long :-O
				var valid = /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,64}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g.test(val_to_test);
				if (val_to_test.length > 0 && !valid) {
					console.log(valid)
					return false;
				}
				// JKS second check to see if there's a space. not sure where
				// the above regex IS allowing a space, but it is.  
				if (/ +/.test(val_to_test)) {
					return false;
				}
			}
			console.log("valid")
			return true;
			}, "One of the entered URLs is incorrectly formatted."
		);

		$("#newprofileform").validate({
			rules: {
				email: {
					required: true,
					strictEmail: true
				}, 
				links: {
					listOfUrls: true
				}
			}	
		});
</script>

<!-- image cropping -->
<script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.Jcrop.min.css' %}" />

<script>
	var inputFile = document.getElementById('image_file');
	inputFile.addEventListener('click', function() {this.value = null;}, false);
	inputFile.addEventListener('change', readData, false);

	function readData(evt) {
		$("#cropping-area").show();
		evt.stopPropagation();
		evt.preventDefault();
		var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
		var reader = new FileReader();
		reader.onload = (function(theFile) {
		return function(e) {
			var image = new Image();
			image.src = e.target.result;
			image.onload = function() {
			var canvas = document.createElement('canvas');
			canvas.width = 400;
			canvas.height = image.height * (400 / image.width);
			var ctx = canvas.getContext('2d');
			ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

			$('#image_input').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));

			var img = $('#image_input img')[0];
			var canvas = document.createElement('canvas');

			$('#image_input img').Jcrop({
				bgColor: 'black',
				bgOpacity: .6,
				setSelect: [0, 0, 200, 200],
				aspectRatio: 1,
				onSelect: imgSelect,
				onChange: imgSelect
			});

			function imgSelect(selection) {
				canvas.width = canvas.height = 200;

				var ctx = canvas.getContext('2d');
				ctx.drawImage(img, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);
			
				$('#image_output').attr('src', canvas.toDataURL());

				// JKS i don't understand the encoding scheme well enough
				// to know why we need to strip out the beginning data
				// prefix but it is necessary. 
				var img_data = canvas.toDataURL().match(/data:image\/(png|jpeg);base64,(.*)$/)[2];

				$('#id_image').val(img_data);
			}
			}
		}
		})(file);
		reader.readAsDataURL(file);
	}


	$("#newprofileform").submit(function (e) {
		if ('{{ has_image }}' != 'True' && ! $("#id_image").val() ) {
			$("#img-upload-error").html('<div class="error"><span class="glyphicon glyphicon-exclamation-sign"></span> Image is required.</div>');
			$('html,body').animate({ scrollTop: $("#img-upload-error").offset().top - 100})
			return false;
		}
	})

</script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
	<script>
		$("#id_city").keyup(function() {
			autocomplete = new google.maps.places.Autocomplete(this);
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();
				console.log(place);
				console.log(place.address_components);

			});
		});
	</script>
</div>
{% endblock %}

