{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="row"><div class="col-sm-10 col-sm-offset-1">
    {% if messages %}
    <div class="messages top-spacer">
        {% for message in messages %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if existing_user %}
        <h3>Edit Your Profile</h3>
    {% else %}
        <h3>Register for an Account</h3>
    {% endif %}

    <p>
        Introduce yourself! This information will be shared with other members of the community (and theirs with you).
    </p>
    {% if not user.is_authenticated %}
        <p>If you already have an account, you can <a href="/people/login/">log in</a> instead. </p>
    {% endif %}

    <hr/>

    <div class="row"><div class="col-md-6">
        <form class="registration-form form-horizontal" id="newprofileform" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.username }}

            <div class="form-group">
                {{ form.image.errors|safe }}
                <div class="row">
                    <label class="light col-sm-2 control-label">
                        {% if has_image %} Update image {% else %} Image {% endif %}
                    </label>
                    <div class="form-field-body col-sm-10">
                        {{ form.image }}
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="form-group">
                {{ form.bio.errors|safe }}
                <label class="light col-sm-2 control-label" for="{{form.bio.label.id_for_label}}">{{ form.bio.label }}</label>
                <div class="form-field-body col-sm-10">
                    {{ form.bio }}
                </div>
            </div>

            <div class="form-group">
                {{ form.projects.errors|safe }}
                <label class="light col-sm-2 control-label" for="{{form.projects.label.id_for_label}}">{{ form.projects.label }}</label>
                <div class="form-field-body col-sm-10">
                    {{ form.projects }}
                    <span class="form-help-text">{{ form.projects.help_text }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form.sharing.errors|safe }}
                <label class="light col-sm-2 control-label" for="{{form.sharing.label.id_for_label}}">{{ form.sharing.label }}</label>
                <div class="form-field-body col-sm-10">
                    {{ form.sharing }}
                    <span class="form-help-text">{{ form.sharing.help_text }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form.discussion.errors|safe }}
                <label class="light col-sm-2 control-label" for="{{form.discussion.label.id_for_label}}">{{ form.discussion.label }}</label>
                <div class="form-field-body col-sm-10">
                    {{ form.discussion }}
                    <span class="form-help-text">{{ form.discussion.help_text }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form.links.errors|safe }}
                <label class="light col-sm-2 control-label" for="{{form.links.label.id_for_label}}">{{ form.links.label }}</label>
                <div class="form-field-body col-sm-10">
                    {{ form.links }}
                    <span class="form-help-text">{{ form.links.help_text }}</span>
                </div>
            </div>

            <hr class="page-spacer">

            <div class="form-group">
                <div class="col-md-2">
                    <label>Account Information</label>
                </div>

                {{ form.first_name.errors|safe }}
                <div class="form-field-body col-sm-5">
                    {{ form.first_name }}
                    <span class="form-help-text">{{ form.first_name.help_text }}</span>
                </div>
                {{ form.last_name.errors|safe }}
                <div class="form-field-body col-sm-5">
                    {{ form.last_name }}
                    <span class="form-help-text">{{ form.last_name.help_text }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form.referral.errors|safe }}
                <div class="form-field-body col-sm-5 col-sm-offset-2">
                    {{ form.referral }}
                    <span class="form-help-text">{{ form.referral.help_text }}</span>
                </div>
                {{ form.city.errors|safe }}
                <div class="form-field-body col-sm-5">
                    {{ form.city }}
                    <span class="form-help-text">{{ form.city.help_text }}</span>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="form-field-body col-sm-5 col-sm-offset-2">
                    {{ form.email }}
                    <span class="form-help-text">{{ form.email.help_text }}</span>
                    {{ form.email.errors|safe }}
                </div>
                {{ form.city.errors|safe }}
                <div class="form-field-body col-sm-5">
                    {{ form.phone }}
                    <span class="form-help-text">{{ form.phone.help_text }}</span>
                </div>
            </div>

            <div class="form-group">
                {{ form.password1.errors|safe }}
                <div class="form-field-body col-sm-5 col-sm-offset-2">
                    {{ form.password1 }}
                    <span class="form-help-text">{{ form.password1.help_text }}</span>
                </div>
                {{ form.password2.errors|safe }}
                <div class="form-field-body col-sm-5">
                    {{ form.password2 }}
                    <span class="form-help-text">{{ form.password2.help_text }}</span>
                </div>
            </div>

            <div class="col-sm-10 col-sm-offset-2" id="profilesubmit-wrapper">
                <input id="profilesubmit" class="btn btn-primary" type="submit" value="Submit" />
            </div>

        </form>
    </div>

    <div class="col-md-4 col-md-offset-1" id="res-detail">
        {% if booking %}
            <div id="booking-amount-summary-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pending Booking: Summary</h3>
                    </div>
                    {% with booking.bill as bill %}
                        {% include 'snippets/booking_bill_line_items_and_payments.html' %}
                    {% endwith %}
                    <div class="panel-footer text-muted">
                        <em>Cancellation policy for the {{ booking.resource.name }} is {{booking.resource.cancellation_policy}}.</em>
                    </div>
                </div>
            </div>
        {% endif %}
    </div></div>
</div></div>
{% endblock %}

{% block extrajs %}
    <!-- client side form validation -->
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/waypoints-sticky.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script>
    $(function() {
        var availableUsers = [
            {% for user in all_users %}
                 "{{user.username}}",
            {% endfor %}
        ];
        $( "#id_referral" ).autocomplete({
            source: availableUsers
        });
    });

    $("#booking-amount-summary-box").waypoint('sticky');

    $("#id_city").keyup(function() {
        autocomplete = new google.maps.places.Autocomplete(this);
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();

        });
    });

    $.validator.addMethod("strictEmail", function(value, element) {
        return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
        }, "Please provide a valid email address."
    );

    $.validator.addMethod("strictPassword", function(value, element) {
        return value.length >= 6;
        }, "Password is too short."
    );


    $.validator.addMethod("listOfUrls", function(value, element) {
        items = value.split(",");
        for (var i=0; i< items.length; i++) {
            var val_to_test = $.trim(items[i]);
            // new gTLDs can be up to 65 characters long :-O
            var valid = /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,64}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g.test(val_to_test);
            if (val_to_test.length > 0 && !valid) {
                console.log(valid)
                return false;
            }
            // JKS second check to see if there's a space. not sure where
            // the above regex IS allowing a space, but it is.
            if (/ +/.test(val_to_test)) {
                return false;
            }
        }
        return true;
        }, "One of the entered URLs is incorrectly formatted."
    );

    $("#newprofileform").validate({
        ignore: [{% if existing_user %} 'email', 'password1', 'password2' {% endif %}],
        messages: {
            password2: {
                remote: "The passwords do not match.",
                strictPassword: "Your password is too short.",
            },
            email: {
                strictEmail: "Please provide a valid email address.",
                remote: "This email address is already in use. If you need to log in, please visit the <a href='{% url 'user_login' %}?next={ request.path|urlencode }'>login</a> page."
            },
        },
        rules: {
            image: {
                {% if not has_image %}
                    required: true
                {% endif %}
            },
            bio: {
                required: true
            },
            projects: {
                required: true
            },
            sharing: {
                required: true
            },
            discussion: {
                required: true
            },
            links: {
                listOfUrls: true
            },
            first_name: {
                required: true
            },
            last_name: {
                required: true
            },
            email: {
                required: true,
                strictEmail: true,
                {% if not existing_user %}
                remote: {
                    url: '{% url 'email_available' %}',
                    type: "post",
                    data: {'email': function() {return $( "#id_email" ).val()}}
                },
                {% endif %}
            },
            referral: {
                required: true
            },
            city: {
                required: true
            },
            password1: {
                {% if not existing_user %}
                    required: true,
                {% endif %}
            },
            password2: {
                {% if not existing_user %}
                    required: true,
                    strictPassword: true,
                {% endif %}
                equalTo: "#id_password1",
            }
        }
    });

    </script>
{% endblock %}
