{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
	<h1>{{ page_title|title }}</h1>
</div>

{% block createlink %}
<div id="event_create_link">
	[ <a href="{% url 'gather_create_event' location.slug %}">Add Event</a> ]
</div>
{% endblock %}

{% for event in events %}

<div class="row">
	<div class="col-md-12 event">
		<div class="col-md-1 date"><span class="day">{{ event.start|date:'j'}}</span>{{ event.start|date:'b'|title}}</div>
		<div class="col-md-11">
			<a href="{% url 'gather_view_event' location.slug event.id event.slug %}"> <h3 class="event-title">{{ event.title}}</h3> </a>
			<div class="col-md-4">
				<img class="event-preview-img-thumb" src="{{ event.image.url }}"/>
			</div>
			<div class="col-md-7"> 
				<div class="event-list-time">{{ event.start }} - {{ event.end }}</div>
				<div>{{ event.description|safe|linebreaks }} </div>
			</div>
		</div>
	</div>
</div>

{% empty %}

<p class="lead">No upcoming events! Why not <a href="{% url 'gather_create_event' location.slug %}">propose one?</a></p>	
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">previous</a>
        {% endif %}	

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}



