{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Event Hosting Guide</h1>

<h2 class="event-guide-title">Community Events</h2>
<div>
	We love to host creative and interesting events that are open to and enrich our community. Example of common and past events:
	<ul>
		<li>Meetups
		<li>Dinners
		<li>Hackathons
		<li>Speakers
		<li>Salons
		<li>Tastings
		<li>Workshops
		<li>Movie nights
		<li>Concerts
	</ul>

	Available for your event:
	<ul>
		<li>Giant freestanding screen (~4’ x 6’) and a projector
		<li>Dining room which can seat 20-30 easily
		<li>Living room can hold about 40, 50-60 with standing-room-only
		<li>Baby grand piano for performances
		<li>Kitchen for preparing food/snacks. We usually have some room to squeeze items that need refrigeration but not a ton. 
		<li>Downstairs movie area, seats 5-8 (movies can be shown on the big screen as well)
		<li>Serving platters, dishes and cutlery for about 60, wine glasses for about 40 (depending on where we are in the cycle of them breaking and being replaced) 
		<li>Speakers - we have one set of speakers that's often floating around the house either in the living room or on the lower level by the movie area. 
		<li>Lots of folding chairs - usually tucked away in a corner of the dining room or by the bottom of the main staircase on the ground floor. Some additional chairs also in the coworking area. 
		<li>Furniture - feel free to rearrange in particular the living and dining rooms as appropriate for your event; just put things back when you're done. 

	</ul>


	<h3>Hosting process</h3>
	<ul>
		<li><b>You are responsible for set up and spotless clean-up after.</b>
		<ul>
			<li>Putting back furniture
			<li>Washing and putting away all dishes from the event
			<li>Spot check for things left out or around. 
		</ul>
		<li>Supplies: You bring your own supplies of food and drink. You are welcome to use our dishes and plates. We have tons. 
		<li>Introduce yourself to people in the house. We have many residents and guests who are likely to attend and/or be around during setup or the event itself. 
		<li>Advertising: you are the host and so it’s up to you to decide how you want to promote the events. Many people use eventbrite.com or Facebook to track RSVPs and communicate with guests. If you would like us to advertise your event on our events list, Facebook or Twitter, we’d be very happy to. Please provide:
		<ul>
			<li>Date and time
			<li>Event description
			<li>An email announcement we can forward to our list
			<li>A Facebook post we can share
			<li>A Tweet we can retweet
		</ul>
	</ul>

	<h3>Pricing</h3>
		<ul>
			<li>Small free community events are free to host. 
			<li>If you are hosting a non-for-profit event but charging for tickets to cover costs, we ask for a $50 contribution to the house. This goes towards our costs of maintaining the space - we have cleaners regularly, extra garbage pickup to support events, and general upkeep/maintenance of furniture, glassware, electronics, and general tricked-out-ness to support awesome activities!
			<li>For-profit events are also welcome, but we ask for an appropriate revenue-share based on your event model.  
		</ul>
</div>

<h2 class="event-guide-title">Private Events</h2>
<div>
	We are also open to hosting private events if they advance a specific goal
	or aim in line with our community, or makes a meaningful financial
	contribution to house - which in turn goes towards supporting more open
	community events. Example:
	<ul>
		<li>Fundraisers
		<li>Special Company dinners
		<li>Courses
		<li>Wedding Showers
		<li>Small conferences and offsites
	</ul>
	Please contact us directly at <a href="mailto:events@embassynetwork.com">events@embassynetwork.com</a> to discuss your private event ideas! 
</div>

{% endblock %}

