<body style="color: #666666;">
<table cellspacing="0" cellpadding="0" border="0">
<tr><td width="600px">

{% if events_today %}
<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">Events happening today</p></td></tr>
    {% for event in events_today %}
         <tr><td width="600px"><p margin="0 0 1.6em 0">
          {{ event.title|title }} at {{ event.start|date:'f A' }}, https://{{ domain }}{% url 'gather_view_event' event.location.slug event.id event.slug %}
           </p></td></tr>
    {% endfor %}
</table>
{% endif %}

{% if arriving %}

<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">People arriving today</p></td></tr>
    {% for use in arriving %}

          <tr><td width="600px" style="font-size:110%;"><p margin="0 0 1.6em 0">
          {{ use.user.first_name }} {{ use.user.last_name }}, <a href="https://{{ domain }}{% url 'booking_detail' use.location.slug use.booking.id %}">{{ use.arrive }} - {{ use.depart }}</a> in {{ use.resource|safe }}
          </td></tr>
         <tr>
          <td width="600px"><img src="{{ MEDIA_URL }}{{ use.user.profile.image_thumb }}" style="border: solid 1px #AAAAAA; margin-right: 15px; margin-bottom:15px; float: left;" width="150" height="150"><p style="margin-top:0px;">{{ use.user.profile.bio}}</p></td>
         </tr>
         
    {% endfor %}
</table>

{% endif %}

{% if departing %}

<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">People departing today</p></td></tr>
    {% for use in departing %}

          <tr><td width="600px" style="font-size:110%;"><p margin="0 0 1.6em 0">
          {{ use.user.first_name }} {{ use.user.last_name }}, <a href="https://{{ domain }}{% url 'booking_detail' use.location.slug use.booking.id %}">{{ use.arrive }} - {{ use.depart }}</a> in {{ use.resource|safe }}
          </td></tr>
         <tr>
          <td width="600px"><img src="{{ MEDIA_URL }}{{ use.user.profile.image_thumb }}" style="border: solid 1px #AAAAAA; margin-right: 15px; margin-bottom:15px; float: left;" width="150" height="150"><p style="margin-top:0px;">{{ use.user.profile.bio}}</p></td>
         </tr>
         
    {% endfor %}
</table>

{% endif %}

</td>
</tr>
</body>
</table> 
