<body style="color: #666666;">
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td width="600px">

{% if events_today %}
<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">Events happening today</p></td></tr>
    {% for event in events_today %}
         <tr><td width="600px"><p margin="0 0 1.6em 0">
          {{ event.title|title }} at {{ event.start|date:'f A' }}, https://{{ domain }}{% url 'gather_view_event' event.location.slug event.id event.slug %}
           </p></td></tr>
    {% endfor %}
</table>
{% endif %}

{% if subscriptions_ready %}

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
        <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">Subscriptions with new bills</p></td></tr>
        {% for s in subscriptions_ready %}
            <tr><td width="600px"><p margin="0 0 1.6em 0">
            {{ s.user.get_full_name|title }}, ${{ s.price }}. https://{{ domain }}{% url 'subscription_manage_detail' location.slug s.id %}
            </p></td></tr>
        {% endfor %}
    </table>

{% endif %}

{% if arriving %}

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
        <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">People arriving today</p></td></tr>
        {% for use in arriving %}

            <tr><td width="600px" style="font-size:110%;"><p margin="0 0 1.6em 0">
            {{ use.user.first_name }} {{ use.user.last_name }}, <a href="https://{{ domain }}{% url 'booking_manage' use.location.slug use.booking.id %}">{{ use.arrive }} - {{ use.depart }}</a> in {{ use.resource|safe }} {% if not use.booking.is_paid %} (unpaid) {% endif %}
            </td></tr>
            <tr>
            <td width="600px"><img src="{{ MEDIA_URL }}{{ use.user.profile.image_thumb }}" style="border: solid 1px #AAAAAA; margin-right: 15px; margin-bottom:15px; float: left;" width="150" height="150"><p style="margin-top:0px;">{{ use.user.profile.bio}}</p></td>
            </tr>
            
        {% endfor %}
    </table>

{% endif %}

{% if departing %}

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
        <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">People departing today</p></td></tr>
        {% for use in departing %}

            <tr><td width="600px" style="font-size:110%;"><p margin="0 0 1.6em 0">
            {{ use.user.first_name }} {{ use.user.last_name }}, <a href="https://{{ domain }}{% url 'booking_manage' use.location.slug use.booking.id %}">{{ use.arrive }} - {{ use.depart }}</a> in {{ use.resource|safe }} {% if not use.booking.is_paid %} (unpaid) {% endif %}
            </td></tr>
            <tr>
            <td width="600px"><img src="{{ MEDIA_URL }}{{ use.user.profile.image_thumb }}" style="border: solid 1px #AAAAAA; margin-right: 15px; margin-bottom:15px; float: left;" width="150" height="150"><p style="margin-top:0px;">{{ use.user.profile.bio}}</p></td>
            </tr>
            
        {% endfor %}
    </table>

{% endif %}

{% if maybe_arriving %}

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0" style="font-size:140%;">
        Heads up! The following bookings are approved and show an arrival date of today but are not confirmed. May need to check in with the person.
    </p></td></tr>
        {% for use in maybe_arriving %}
            <tr><td width="600px"><p margin="0 0 1.6em 0">
            {{ use.user.first_name }} {{ use.user.last_name }}, {{ use.arrive }} - {{ use.depart }} in {{ use.resource|safe }} {% if not use.booking.is_paid %} (unpaid) {% endif %}
            <br>https://{{ domain }}{% url 'booking_manage' use.location.slug use.booking.id %}
            </p></td></tr>
        {% endfor %}
    </table>

{% endif %}


{% if pending_now or approved_now %}

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
    <tr><td width="600px"><p margin="0 0 1.6em 0"  style="font-size:140%;">
    The following bookings are awaiting action:
    </p></td></tr>
        {% for use in pending_now %}
            <tr><td width="600px"><p margin="0 0 1.6em 0">
            * {{ use.user.first_name }} {{ use.user.last_name }}, {{ use.arrive }} - {{ use.depart }} in {{ use.resource|safe }} ({{use.status}})
            <br>https://{{ domain }}{% url 'booking_manage' use.location.slug use.booking.id %}
            </p></td></tr>
        {% endfor %}
        {% for use in approved_now %}
            <tr><td width="600px"><p margin="0 0 1.6em 0">
            {{ use.user.first_name }} {{ use.user.last_name }}, {{ use.arrive }} - {{ use.depart }} in {{ use.resource|safe }} ({{use.status}})
            https://{{ domain }}{% url 'booking_manage' use.location.slug use.booking.id %}
            </p></td></tr>
        {% endfor %}
    </table>

{% endif %}

</td>
</tr>
</body>
</table> 
