<body style="color: #666666;">

<table cellspacing="0" cellpadding="0" border="0">

    <tr><td width="600px">

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">

        <tr><td width="600px"><p margin="0 0 1.6em 0">Howdy,</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0">A new booking has been submitted. The current status of this booking is [ {{ status }} ].<br> You can reply-all to discuss this booking with all admins.</p></td></tr> 
    </table>

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
        <tr>
            <td width="300px" style="font-size:140%;"><p margin="0 0 1.6em 0">{{ first_name }} {{ last_name }} <br> {{ room_name|safe }}  <br> {{ arrive }} to {{ depart }}</p></td> 
            <td width="300px" align="center"><p margin="0 0 1.6em 0"><img src="{{ user_image }}" style="border: solid 1px #AAAAAA; padding: 7px"></p></td>
        </tr>
    </table>

    <table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Purpose of trip</strong>: {{ purpose }}.</p></td></tr> 
        {% if comments %}
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Additional Comments</strong>: {{ comments }}.</p> </td></tr> 
        {% endif %}
        <tr><td width="600px" align="center" style="border-top: solid 1px #AAAAAA;"><p margin="0 0 1.6em 0"><strong> ABOUT THEM</strong></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Bio</strong>: {{ bio }}</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>How they heard about us</strong>: {{ referral}}</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Projects</strong>: {{ projects }}</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Sharing interests</strong>: {{ sharing }}</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0"><strong>Discussion interests</strong>: {{ discussion }}</p></td></tr> 
        <tr><td width="600px"><p margin="0 0 1.6em 0">You can manage this request, including email the user, at<br>{{ admin_url }}</p></td></tr> 
    </table>

</body>
