<body>
	<table cellspacing="0" cellpadding="0" border="0">
	
		<tr><td width="600px">

		<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
			<tr><td width="600px" align="center" style="font-size:140%;"><strong>RECEIPT</strong></td></tr> 
			<tr><td width="600px" align="center" style="font-size:140%;"><strong>The Embassy Network</strong></td></tr>
			<tr><td width="600px" align="center" style="font-size:140%;"><strong>Reimagine Home</strong></td></tr>
		</table>

		<p margin="0 0 1.6em 0" style="font-size:120%;"> {{ first_name }} {{last_name}} </p>
		<p margin="0 0 1.6em 0"> Paid on: {{ payment_date }} </p>

		<table border="0" cellspacing="0" cellpadding="0" border="0">
			<tr><td width="150px"><strong>Arrival Date:</strong></td><td width="150px"> {{ arrive }}</td></tr>
			<tr><td width="150px"><strong>Departure Date:</strong></td><td width="150px"> {{ depart }}</td></tr>
			<tr><td width="150px"><strong>Payment Method:</strong></td><td width="150px"> {{ payment_method|title }}</td></tr>
			<tr><td width="150px"><strong>Transaction ID:</strong></td><td width="150px"> {{ transaction_id }}</td></tr>
		</table>

		<tr><td width="600px"><p margin="1.6em 0 1.6em 0"><hr></p></td></tr>

		<table border="0" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<th align="left" width="200px">Description</th><th align="center" width="200px">Quantity</th><th align="right" width="200px">Rate</th>
		</tr>
		<tr>
			<td align="left" width="200px"><p margin="0 0 1.6em 0">{{ room }}</p></td>
			<td align="center" width="200px"><p margin="0 0 1.6em 0">{{ num_nights }}</p></td>
			<td align="right" width="200px"><p margin="0 0 1.6em 0">${{ rate }}</p></td>
		</tr>
		<tr>
			<td colspan="3" align="right" width="600px">Total Paid: ${{ total_paid }}</td>
		</tr>
			<td colspan="3" align="right" width="600px"><strong>Thank you!</strong>
		</tr>
		</table>

		<p margin="0 0 0.6em 0">Have fun on your onward adventures!</p> 
		<p margin="0 0 0.6em 0">The Embassy Team</p>

		<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
		<tr>
			<td width="600px" align="center">:::: Embassy Network Incorporated 399 Webster Street, San Francisco, CA, 94117 ::::
			</td>
		</tr>
		<tr>
			<td width="600px" align="center">:::: California Benefit Corporation, EIN 45-5386726 ::::
			</td>
		</tr>
		</table>

	</td></tr>
</body></table>