{% load staticfiles %}
<div class="row top-spacer-large">

	{% if available_reservations %}

	<div class="col-md-9 col-sm-12" id="availability-area">
		<div id="rooms-available-calendar">
			{% for room in available_reservations.keys %}
				<div class="col-lg-6">
					<label for="select-room-{{room.id}}" id="label-room-{{room.id}}" class="room-panel room-select">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{room.name}} <span class="pull-right">${{room.default_rate|floatformat:0}}</span></h3>
  							</div>
							<div class="panel-body">
								<div class="billing-message center">Scroll down to submit</div>
								<p class="room-avail-descr">{{ room.description|truncatechars:150 }}</p>
								<img src="/media/{{room.image}}" class="room-info-image" />
							</div>
						</div>
					</label>
					<input type="radio" name="room" id="select-room-{{room.id}}" value="{{room.id}}">
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="col-md-3 col-sm-12" id="detail-sidebar">

		<div>
		<form id="the-reservation-form" method="post" role="form" action="{% url 'location_stay' location.slug %}" >{% csrf_token %}
			<input id="id_arrive" type="hidden" name="arrive" value="{{arrive_date}}">
			<input id="id_depart" type="hidden" name="depart" value="{{depart_date}}">

			{% for room, res_dict in available_reservations.items %}

			<input type="hidden" name="room" id="select-room-{{room.id}}" value="{{room.id}}">

			<div class="room-info" id="room-info-{{room.id}}">

				<div class="panel panel-default">
					<div class="panel-heading" id="mock-invoice-panel-heading">
						{{arrive|date:"F d"}} - {{depart|date:"F d"}}
					</div>
					<table class="table">
						<tbody id="reservation-items">
							{% for line_item in res_dict.bill_line_items %}
							{% if not line_item.paid_by_house %}
							<tr class="a-room-fee">
								<td>{{ line_item.description }}</td>
								<td>${{ line_item.amount|floatformat:2 }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
						<tbody>
							<tr>
								<td><strong>Total</strong></td>
								<td><strong>$<span id="room-{{room.id}}-reservation-total">{{ res_dict.total|floatformat:2 }}</span></strong></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div><!-- end room-info -->

			{% endfor %}

			<div id="reservation-additional-info">

				<div class="field-wrapper">	
					<label for="id_purpose"><sup><i class="fa fa-asterisk text-danger"></i></sup> Tell us a little about the purpose of your trip</label>
					<div class="form-field-body form-group">
						<textarea class="form-control" id="id_purpose" rows="10" cols="40" name="purpose" required></textarea>
					</div>
				</div>

				<p id="optional-fields-header">
				<i id="optional-fields-header-icon" class="fa fa-chevron-circle-right"></i>
				Optional fields: arrival time and additional comments
				</p>

				<div id="optional-fields">
					<div class="field-wrapper">	
						<label for="id_arrival_time">Arrival time</label>
						<div class="form-field-body form-group">
							<input class="form-control" id="id_arrival_time" type="text" name="arrival_time" maxlength="200" />	
						</div>
					</div>
					<div class="field-wrapper">	
						<label for="id_comments">Additional comments</label>
						<span class="form-help-text"></span>
						<div class="form-field-body form-group">
							<textarea class="form-control" id="id_comments" rows="3" cols="40" name="comments"></textarea>							
						</div>
					</div>
				</div>
			</div><!-- end reservation-additional-info -->

			<input id="submit-reservation" type="submit" class="btn btn-success" value='Submit'>
		</form>
		</div>

	</div><!-- end col-md-6 -->

	{% else %}

	<div class="col-md-9 col-sm-12" id="availability-area">
		<p class="lead">There is no availability for these dates in a single room. You may wish to check the <a href="#showavailability" id="click-availability-tab">availability matrix</a> to see if your dates can be accommodated across multiple rooms</p>
	</div>

	{% endif %}
</div>

<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script>
		$("#the-reservation-form").validate();
</script>
