{% load staticfiles %}
{% load core_tag_extras %}

<div class="row">

	<div class="col-md-4">
	<ul class="nav nav-tabs nav-justified" id="reservation-tabs" role="tablist">
		<li class="reservation-info-tab active" role="presentation"><a href="#chooseroom" aria-controls="chooseroom" role="tab" data-toggle="tab">Available Rooms</a></li>
		<li class="reservation-info-tab" role="presentation"><a href="#showavailability" aria-controls="showavailability" role="tab" data-toggle="tab" >Availability Matrix</a></li>
	</ul>
	</div>

	<div class="tab-content">

		<div role="tabpanel" class="tab-pane active" id="chooseroom">
			{% include 'snippets/available_rooms.html' %}
		</div><!-- end tab chooseroom -->

		<div role="tabpanel" class="tab-pane" id="showavailability">
			{% include 'snippets/availability_details.html' %}
		</div>
	
-	</div>

<script>

$(function(){

	$("#optional-fields-header").click(function() {
		$("#optional-fields").slideToggle("slow");
		$("#optional-fields-header-icon").toggleClass("fa-chevron-circle-right fa-chevron-circle-down")
	});

    $('[data-toggle="tooltip"]').tooltip();
	$("#the-reservation-form").waypoint('sticky');

	$(".room-select .billing-message").hide();

	$(".room-select").click(function() {
		console.log('in room select');
		$("#the-reservation-form").hide();
		// relies on the fact that the input tag is directly after the label tag
		// for each room option.
		$(this).next().prop("checked", true);
		bed_id = $(this).next().val();
		bed_info_div_id = "#bed-info-" + bed_id;
		$('#res-selected-bed').val(bed_id)

		$(".room-info").hide();
		
		// update styling on the rooms that are not currently selected
		$(".room-select").removeClass("emphasize");
		$(".room-select").addClass("room-subtle");
		$(".room-select .billing-message").hide();

		// update styling for the room that is currently selected.
		$(this).removeClass("room-subtle");
		$(this).addClass("emphasize");
		if ($(window).width() <= 992 ) {
			$(".emphasize .billing-message").slideDown( "slow");
			$(".emphasize .billing-message").delay(1200);
			$(".emphasize .billing-message").slideUp( "slow");
		}
		$("#the-reservation-form").show();
		$(bed_info_div_id).show();
	});

	$("#the-reservation-form").hide();

    $(document).ready(function() {
        set_summary_width('#the-reservation-form');
    });
    $(window).resize(function() {
        set_summary_width('#the-reservation-form');
	});

	$("#click-availability-tab").click(function() {
		$('#reservation-pills a[href="#showavailability"]').tab('show')
	});

})

</script>
