<div class="row top-spacer-large">

	<div class="col-md-4" id="availability-area">
		<table id="rooms-available-calendar">
			{% for room in available_reservations.keys %}
			<tr>
				<td class="cell-breather"> 
					<label for="select-room-{{room.id}}" id="label-room-{{room.id}}" class="room-select">
						<div class="panel panel-default">
							<div class="panel-body">
								<img src="/media/{{room.image}}" class="img-rounded room-info-image" />
							</div>
							<div class="panel-footer">{{room.name}} ${{room.default_rate}}/night</div>
						</div>
					</label>
					<input type="radio" name="room" id="select-room-{{room.id}}" value="{{room.id}}">
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="col-md-6 col-md-offset-1" id="detail-sidebar">

		<div id="the-reservation-form">
		<form method="post" role="form" action="{% url 'location_stay' location.slug %}" >{% csrf_token %}
			<input id="id_arrive" type="hidden" name="arrive" value="{{arrive_date}}">
			<input id="id_depart" type="hidden" name="depart" value="{{depart_date}}">

			{% for room, res_dict in available_reservations.items %}
			<input type="hidden" name="room" id="select-room-{{room.id}}" value="{{room.id}}">

			<div class="room-info" id="room-info-{{room.id}}">

				<div class="row">
					<div class="col-md-12">
						<h3 class="alert alert-warning">{{room.name}} ${{ room.default_rate }}/night</h3>
						<p>{{ room.description }}</p>
					</div>
					<div class="col-md-12">
						<img src="/media/{{room.image}}" class="img-rounded room-info-image" />
					</div>
				</div>

				<div class="panel panel-default top-spacer">
					<div class="panel-heading">
						<h3 class="panel-title">Reservation Summary {{dates.0|date:"F d"}} - {{dates|last|date:"F d"}}</h3>
					</div>
					<table class="table">
						<tbody id="reservation-items">
							{% for line_item in res_dict.bill_line_items %}
							{% if not line_item.paid_by_house %}
							<tr class="a-room-fee">
								<td>{{ line_item.description }}</td>
								<td>${{ line_item.amount|floatformat:2 }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
						<tbody>
							<tr>
								<td><strong>Total</strong></td>
								<td><strong>$<span id="reservation-total">{{ res_dict.total|floatformat:2 }}</span></strong></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div><!-- end room-info -->

			{% endfor %}

			<div id="reservation-additional-info">

				<div class="field-wrapper">	
					<label for="id_purpose"><sup><i class="fa fa-asterisk text-danger"></i></sup> Tell us a little about the purpose of your trip</label>
					<span class="form-help-text"></span>
					<div class="form-field-body form-group">
						<textarea class="form-control" id="id_purpose" rows="10" cols="40" name="purpose"></textarea>
					</div>
				</div>

				<p id="optional-fields-header">
				<i id="optional-fields-header-icon" class="glyphicon glyphicon-plus"></i>
				Optional fields: arrival time and additional comments
				</p>

				<div id="optional-fields">
					<div class="field-wrapper">	
						<label for="id_arrival_time">Arrival time</label>
						<div class="form-field-body form-group">
							<input class="form-control" id="id_arrival_time" type="text" name="arrival_time" maxlength="200" />	
						</div>
					</div>
					<div class="field-wrapper">	
						<label for="id_comments">Additional comments</label>
						<span class="form-help-text"></span>
						<div class="form-field-body form-group">
							<textarea class="form-control" id="id_comments" rows="3" cols="40" name="comments"></textarea>							
						</div>
					</div>
				</div>
			</div><!-- end reservation-additional-info -->

			<input id="submit-reservation" type="submit" class="btn btn-success disabled" value='Submit Request'>
		</form>
		</div>

	</div><!-- end col-md-6 -->

</div>

