<p class="lead">Choose an available room</p>
<table id="rooms-available-calendar">
	<tr>
	<th>Room</th>
	{% for date in dates %}
	<th>{{ date|date:"M d" }}</th>
	{% endfor %}
	</tr>

	{% for room, days_list in availability_table.items %}
	<tr>
		<td class="cell-breather"> 
		{% if room in available_reservations %}
			<label for="select-room-{{room.id}}" id="label-room-{{room.id}}" class="btn btn-default btn-block room-select">{{room.name}}</label>
			<input type="radio" name="room" id="select-room-{{room.id}}" value="{{room.id}}">
		{% else %}
			<div data-toggle="tooltip"
                 data-placement="top"
                 title="This room is unavailable for your date range">
                <div class="btn btn-block disabled">
				    {{room.name}}
                </div>
			</div>
		{% endif %}
		</td>

		{% for the_day, beds_free in days_list.items %}
		<td>
			{% if beds_free > 0 %}
				<div class="yes-available bg-success"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="{{ beds_free }} bed{{ beds_free|pluralize }} available">
                     {{ beds_free }}
                 </div>
			{% else %}
				<div class="no-available bg-muted"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="No beds available">0</div>
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<div class="room-info-area">
{% for room, res_dict in available_reservations.items %}
<div class="room-info" id="room-info-{{room.id}}">
	{% if room.image %}
        <div class="row">
		    <div class="col-md-6">
	{% endif %}
                <h3>{{room.name}}</h3>
                <p><strong>Rate:</strong> ${{ room.default_rate }}/night for {{ res_dict.nights }} night{% if res_dict.nights > 1 %}s{%endif %}</p>
                <p>{{ room.description }}</p>
    {% if room.image %}
            </div>
            <div class="col-md-6">
                <img src="/media/{{room.image}}" class="img-rounded room-info-image" />
            </div>
        </div>
    {% endif %}
</div>
{% endfor %}
</div>

<script>
$(".room-select").click(function() {
	// relies on the fact that the input tag is directly after the label tag
	// for each room option.
	$(this).next().prop("checked", true);
	room_id = $(this).next().val();
	room_info_div_id = "#room-info-" + room_id;

	$(".room-info").hide();
	$("#reservation-items").empty()
	$(".room-select").removeClass("btn-success")
	$(this).addClass("btn-success");
	$(room_info_div_id).show();
	$("#reservation-additional-info").show();
	room_name = $(this).text();
	res_value = $("#res-value-" + room_id).text();
	$("#submit-reservation").val("Submit request for " + room_name + " at " + res_value);

	// inject the fees and subtotal info for this room when selected
	{% for room, res_dict in available_reservations.items %}
	if ('{{room.id}}' == room_id) {
		{% for line_item in res_dict.bill_line_items %}
			{% if not line_item.paid_by_house %}
				$("#reservation-items").append('<tr class="a-room-fee"> \
				                                <td>{{ line_item.description }}</td> \
				                                <td>${{ line_item.amount|floatformat:2 }}</td> \
				                                </tr>');
			{% endif %}
		{% endfor %}
		$("#reservation-total").html("{{ res_dict.total|floatformat:2 }}")
	}
	{% endfor %}
});

$('[data-toggle="tooltip"]').tooltip();
</script>
