{% load staticfiles %}

<div class="row">

	<ul class="nav nav-pills nav-justified" id="reservation-pills" role="tablist">
		<li class="reservation-info-tab active" role="presentation"><a href="#chooseroom" aria-controls="chooseroom" role="tab" data-toggle="tab">Available Rooms {{dates.0|date:"m/d"}} - {{dates|last|date:"m/d"}}</a></li>
		<li class="reservation-info-tab" role="presentation"><a href="#showavailability" aria-controls="showavailability" role="tab" data-toggle="tab" >Availability Details</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="chooseroom">
			{% include 'snippets/available_rooms.html' %}
		</div><!-- end tab chooseroom -->

		<div role="tabpanel" class="tab-pane" id="showavailability">
			{% include 'snippets/availability_details.html' %}
		</div>
	
	</div>

<script src="{% static 'js/waypoints.js' %}"></script>
<script src="{% static 'js/waypoints-sticky.js' %}"></script>
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
<script>
$(function(){

	$("#optional-fields-header").click(function() {
		$("#optional-fields").slideToggle("slow");
		$("#optional-fields-header-icon").toggleClass("icon-plus icon-minus")
	});

	// the purpose field is only visible when the other fields have been
	// filled out, so if the purpose field has content then all required
	// fields are present and the submit button should be enabled.
	$("#id_purpose").keyup(function() {
		if (! !$.trim($("#id_purpose").val())) {
			console.log("form is ready to submit!")
			$("#submit-reservation").prop("disabled", false);
			$("#submit-reservation").removeClass("disabled")
			$("#submit-reservation").addClass("btn-success")
		} else {
			$("#submit-reservation").prop("disabled", true);
			$("#submit-reservation").addClass("disabled")
			$("#submit-reservation").removeClass("btn-success")
		}
	});

    $('[data-toggle="tooltip"]').tooltip();
	//$("#the-reservation-form").waypoint('sticky');

	$(".room-select").click(function() {
		$("#the-reservation-form").hide();
		// relies on the fact that the input tag is directly after the label tag
		// for each room option.
		$(this).next().prop("checked", true);
		room_id = $(this).next().val();
		console.log(room_id);
		room_info_div_id = "#room-info-" + room_id;
		console.log(room_info_div_id);

		$(".room-info").hide();
		$(".room-select").addClass("room-subtle")
		$(this).removeClass("room-subtle");
		$("#the-reservation-form").show();
		$(room_info_div_id).show();
	});

	// display info about the first room
	$(".room-select")[0].click();

	function set_summary_width() {
        box_width = $('#the-reservation-form').parent().width();
        $('#the-reservation-form').width(box_width);
    }
    $(document).ready(function() {
        set_summary_width();
    });
    $(window).resize(function() {
        set_summary_width();
	});

	$(function() {

		var $window = $(window);
		var lastScrollTop = $window.scrollTop();
		var wasScrollingDown = true;

		$sidebar = $("#the-reservation-form");
		if ($sidebar.length > 0) {

			initialSidebarTop = $sidebar.offset().top;
			//initialSidebarTop = $sidebar.position().top;
			console.log('initial sidebar top');
			console.log(initialSidebarTop);

			$window.scroll(function(event) {

				var windowHeight = $window.height();
				var sidebarHeight = $sidebar.outerHeight();

				var scrollTop = $window.scrollTop();
				var scrollBottom = scrollTop + windowHeight;

				var sidebarTop = $sidebar.position().top;
				var sidebarBottom = sidebarTop + sidebarHeight;

				var heightDelta = Math.abs(windowHeight - sidebarHeight);
				var scrollDelta = lastScrollTop - scrollTop;
				
				var isScrollingDown = (scrollTop > lastScrollTop);
				var isWindowLarger = (windowHeight > sidebarHeight);

				console.log("scrolltop, initialsidebartop, heightdelta");
				console.log(scrollTop);
            	console.log(initialSidebarTop);
            	console.log(heightDelta);
            

				if ((isWindowLarger && scrollTop > initialSidebarTop) || (!isWindowLarger && scrollTop > initialSidebarTop + heightDelta)) {
					$sidebar.addClass('fixed');
				} else if (!isScrollingDown && scrollTop <= initialSidebarTop) {
					$sidebar.removeClass('fixed');
				}

				var dragBottomDown = (sidebarBottom <= scrollBottom && isScrollingDown);
				var dragTopUp = (sidebarTop >= scrollTop && !isScrollingDown);

				if (dragBottomDown) {
					if (isWindowLarger) {
						$sidebar.css('top', 0);
					} else {
						$sidebar.css('top', -heightDelta);
					}
				} else if (dragTopUp) {
					$sidebar.css('top', 0);
				} else if ($sidebar.hasClass('fixed')) {
					var currentTop = parseInt($sidebar.css('top'), 10);
					
					var minTop = -heightDelta;
					var scrolledTop = currentTop + scrollDelta;
					
					var isPageAtBottom = (scrollTop + windowHeight >= $(document).height());
					var newTop = (isPageAtBottom) ? minTop : scrolledTop;
					
					$sidebar.css('top', newTop);
				}

				lastScrollTop = scrollTop;
				wasScrollingDown = isScrollingDown;
			});
		}
	});

})

</script>
