{% load staticfiles %}

<div class="modal fade" id="email-signup-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-med">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title">Almost There...</h3>
			</div>
			<div class="modal-body">
				<h4>Create an account to receive weekly notifications of upcoming events at this location. </h4> 	
				<p><em>Already a member? <a href="{% url 'user_login' %}">Login instead</a></em></p>
				<div id="new-user-form-errors"></div>
				<form id="new-user-form" class="form-horizontal">
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.first_name.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.first_name }}
						{{ new_user_form.first_name.errors }}
						</span>
					</div>
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.last_name.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.last_name }}
						{{ new_user_form.last_name.errors }}
						</span>
					</div>
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.username.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.username }}
						{{ new_user_form.username.errors }}
						</span>
					</div>
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.email.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.email }}
						{{ new_user_form.email.errors }}
						</span>
					</div>
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.password1.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.password1 }}
						{{ new_user_form.password1.errors }}
						</span>
					</div>
					<div class="form-group">
						<span class="col-sm-3">
						{{ new_user_form.password2.label_tag }}
						</span>
						<span class="col-sm-9">
						{{ new_user_form.password2 }}
						{{ new_user_form.password2.errors }}
						</span>
					</div>
					<input class="btn btn-default" type="submit" value="Sign up">
				</form>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script>
	$("#new-user-form").submit(function(event) {
		form_data = $("#new-user-form").serialize();
		form_data = form_data + '&csrfmiddlewaretoken=' + '{{ csrf_token }}';
		request = $.ajax({ 
			data: form_data,	
			type: "POST",
			url: "{% url 'gather_new_user_email_signup' location.slug %}"
		});

		request.done(function(msg) {
			if (msg.length > 0) {
				data = JSON.parse(JSON.parse(msg));
				if (data.errors) {
					console.log("errors");
					errors = data.errors;
					error_html = "<div class='text-danger'>There were errors in the form:</div>";
					for (var k in errors) {
						error_html += '<div class="text-danger">' + k + ': ' + errors[k] + '</div>';
					}
					console.log(error_html);
					$("#new-user-form-errors").html(error_html);
				} else {
					console.log("shouldn't be here...");
				} 
			} else {
				console.log("success");
				location.reload();
			}
		});

		request.fail(function(msg) {
			$("#attendance-message").html('<span class="bg-danger">Oops, there was a problem. Please try again.</span>')
		});

		event.preventDefault();
	});
</script>
