{% load ifappexists %}

<nav class="navbar navbar-default" id="nav-location" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#house-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'location_detail' location.slug %}">
            {% if location.visibility == 'link' %}
                <i class="text-warning fa fa-eye" title="Location is unlisted but visible to anyone with the link" ></i>
            {% elif location.visibility == 'members' %}
                <i class="text-danger fa fa-eye" title="Location is visible to explicit members only" ></i>
            {% endif %}
            {{ location.name }}
        </a>
    </div>
    <div class="collapse navbar-collapse" id="house-navbar">
        <ul class="nav navbar-nav">
            {% for menu in location.get_menus %}
                {% if menu.page_count == 1 %}
                    {% for page in menu.pages.all %}
                        <li><a href="{{ page.flatpage.url }}">{{ page.flatpage.title }}</a></li>
                    {% endfor %}
                {% elif menu.page_count >= 2 %}
                    <li class="dropdown">
                    <a class="dropdown-toggle" id="drop{{ forloop.counter }}" role="button" data-toggle="dropdown" href="#">
                        {{ menu.name }} <b class="caret"></b>
                    </a>
                    <ul id="menu0" class="dropdown-menu" role="menu" aria-labelledby="drop{{ forloop.counter }}">
                        {% for page in menu.pages.all %}
                        <li><a href="{{ page.flatpage.url }}">{{ page.flatpage.title }}</a></li>
                        {% endfor %}
                    </ul>
                    </li>
                {% endif %}
            {% endfor %}

            {% if location.rooms_with_future_capacity %}
                <li><a href="{% url 'location_stay' location.slug %}">Stay</a></li>
            {% endif %}

            {% ifappexists gather %}
            <li class="dropdown">
            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
                Events <b class="caret"></b>
            </a>
            <ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li><a href="{% url 'gather_upcoming_events' location.slug %}">Upcoming</a></li>
                <li><a href="{% url 'gather_create_event' location.slug %}">New Event</a></li>
                <li><a href="{% url 'gather_past_events' location.slug %}">Past Events</a></li>
            </ul>
            </li>
            {% endifappexists %}

            {% if user in location.house_admins.all or user in location.residents.all or user in location.readonly_admins.all %}
            <li class="dropdown">
            <a class="dropdown-toggle" id="drop3" role="button" data-toggle="dropdown" href="#">
                {% if user in location.house_admins.all %}
                    Manage
                {% else %}
                    House Info
                {% endif %}
                <b class="caret"></b>
            </a>
            <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop3">
                {% if location.resources.count > 0 %}
                    {% if user in location.house_admins.all or user in location.residents.all or user in location.readonly_admins.all %}
                        <li><a tabindex="-1" href="{% url 'location_occupancy' location.slug %}">Occupancy</a></li>
                        <li><a tabindex="-1" href="{% url 'location_payments_today' location.slug %}">Payments</a></li>
                        <li><a href="{% url 'location_calendar' location.slug %}">Guest Calendar</a></li>
                        <li><a href="{% url 'manage_today' location.slug %}">Arrive & Depart Today</a></li>
                    {% endif %}
                    {% if user in location.house_admins.all %}
                        <li><a tabindex="-1" href="{% url 'booking_manage_list' location.slug %}">Bookings</a></li>
                        <li><a href="{% url 'booking_manage_create' location.slug %}">New Booking</a></li>
                        <li><a href="{% url 'subscriptions_manage_list' location.slug %}">Subscriptions</a></li>
                    {% endif %}
                {% endif %}
                {% if user in location.house_admins.all %}
                    {% ifappexists gather %}
                        <li><a tabindex="-1" href="{% url 'gather_needs_review' location.slug %}">Pending Events</a></li>
                    {% endifappexists %}
                    <li><a tabindex="-1" href="{% url 'location_edit_settings' location.slug %}">Edit Location</a></li>
                {% endif %}
            </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
