<ul class="nav nav-pills nav-stacked">
    <li id="manage_rooms_help"><a href="{% url 'location_manage_rooms' location.slug %}"><h5>Help</h5></a></li>
    <li id="manage_rooms_new_room"><a href="{% url 'location_new_room' location.slug %}"><h5>New Room</h5></a></li>
    <hr>

    {% for room in rooms %}
    <li id="manage_rooms_edit_room_{{room.id}}" role="presentation">
        <a href="{% url 'location_edit_room' location.slug room.id %}"><h5>{{room.name}}</h5></a>
    </li>
    {% endfor %}
</ul>
