	<h3>Payments</h3>

	{% if bill.payments %}
	<table id="payment-details" class="table">
		<thead>
			<th>Date</th>
			<th>Method</th>
			<th class="money">Amount</th>
			<th></th>
		</thead>
		{% for p in bill.non_refund_payments %}
			<form class="res-refund" id="res-refund-{{payment_id}}" 
				method="POST" action="{% url 'manage_payment' location.slug bill.id%}">
				{% csrf_token %}
				<input name="payment_id" type="hidden" value="{{p.id}}">
				<tr {% if p.is_fully_refunded %} class="greyed-out" {% endif %}>
					<td>{{ p.payment_date }}
					<td>{{ p.payment_method }}{% if p.last4 %} (***{{p.last4}}){% endif %}</td>
					<td class="money">${{ p.paid_amount|floatformat:2 }}</td>
					<td class="money">
						{% if p.is_fully_refunded %} 
							<em>Refunded</em>
						{% elif not p.transaction_id == "Manual" %}
							<a class="btn btn-danger pull-right" id="show-refund-details-{{forloop.counter}}" onclick="toggleRefundDetails({{forloop.counter}}); return false;">Refund?</a>
						{% endif %}
					</td>
				</tr>
				{% for refund in p.refund_payments %}
					{% if not refund.is_fully_refunded %}
						<tr>
							<td><small><em>{{ refund.payment_date }}</em></small></td>
							<td><small><em>Partial refund</em></small></td>
							<td class="money"><small><em>{{ refund.paid_amount }}</em></small></td>
							<td> </td>
						</tr>
					{% endif %}
				{% endfor %}
		
				<tr id="refund-details-{{forloop.counter}}">
					<td>
						<label class="radio-inline">
							<input type="radio" name="refund-options" id="full" onclick="UpdateRefundValue({{forloop.counter}}, {{p.net_paid}}, 'readonly')" value="full-refund" checked> Full 
						</label>
					</td>
					<td>
						<label class="radio-inline">
							<input type="radio" name="refund-options" id="partial" onclick="UpdateRefundValue({{forloop.counter}}, '', 'readwrite')" value="partial-refund"> Partial
						</label>
					</td>
					<td>
						<input type="number" min="0" max="{{p.net_paid}}" name="refund-amount" id="refund-amount-{{forloop.counter}}" value="{{p.net_paid}}" class="disabled" readonly="readonly">
					</td>
					<td>
						<input class="btn btn-sm btn-default pull-right" style="width:80px;" name="action" type="submit" value="Submit" onclick="return confirm('Are you sure?'); $(this).removeAttr('readonly');">
					</td>
				</tr>
			</form>
		{% endfor %}

		<tr class="total-row">
			<td colspan="3"></td>
			<td class="money">${{ bill.total_paid|floatformat:2 }}</td>
			<td></td>
		</tr>
	{% else %}
	<div>
		No payments
	</div>

	{% endif %}
	<form method="POST" action="{% url 'manage_payment' location.slug bill.id%}">{% csrf_token %}
		<input name="payment_id" type="hidden" value="{{p.id}}">
		<tr style="padding-top:24px;">
			<th>Record External Payment</th>
			<td><input name="payment_method" placeholder="Method" type="text" required></td>
			<td><input name="paid_amount" value="{{bill.total_owed}}" type="number" min="0.01" step="0.01" required></td>
			<td><input class="btn btn-red pull-right" style="width:80px;" name="action" type="submit" value="Add"></td>
		</tr>
	</form>
	</table>

