<div id="dialog-confirm-send-welcome" title="Send Welcome Email">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		The welcome email is normally
		sent to the user automatically {{days_before_welcome_email}} days prior to the reservation. Are you
		sure you want to send it yourself now?
	</p>
</div>

<div id="dialog-confirm-fee-remove" title="Remove this Bill Item?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		<p>This fee will be removed. If you want to reset the fees applied to this reservation, use the "Reset Bill Fees" button.</p> 
		<p>Are you sure?</p>
	</p>
</div>

<div id="dialog-confirm-line-item-remove" title="Remove this Bill Item?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		This line item will be removed. Are you sure?
	</p>
</div>

<div id="dialog-confirm-cancel" title="Cancel this Reservation?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		This reservation will be cancelled. Are you sure?
	</p>
</div>

<div id="dialog-confirm-refund" title="Refund this Reservation?">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		This payment will be refunded. Are you sure?
	</p>
</div>

<div id="dialog-warn-full" title="Warning! The room you are trying to book is full.">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		You are trying to confirm a reservation for a room that is showing
		as full. Make sure you know what you are dong. Are you sure?
	</p>
</div>

