{% if not bill.is_paid %}
<form id="bill-charge" method="POST" action="{% url 'bill_charge' location.slug bill.id %}">
	{% csrf_token %}
	<table>
		<tr>
			<td>Charge user for bill: </td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="charge-options" id="bill-{{bill.id}}-full-charge" 
					onclick="UpdateChargeValue({{bill.id}}, {{bill.total_owed}}, 'readonly')" 
					value="charge-full-amount" checked> Full 
				</label>
			</td>
			<td>
				<label class="radio-inline">
					<input type="radio" name="charge-options" id="bill-{{bill.id}}-partial-charge" 
					onclick="UpdateChargeValue({{bill.id}}, '', 'readwrite')" 
					value="partial-charge"> Partial
				</label>
			</td>
			<td>
				<input type="number" min="0" max="{{bill.total_owed}}" min="0" name="charge-amount" 
				id="bill-{{bill.id}}-charge-amount" value="{{bill.total_owed}}" 
				class="disabled" readonly="readonly">
			</td>
			<td>
				<input class="btn btn-sm btn-default pull-right" style="width:80px;" name="action" 
				type="submit" value="Submit" onclick="return confirm('Are you sure?'); $(this).removeAttr('readonly');">
			</td>
		</tr>
	</table>
</form>
{% endif %}

