<table class="dataTable table table-striped reservation-list">
	<thead>
		<tr>
			<th>Period</th>
			<th>Rate</th>
			<th>Paid</th>
		</tr>
	</thead>
	<tbody>
			<ul class="nav nav-pills nav-stacked" role="tablist">
			{% for bill in s.bills.all %}
				<tr class="{% cycle 'row-even' 'row-odd' %}">
					<td>
						<a role="tab" href="#subscription-bill-details-{{bill.id}}" data-toggle="pill"><h5>Bill {{ bill.period_start}}</h5></a>
					</td>
					<td>{{bill.amount }}</td>
					<td>
						{% if bill.is_paid %}
							<span class="text-success glyphicon glyphicon-ok"></span>
						{% else %}
							<span class="text-danger glyphicon glyphicon-exclamation-sign"></span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</ul>
	</tbody>
</table>


