<!-- availability calendar -->
<table id="rooms-available-calendar">
	<tr>
	<th>Room</th>
	{% for date in dates %}
	<th>{{ date|date:"M d" }}</th>
	{% endfor %}
	</tr>

	{% for room_obj, days_list in avail.items %}
	<tr>
		<td> 
			{{room_obj.name}}
		</td>

		{% for day_info in days_list %}
			{% if room_obj == r.resource and room_has_availability %}
				<td class="bg-success">
			{% elif room_obj == r.resource and r.status == 'approved' and day_info.beds_free >= 0 %}
				<td class="bg-success">
			{% elif room_obj == r.resource and r.status == 'confirmed' and day_info.beds_free >= 0 %}
				<td class="bg-success">
			{% elif room_obj == r.resource and not room_has_availability %}
				<td class="bg-danger">
			{% else %}
				<td>
			{% endif %}

			{% comment %} {% if r.status == 'pending' or r.status == 'canceled'%} {% endcomment %}

			{% if r.status == 'approved' and r.resource == room_obj %}
				<div class="yes-available"><i class="text-caution glyphicon glyphicon-user"></i> {{day_info.beds_free}}</div>
			{% elif r.status == 'confirmed' and r.resource == room_obj %}
				<div class="yes-available"><i class="text-success glyphicon glyphicon-user"></i> {{day_info.beds_free}}</div>
			{% else %}
				{% if day_info.beds_free %}
					<div class="yes-available"><i class="text-success glyphicon glyphicon-ok"></i> {{day_info.beds_free}}</div>
				{% else %}
					<div class="no-available"><i class="text-danger glyphicon glyphicon-remove"></i> {{day_info.beds_free}}</div>
				{% endif %}
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>


