    <h4 class="row-spacer">Payments</h4>

    <table id="payment-details" class="table">
        <thead>
            <th>Date</th>
            <th>Method</th>
            <th class="money">Amount</th>
            <th></th>
        </thead>
        {% for p in bill.non_refund_payments %}
            <form class="res-refund" id="res-refund-{{payment_id}}" method="POST" action="{% url 'manage_payment' location.slug bill.id%}">
                {% csrf_token %}
                <input name="payment_id" type="hidden" value="{{p.id}}">
                <tr {% if p.is_fully_refunded %} class="greyed-out" {% endif %}>
                    <td>{{ p.payment_date }}
                    <td>{{ p.payment_method }}{% if p.last4 %} (***{{p.last4}}){% endif %}</td>
                    <td class="money">${{ p.paid_amount|floatformat:2 }}</td>
                    <td class="money">
                        {% if p.is_fully_refunded %} 
                            <em>Refunded</em>
                        {% elif not p.transaction_id == "Manual" %}
                        <a class="btn btn-danger pull-right" id="show-refund-details-{{p.id}}" onclick="toggleRefundDetails({{p.id}}); return false;">Refund... <i class="fa fa-expand"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% for refund in p.refund_payments %}
                    {% if not refund.is_fully_refunded %}
                        <tr>
                            <td><small><em>{{ refund.payment_date }}</em></small></td>
                            <td><small><em>Partial refund</em></small></td>
                            <td class="money"><small><em>{{ refund.paid_amount }}</em></small></td>
                        </tr>
                    {% endif %}
                {% endfor %}
        
                <tr id="refund-details-{{p.id}}">
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="refund-options" id="full" onclick="UpdateRefundValue({{p.id}}, {{p.net_paid}}, 'readonly')" value="full-refund" checked> Full 
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="refund-options" id="partial" onclick="UpdateRefundValue({{p.id}}, '', 'readwrite')" value="partial-refund"> Partial
                        </label>
                    </td>
                    <td>
                        <input type="number" min="0" max="{{p.net_paid}}" name="refund-amount" id="refund-amount-{{p.id}}" value="{{p.net_paid}}" class="disabled form-control" readonly="readonly">
                    </td>
                    <td>
                        <input class="btn btn-sm btn-default pull-right" style="width:80px;" name="action" type="submit" value="Submit" onclick="return confirm('Are you sure?'); $(this).removeAttr('readonly');">
                    </td>
                    <td>
                    </td>
                </tr>
            </form>
            {% empty %}
            <tr class="greyed-out">
                <td>No payments</td>
                </tr>
        {% endfor %}

        <tr class="total-row">
            <td colspan="3"></td>
            <td class="money">${{ bill.total_paid|floatformat:2 }}</td>
            <td></td>
        </tr>

    </table>
    
    <form method="POST" class="form-horizontal" role="form" action="{% url 'manage_payment' location.slug bill.id%}">{% csrf_token %}
    <div class="form-group ext-pmt-record">
        <div class="col-sm-4">
            <label class="control-label">Record External Payment</label>
        </div>
        <div class="col-sm-2">
            <input class="form-control" name="payment_method" placeholder="Reference" type="text" required>
        </div>
        <div class="col-sm-2">
            <input class="form-control" name="paid_amount" value="{{bill.total_owed}}" type="number" min="0.01" step="0.01" required>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-default" name="action" style="width:100%;" value="Save">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <small>Include a payment method or reference, eg. check or transaction id</small>
        </div>
    </div>
    </form>


