<div id="res-status-area" {% if r.is_comped %} class="comp-bg-img" {% else %}{% if r.is_paid %} class="paid-bg-img" {% endif %}{% endif %} >

	{% include "snippets/messages.html" %}

	The current status of this reservation is <span id="the-reservation-status" type="button" class="btn disabled btn-info">{{ r.status }}</span>
	<span id="payment_status" style="visibility:hidden;">{% if r.is_paid %}paid{% endif %}</span>
	
	{% if r.is_comped %}
		<p><i class="icon-heart"i></i> This reservation is a comp</p>
	{% endif %}

	{% if not r.is_canceled %}
		{% if r.user.profile.customer_id %}
			<p class="text-success"><i class="icon-ok"i></i> This user has valid payment credentials.</p>
		{% else %}
			<p class="text-error"><i class="icon-warning-sign"i></i> This user does not have valid payment credentials.</p>
		{% endif %}
	{% endif %}


	<form method="POST" action="{% url 'reservation_manage_action' location.slug r.id %}" id="res-action-form">
		
	{% if not r.is_comped %}
		{% if r.is_pending %}
			{% if r.user.profile.customer_id %}
				<a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
				Charge the user's card and notify them via email
				</a> to confirm this reservation. (A receipt will always be sent automatically. The welcome email will be sent immediately if this reservation is less than {{days_before_welcome_email}} days away)
			{% else %}
			You may <a href="#" id="set-tentative" class="res-manage-action res-manage-btn">
				tentatively confirm this reservation</a> and prompt the user to confirm with payment.
			{% endif %}

		{% elif r.is_approved %}
			{% if r.user.profile.customer_id %}
				The reservation is approved and the user has valid payment
				details. 
				<a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
				Charge the user's card </a> to confirm this reservation.  (A receipt will always be sent automatically. The welcome email will be sent immediately if this reservation is less than {{days_before_welcome_email}} days away) They will have the
				opportunity to cancel if desired. 
			{% else %}
				This reservation is waiting on the user to confirm; there is no
				action to take. Optionally, you can nudge this user by 
				<a href="#emailModal" data-toggle="modal">sending them an email reminder to confirm</a>. 
			{% endif %}

		{% elif r.is_confirmed %}
			{% if r.user.profile.customer_id %}
				{% if r.is_paid %}
					<p>This reservation is confirmed and paid. No action needed.</p>  
					<!--<p>Was there a mistake?  Do you need to
						<a href="#" class="res-manage-action res-manage-btn" id="refund-card" onclick="return confirm('Are you sure?');">refund their card</a>?-->
					</p>
				{% else %}
					<p>The reservation is confirmed, although unpaid.</p>
					<p><a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
					Charge the user's card ${{r.total_owed}}</a>.</p>
					<p>(A receipt will always be sent automatically. The welcome email will be sent immediately if this reservation is less than {{days_before_welcome_email}} days away)</p>
				{% endif %}
			{% else %}
				This user is confirmed but has not entered payment info. You can always remind them 
				to do so by <a href="#emailModal" id="email-user-button" role="button" class="btn" data-toggle="modal">sending an email</a>. 
			{% endif %}

		{% endif %} 

	{% else %} <!-- if the reservation IS a comp... -->
		{% if r.is_pending or r.is_approved %}
		This complimentary reservation is {{r.status}}. <a href="#"
			class="res-manage-action res-manage-btn"
			id="set-confirm">Confirm this reservation</a>. (House information will be sent immediately if this reservation is less than {{days_before_welcome_email}} days away)

		{% elif r.is_confirmed %}
			<p>This reservation is confirmed as a comp. No action required.</p>

		{% endif %} <!-- end confirmed -->

	{% endif %} <!-- end comp section -->

	</form>
	
	<small><em class="last-contact">Last contact about this reservation: {{ r.last_msg|default:"Never" }}</em></small>
</div>


