<table class="reservation-list">
	<thead>
		<tr>
			<th>Reservation</th>
			<th>User</ht>
			<th>Status</ht>
			<th>Arrival</ht>
			<th>Departure</ht>
			<th>Room</ht>
			<th>Hosted</ht>
			<th>Nights</ht>
			<th>Rate</ht>
			<th>Value</ht>
			<th>Paid Status</ht>
		</tr>
	</thead>
	<tbody>
			{% for r in reservations %}
			<tr>
				<td><a href="{% url 'reservation_manage' location.slug r.id %}">Reservation {{r.id}}</a></td>
				<td><a href="{% url 'user_detail' r.user.username %}">{{r.user.first_name}} {{r.user.last_name}}</a> ({{r.user.username}})</td>
				<td>{{r.status}}</td>
				<td>{{r.arrive}}</td>
				<td>{{r.depart}}</td>
				<td>{{r.room}}</td>
				<td>{{r.hosted}}</td>
				<td>{{r.total_nights}}</td>
				<td>${{r.rate}}</td>
				<td>${{r.total_value}}</td>
				<td>{{r.html_color_status|safe}}</td>
			</tr>
			{% endfor %}

	</tbody>
</table>

