{% load static %}

<script type="text/javascript">
    if ({{room_id}} > 0 ) {
        window.renderReactComponent('react-app-{{room_id}}', 'CapacityContainer', {{room_capacity|safe}})
    }
</script>

<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script>
    if ('{{room_id}}' != "None") {
        $("#manage_rooms_edit_room_{{room_id}}").addClass("active");
        // relies on the DOM structure of bootstraps dropdown menus, fyi.
        $("#manage_rooms_room_name_{{room_id}}").parent().parent().addClass("active");

    } else {
        $("#manage_rooms_new_room").addClass("active");
    }

    jQuery.validator.addMethod("imageExists", function(value, element) {
        // will be None if there is no instance
        console.log ('{{form.instance.image}}')
        return this.optional(element) || ('{{form.instance.image}}' != 'None')
        }, "Image is required.");

    //form validation
    $(".room-form").validate({
        rules: {
            name: {
                required: true
            },
            default_rate: {
                required: true
            },
            description: {
                required: true
            },
            image: {
                imageExists: true
            },
            summary: {
                required: true
            },
            cancellation_policy: {
                required: true
            }
        }
    })
    //image cropping
    function showCropper(preview_id) {
        // register a cropper on *all* the preview elements
        $(preview_id).cropper({
            aspectRatio: 4/3,
            zoomable: false,
            rotatable: false,
            scalable: false,
            guides: false,
            dragCrop: false,
        });
    }
    image_was_changed = false;
    $("input[id$='image']").change(function() {
        image_was_changed = true;
        // destroy the previous cropper if it existed
        $("#id_image_preview").cropper('destroy');
        // display the new image in the preview box
        if (this.files && this.files[0]) {
            console.log('input files found');
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#id_image_preview").attr('src', e.target.result);
                showCropper("#id_image_preview");
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $(".room-form").submit(function(){
        if (image_was_changed) {
            // add the cropped image data to the hidden form element, then submit.
            $("#id_cropped_image_data").val($("#id_image_preview").cropper('getCroppedCanvas').toDataURL().match(/data:image\/(png|jpeg);base64,(.*)$/)[2])
        }
        return true;
    })

    // multiple select using search and tags.
    $(".chosen-select").chosen({
        no_results_text: "No user with that name.",
        width: "95%",
        placeholder_text_multiple: "Search by name."
    });

    $(".datepicker").datepicker({
      minDate: 0
    })

</script>
