{% load static %}

<form role="form" method="post" class="room-form" enctype="multipart/form-data"
        {% if room_id %}
            action="{% url 'location_edit_room' location.slug room_id %}"
        {% else %}
            action="{% url 'location_new_room' location.slug %}"
        {% endif %}
    >{% csrf_token %}

    {% if form.instance.pk %}
        <h4>Editing {{ form.instance.name|title }}</h4>
    {% else %}
        <h4>New Room</h4>
    {% endif %}

    <div class="row-spacer">
        <h5>Backed by {{form.instance.current_backers_for_display|join:", "|default:"no one"}}</h5>
        {% for b in form.instance.scheduled_future_backings %}
        <p><b>Scheduled backing changes</b>:
            {% for u in b.users.all %}
            <span>{{ u.first_name }} {{ u.last_name}}</span>, on {{b.start}}
            {% endfor %}
        {% empty %}
            <span>No scheduled backing changes</span>
        {% endfor %}
    </div>

    {% for field in form %}

        {% if not field.is_hidden %}
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            <span class="form-help-text">{{ field.help_text}}</span>
            {% if field.name == 'default_rate' %}
                <div class="input-group">
                <div class="input-group-addon">$</div>
            {% endif %}
            {{ field }}
            {% if field.name == 'default_rate' %}
                </div>
            {% endif %}
            </div>
        {% else %}
            {{ field }}
        {% endif %}

    {% endfor %}
    <input type="hidden" name="page" value="{{page}}">
    <input type="hidden" name="username" value="{{username}}">
    <button type="submit" class="top-spacer btn btn-default">Submit</button>
</form>

<div id="react-app-{{room_id}}"></div>
