<div id="booking-details-form">

    <form method="POST" class="form-horizontal" role="form" action="{% url 'subscription_manage_update_end_date' location.slug s.id %}">{% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 pull-left control-label">End Date</label> 
                <div class="col-sm-4">
                    <input class="form-control" id="id_end_date" name="end_date" value="{{ s.end_date|date:'m/d/Y' }}" size="8"/>
                </div>
                <input type="submit" class="btn btn-default col-sm-2" style="width:120px;" value="Update"/>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 small" style="margin-bottom: 12px;">
                    End dates should <em>usually</em> be in the future and cannot
                    be in the middle of an already paid billing cycle. If the end
                    date is not on a billing boundary, the final bill will be
                    pro-rated. Leave blank for an ongoing subscription. 
                </div>
            </div>
        </div>
    </form>

    <script>
        $("id_end_date").datepicker({
              dateFormat: "mm/dd/yy"
          });
          {% if paid_until %}
                paid_until = new Date({{s.paid_until.year}}, {{s.paid_until.month}}-1, {{s.paid_until.day}});
                $("#id_end_date").datepicker({minDate: paid_until});
            {% else %}
                $("#id_end_date").datepicker();
            {% endif %}
    </script>

</div>


