<p>Select a Room for Details</p>
<table id="rooms-available-calendar">
	<tr>
	<th>Room</th>
	{% for date in dates %}
	<th>{{ date|date:"M d" }}</th>
	{% endfor %}
	</tr>

	{% for room_obj, days_list in avail.items %}
	<tr>
		<td> 
		{% if room_obj in free_rooms %}
			<label for="select-room-{{room_obj.id}}" id="label-room-{{room_obj.id}}" class="btn room-select">{{room_obj.name}}</label>
			<input type="radio" name="room" id="select-room-{{room_obj.id}}" value="{{room_obj.id}}">
		{% else %}
			<div class="btn disabled">
				{{room_obj.name}}
			</div>
		{% endif %}
		</td>

		{% for the_day, beds_free in days_list %}
		<td>
			{% if beds_free %}
				<div class="yes-available"><i class="icon-ok"></i> {{beds_free}}</div>
			{% else %}
				<div class="no-available"><i class="icon-remove"></i></div>
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<div class="room-info-area">
{% for room in free_rooms %}
<div class="room-info" id="room-info-{{room.id}}">
	<h3>{{room.name}}</h3>
	{% if room.image %} 
		<div class="pull-right">
			<img src="/media/{{room.image}}" class="img-polaroid room-info-image" />
		</div> 
	{% endif %}
	<div><p><strong>Rate:</strong> ${{ room.default_rate }}/night</p></div>
	<div><p>{{ room.description }}</p></div>
	<div><p><strong>Value of this reservation: </strong><span id="res-value-{{room.id}}">${{room.value}}</span></p></div>
	<div class="clear"></div>
</div>
{% endfor %}
</div>


<script>
$(".room-select").click(function() {
	// relies on the fact that the input tag is directly after the label tag
	// for each room option.
	$(this).next().prop("checked", true);
   	room_id = $(this).next().val();
   	room_info_div_id = "#room-info-" + room_id;

   	$(".room-info").hide();
	$(".room-select").removeClass("btn-success")
   	$(this).addClass("btn-success");
   	$(room_info_div_id).show();
   	$("#reservation-additional-info").show();
   	room_name = $(this).text();
   	res_value = $("#res-value-" + room_id).text();
   	$("#submit-reservation").val("Submit request for " + room_name + " at " + res_value);

});
</script>
