<div id="res-status-area" {% if r.reconcile.status == 'paid' %} class="paid-bg-img" {% endif %} >

	{% include "snippets/messages.html" %}

	The current status of this reservation is <span id="the-reservation-status" type="button" class="btn disabled btn-info">{{ r.status }}</span>
	<span id="reconcile-status" style="visibility:hidden;">{{r.reconcile.status}}</span>
	
	{% if r.reconcile.status == "comp" %}
		<p><i class="icon-heart"i></i> This reservation is a comp</p>
	{% endif %}

	{% if r.status != 'canceled' %}
		{% if r.user.profile.customer_id %}
			<p class="text-success"><i class="icon-ok"i></i> This user has valid payment credentials.</p>
		{% else %}
			<p class="text-error"><i class="icon-warning-sign"i></i> This user does not have valid payment credentials.</p>
		{% endif %}
	{% endif %}


	<form method="POST" action="/manage/reservation/{{r.id}}/action/" id="res-action-form">
		
	{% if r.reconcile.status != "comp" %}

		{% if r.status == "pending" %}
			{% if r.user.profile.customer_id %}
				<a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
				Charge the user's card and notify them via email
				</a> to confirm this reservation.
			{% else %}
			You may <a href="#" id="set-tentative" class="res-manage-action res-manage-btn">
				tentatively confirm this reservation</a> and prompt the user to confirm with payment.
			{% endif %}

		{% elif r.status == "approved" %}
			{% if r.user.profile.customer_id %}
				The reservation is approved and the user has valid payment
				details. 
				<a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
				charge the user's card and notify them via email 
				</a> to confirm this reservation. They will have the
				opportunity to cancel if desired. You can also nudge them via
				email to confirm themselves.
			{% else %}
				This reservation is waiting on the user to confirm; there is no
				action to take. Optionally, you can nudge this user by sending
				them an email reminder to confirm. 
			{% endif %}

		{% elif r.status == "confirmed" %}
			{% if r.user.profile.customer_id %}
				{% if r.reconcile.status == 'paid' %}
					<p>This reservation is confirmed and paid. No action needed.</p>
				{% else %}
					The reservation is confirmed and the user has valid payment
					details, but their card has not been charged. 
					<a href="#" id="res-charge-card" class="res-manage-action res-manage-btn">
					Charge the user's card and send a receipt via email. 
					</a>. 
				{% endif %}
			{% else %}
				This user is confirmed but has not entered payment info. You can always remind them 
				to do so by sending an email. 
			{% endif %}

		{% endif %} 

	{% else %} <!-- if the reservation IS a comp... -->
		{% if r.status == "pending" or r.status == "approved" %}
		This complimentary reservation is {{r.status}}. <a href="#"
			class="res-manage-action res-manage-btn"
			id="comp-confirm">Confirm this reservation</a> or <a href="#"
			class="res-manage-action res-manage-btn"
			id="request-to-confirm">request the guest to confirm.</a>

		{% elif r.status == "confirmed" %}
			<p>This reservation is confirmed as a comp. No action required.</p>

		{% endif %} <!-- end confirmed -->

	{% endif %} <!-- end comp section -->

	</form>

	<small><em class="last-contact">Last contact about this reservation: {{ r.last_msg|default:"Never" }}</em></small>
</div>
