{% load core_tag_extras %}

{% if upcoming_bookings|length > 0 %}
    <h4>Upcoming</h4>
    <table class="table" id="booking-list-table">
    {% for booking in upcoming_bookings %}
        <tr {% if booking.use.status == 'canceled' %} class="faded" {% endif %} >
            <td>
            <a href="{% url 'booking_detail' booking.use.location.slug booking.id %}">{{booking.use.arrive}} - {{booking.use.depart}}</a> 
            in {{ booking.use.resource.name }} 
            at <a href="{% url 'location_detail' booking.use.location.slug %}">{{booking.use.location.name}}</a>
        </td>
        <td><em>{{booking.use.status}}</em></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if past_bookings|length > 0 %}
    <h4>Previous</h4>
    <table class="table" id="booking-list-table">
        {% for booking in past_bookings %}
        <tr {% if booking.use.status == 'canceled' %} class="faded" {% endif %} >
        <td>
            <a href="{% url 'booking_detail' booking.use.location.slug booking.id %}">{{booking.use.arrive}} - {{booking.use.depart}}</a> 
            in {{ booking.use.resource.name }} 
            at <a href="{% url 'location_detail' booking.use.location.slug %}">{{booking.use.location.name}}</a>
        </td>
        <td><em>{{booking.use.status}}</em></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if upcoming_bookings|length == 0 and past_bookings|length == 0 %}
    <p>No bookings</p>
{% endif %}

