{% extends 'root.html' %}
{% load static %}

{% block extrahead %}
    <meta property="og:image" content="https://embassynetwork.com{{ MEDIA_URL }}{{ location.image }}"/>
    <meta property="og:title" content="{{location.name}}"/>
{% endblock %}

<!-- block body -->
{% block body %}
  {% if location %}
  <div class="house-box">
    <img src="{{ MEDIA_URL }}{{ location.image }}" class="house-image">
    <div class="house-name hidden-xs">
      <h1 class="bold text-center"><a href="{% url 'location_detail' location.slug %}">{{ location.name }}</a></h1>
    </div>
  </div>

  {% include 'snippets/house_nav.html' %}

  {% block content %}
  {% endblock %}

  {% endif %}
{% endblock %}
