{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
<div id="spinner">
    <img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
</div>

<div class="row" id="booking-nav">
    <a href="{% url 'booking_manage_list' location.slug %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to bookings</a>
</div>

{% include 'snippets/messages.html' %}
<div class="container">
  <div class="row">
      <div class="col-md-7">
          <h2 class="res-field field">Create a New Booking </h2>
      </div>
  </div>

  <!-- new row -->
  <hr>


  <div class="row" class="bottom-pad-thirty">

      <div class="col-md-3">
          <div class="img-polaroid">
              <img id="avatar-placeholder" class="profile-page-img" src="{{ STATIC_URL }}img/default.jpg" />
          </div>
      </div>

      <div class="col-md-7">


          <div id="booking-details-form">
              <form method="POST" role="form" class="form-horizontal" id="manage-booking-form" action="{% url 'booking_manage_create' location.slug %}">{% csrf_token %}

                  <div class="form-group">
                      <label class="col-sm-2 control-label">User</label>
                      <div class="col-sm-7">
                          <input class="form-control" name="username" id="id_username" value="{{username}}" required/>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Arrive</label>
                      <div class="col-sm-2">
                          <input class="form-control listening" id="id_arrive" name="arrive" value="" size="8" required/>
                      </div>
                      <label class="col-sm-2 control-label">Depart</label>
                      <div class="col-sm-2">
                          <input class="form-control listening" id="id_depart" name="depart" value="" size="8" required/>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Room</label>
                      <div class="col-sm-6">
                          <select class="form-control" id="resource_select" name="resource" required>
                              <option value="">Select Room</option>
                              {% for room in location.get_rooms %}
                                  <option value="{{room.id}}">{{ room.name }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Purpose</label>
                      <div class="col-sm-6">
                          <input class="form-control" id="id_purpose" name="purpose" value="" size="8" required/>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-4">
                          <select name="status" class="form-control" required>
                              {% for status_tup in booking_statuses %}
                              <option value="{{status_tup.0}}">{{status_tup.1}}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <p class="col-sm-offset-2 col-sm-6 small">The confirmed and payment statuses should generally be aligned. Only edit this in special circumstances if you need to override what The Man thinks is right :).</p>
                  </div>

                  <div class="form-group">
                      <div class="col-sm-6 col-md-offset-2">
                          <input type="checkbox" name="email_announce" id="email_announce" > Announce this booking by email?
                      </div>
                  </div>

                  <input type="submit" value="Create Booking" class="btn btn-default">
              </form>

          </div>


      </div> <!-- end col-md-7 -->
  </div>
</div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script>

    get_avatar = function(event) {
        username = $("#id_username").val();
        if (username) {
            request = $.ajax({
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: "POST",
                url: '/people/'+username+'/avatar/'
            });

            request.done(function(url) { // on success..
                $("#avatar-placeholder").fadeOut(function() {
                    $(this).attr('src', url).fadeIn();
                });
            });

            request.fail(function(msg) {
                console.log("could not find avatar for username " + username);
            });
        }
    };


    //$("#id_username").change(get_avatar);
    $(function() {
        var availableUsers = [
            {% for user in all_users %}
            "{{user.username}}",
            {% endfor %}
        ];

        $( "#id_username" ).autocomplete({
            source: availableUsers,
            change: get_avatar
        });
    });

    // if a user is pre-populated, get the avatar right away
    if ('{{username}}' != "") {
        get_avatar()
    }

    $("#id_arrive, #id_depart").datepicker({
        onSelect: function( selectedDate ) {
            if(this.id == 'id_arrive') {
                startDate = $('#id_arrive').datepicker("getDate");
                  var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
                  $('#id_depart').datepicker("option","minDate",rMin);
            }
            // we need to explicitly fire the change event on the underlying
            // input or it won't fire on its own!
            $(this).change();
        }
    })

    // Check booking dates and room for avilability, warn admin if overbooking room.
    $(".listening").change(function(event) {
        // Get arrive and depart dates, update value.
        var arrive = $("#id_arrive").val();
         var depart = $("#id_depart").val();

        // once the dates are selected, poll for a list of available rooms
        if (arrive && depart) {

            $.post("{% url 'rooms_available_on_dates' location.slug %}", {arrive: arrive, depart: depart}, function(data){
                room_select = $("#resource_select");
                room_select.children().remove();
                room_select.append('<option value="">Select Room</option>');
                $.each(data.rooms_capacity, function(k, v) {
                    avail = "";
                    if (v.available == false) {
                        avail = ' (***Not Available)';
                    }
                    room_select.append('<option value="'+ v.id +'">' + k + avail + '</option>');
                });
               });
        }

        // wire up the ajax-y spinning animated GIF to show when an ajax call
        // is made.
        $('#spinner').ajaxStart(function () {
            $(this).fadeIn('fast');
        }).ajaxStop(function () {
            $(this).stop().fadeOut('fast');
        });

    });

    $("#resource_select").change(function(event) {
        e = event;
        if (e.target.selectedOptions[0].text.indexOf("Not Available") > -1) {
            $("#resource_select").attr("style", "border-color: #cc0000");
        } else {
            $("#resource_select").attr("style", "border-color: #ccc");
        }
    });

    $("#manage-booking-form").validate();


</script>
{% endblock %}
