{% extends "base.html" %}
{% block content %}

<div class="row">
	<div id="guestcalendar"></div>
</div>
<div id="guest-calendar">
	{{calendar}}
</div>

<div id="by-month-nav">
	<span class="icon-spacer-right"><i class="icon-arrow-left"></i></span>
	<a href="?month={{prev_month.month}}&year={{prev_month.year}}">Previous Month</a> | 
	<a href="{% url 'location_calendar' location.slug %}"> Current </a> |
	<a href="?month={{next_month.month}}&year={{next_month.year}}">Next Month</a>
	<span class="icon-spacer-left"><i class="icon-arrow-right"></i></span>
</div>

<h3>Reservation Details</h3>

{% for r in reservations %}
	<div class="reservation-list-item">
	<div class="reservation-title">
	<a id="reservation{{r.id}}"></a>
	<h4 class="inline">
	<a href="/people/{{r.user.username}}">{{ r.user.first_name|title }} {{ r.user.last_name|title }}</a>
	</h4>
	<a href="{{ r.get_absolute_url}}">{{r.arrive}} to {{ r.depart }} </a> 
	{% if r.arrive == today %}
	- <em>today!</em>
	{% endif %}
	{% if r.is_approved %}
		(pending confirmation from guest)
	{% endif %}
	</div>

	<div class="img-polaroid float-left">
		<img class="profile-img-thumb" 
		src="{{ MEDIA_URL }}{{ r.user.profile.image_thumb|default:'data/avatars/default.thumb.jpg'}}" 
		/>
	</div>

	<div class="profile-peak">
		<p><em>Projects:</em> {{ r.user.profile.projects}}</p>
		<p><em>Sharing interests:</em> {{ r.user.profile.sharing}}</p>
		<p><em>Discussion topics:</em> {{ r.user.profile.discussion}}</p>
	</div>

	<div class="clear"></div>
	</div>
{% endfor %}

{% endblock %}

{% block extrajs %}

	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
		'version':'1','packages':['timeline']}]}">
	</script>
	
	<script type="text/javascript">

		{% if any_reservations %}
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				var container = document.getElementById('guestcalendar');
				chart = new google.visualization.Timeline(container);
				var dataTable = new google.visualization.DataTable();

				dataTable.addColumn({ type: 'string', id: 'Room' });
				dataTable.addColumn({ type: 'string', id: 'Name' });
				dataTable.addColumn({ type: 'date', id: 'Start' });
				dataTable.addColumn({ type: 'date', id: 'End' });
				dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': {'html': true} });

					// JKS: issues w this visualization - if a room is overbooked,
					// the height of the chart will be off by a row. it also
					// only shows rooms with bookings, so the total number of
					// rooms might vary from month to month which is confusing. 
					{% for bed, reservations_this_bed in reservations_by_bed %}
						{% with last_bed=forloop.last %}

							// note the months need to be offset by 1 here since JS is expecting a 0-based month index while python starts with 1. 
							{% for res_info in reservations_this_bed %}	
							dataTable.addRows([
								[ 
								"{{bed.room.name|safe}} ({{bed.name|safe}})", "{{res_info.reservation.user.first_name|title}} ({{res_info.reservation.status}})", 
									new Date({{res_info.display_start.year}}, {{res_info.display_start.month}}-1, {{res_info.display_start.day}}), 
									new Date({{res_info.display_end.year}}, {{res_info.display_end.month}}-1, {{res_info.display_end.day}}), 
									"<div class='guestinfo-tooltip'><h3>{{res_info.reservation.user.first_name|title}}</h3><p><em>{{res_info.reservation.status}}</em></p><p>Arrive: {{ res_info.reservation.arrive}}</p><p>Depart: {{ res_info.reservation.depart }}</p><img class='profile-img-thumb' src='{{ MEDIA_URL }}{{ res_info.reservation.user.profile.image_thumb}}'></div>"

								{% if last_bed and forloop.last %}
									]
								{% else %}
									],
								{% endif %}

							]);
							{% endfor %}

						{% endwith %}
					{% endfor %}

				// the value of row height is from visual inspection. :-O
				var rowHeight = 40; 
				// will not account for overbooked rooms which take up an extra row. 
				var rowsHeight = {{num_rows_in_chart}} * rowHeight;
				console.log({{num_rows_in_chart}});
				// some padding to account for titles and any overbooked rooms. it's a best effort guess. 
				var paddingHeight = 60;
				var chartHeight = rowsHeight + paddingHeight;
				console.log(chartHeight);
				var options = {
					height: chartHeight
					}
				chart.draw(dataTable, options);

				function myMouseOverHandler(e){
					if(e.row != null){
						$(".google-visualization-tooltip").html(dataTable.getValue(e.row,4)).css({width:"auto",height:"auto"});
					}        
				}
				function mySelectHandler(e){
					selection = chart.getSelection()
				}
				google.visualization.events.addListener(chart, 'onmouseover', myMouseOverHandler);
				google.visualization.events.addListener(chart, 'select', mySelectHandler);
			}
    
		{% else %}
			$("#guestcalendar").html('<h4>No reservations yet this month!</h4>');
		{% endif %}
	</script>

{% endblock %}



