
<p>We are located at 399 Webster Street, San Francisco, CA. During your stay,
please introduce yourself to people around the house!</p>

<p><b>Kitchen and Food</b>: Food and other amenities are covered in the cost of your
stay. Make yourself comfortable and help yourself to food and beverages! We
don't have many rules but one we do hold dear is a zero dish rule for the
sink. Place dirty dishes directly into the dishwasher or take a few
seconds to wash small items after use.</p>

<p><b>Access</b>: The front door access code is 0399# (the "#" at the end is
important).</p>

<p><b>Internet</b>: There are several access points in the house, and all start with
"EmbassySF." The password for all access points is "netpositive."</p>

<p><b>Your room</b>: a floorplan of the house is available at:
http://bit.ly/sfembassymap. If you're in the Penrose room, it's on the second
floor. Go up the main stairs and make a right, then go all the way down to the
end of the hall. If you're in the shared space, that's on the bottom floor. Go
down the main stairs and hook a right at the bowling alley. You'll see the
beds and other things. Please don't walk with shoes on the bowling lane.</p>

<p><b>Departure</b>: You can strip your bed before departure and leave all used linens
on top of the bed.</p>

<p><b>Laundry</b>: Washer and Dryer are on the bottom floor. Feel free to do laundry as needed.</p>

<p><b>Late Night Considerations</b>: Please don't start laundry or the kitchen
dishwasher after about 930pm. (But, lest the cleaning bug be unrelenting, feel
free to start the second dishwasher, which is in the breezeway to the dining
room, at any hour).</p>

<p><b>Transportation</b>: There is limited street parking, even more limited if you do
not have a city permit for this neighborhood. There are several public
transportation options. We are a short (less than 10 minute) walk from the Church
Street MUNI, and about 1 mile (20 minutes) walking from civic center BART
station. Buses lines 6 and 21 both stop within two blocks of the house.</p>

<p><b>Airport Arrival</b>: If you are arriving from SFO on public transporation with
luggage, and would like to be deposited closer to the house, take the BART to
16th & Mission, come up the escalator to street level and then take the 22 bus
in the direction of "Marina District" (the bus leaves from the north east
corner of 16th and Mission). Get off at the "Fillmore and Oak" stop. This is
one block from our house. The total estimated trip time from SFO is 1 hour.
here's a link! http://goo.gl/maps/0mYzc</p>

<p><b>Payment</b>: Payment can be made at http://embassynetwork.com/payment.</p>

<p><b>Events</b>: We generally have a big community dinner on Sundays at 8pm, and salon
discussions and other more intimate events happen periodically on Thursdays.
There may be other events happening throughout your stay; we'll let you know!</p>

<p><b>Suggestions and feedback</b>: Feedback is very valuable to us. Feel free to send
any thoughts or suggestions to us via email or use the comments box in the
house by the entrance.</p>
