{% extends "main.html" %}
{% block main %}

<h1>Embassy SF Coworking</H1>

<p>Dear Friends and Future Friends of the Embassy SF,</p>

<p>The Embassy as you know it -- a unique crossroads of residents, guests and events -- is excited to officially offer a coworking space for members of our dynamic and developing community. Many of you have seen the setup over the summer. Now we’re ready to step it up with room for 10-15 people. Won’t you join us?</p>

<h2>It’s awesome cuz:</h2>
<ul>
	<li>It’s informal and intimate 
<li>Great light, whiteboards, and a bowling lane for when you need a stretch
<li>Cool evening events and a fun extended family. Residents and guests host our weekly Sunday Dinner, bi-weekly Thursday Night Salon Series, and sporadic gatherings throughout the week intended to provide a space for intriguing conversation and new connections. Let your imagination run wild by hosting your own!
<li>Awesome peeps and Unexpected Connections: Besides the 12 permanent residents working in and out of home, we have a high volume of “Embassy-approved” guests living, working and socializing in our space for up to several weeks at a time. Take a peek at our kitchen console to see who’s brain you want to pick next week over coffee.
<li>Location! Right between Hayes Valley and the Lower Haight, lots of cafes, parks and bars nearby to compliment our 7,000 square feet of historic Eduardian architecture. 
<li>Food options and a real kitchen! (see below)
</ul>
</p>

<h2>We are looking for people who:</h2>
<ul>
<li>Seek to have a meaningful positive impact, take on their projects with enthusiasm and joy, and are collaborative with and supportive of others. 
<li>Will ask What? and Why? And enjoy when others do the same.
<li>Would enjoy being an extended part of our community, and take a sense of ownership and pride in manifesting the coworking space as something awesome for all
<li>Might be excited to use the space periodically for events, or coordinate lightweight community-building activities between coworkers- peer reviews, brownbag lunches, happy hour, etc. 
</ul>

<h2>Cost and details</h2>
<p><em>Hours:</em> Roughly 8am - 8pm. The hours are meant as a guideline and we ask that because this is a home, you are cognizant of the time. Some evenings we have events (which you should attend!) and so some noise or setup activities may start earlier. But in general the transition to residential use in the evenings is very fluid and rather informal. </p>
<em>Rates</em>
<ul>
<li>$450/mo full time dedicated desk
<li>$350/mo full time floater
<li>$250/mo half-time floater
<li>Optional food plan (forget packing lunch - make full use of our kitchen and its contents): $100/mo
</ul>
Note: Because our priority is to develop a feeling of trust and community, we do not intend to support day-passes or drop-ins, but if your schedule is uncertain we can discuss 10-day “packages” for  known community members. 
</p>

<h2>Next Steps</h2>
<p>If you’re down, email coworking@embassynetwork.com, and tell us what you’re up to, how you imagine using the space, and why you’d be a good fit! We’ll get back to you in a few days and if all goes well we’ll invite you to come test drive the space for a few days. We’ll be doing our best to select a group of individuals who not only align with the culture of the community, but who have the potential for chemistry and collaboration with one another. </p>

<p>All coworkers will initially be selected and approved on a short-term basis in order to ensure the right fit. We are always experimenting here, so your preferences and ideas will be important as we shape the Embassy Coworking experience.</p>


<h2>contact <a href="mailto:coworking@embassynetwork.com">coworking@embassynetwork.com</a></h2>



{% endblock %}

