{% extends "location_edit.html" %}

{% block sub-content %}

<div class="row top-spacer">

    <div class="col-md-3">
        {% include 'snippets/location_manage_rooms_nav.html' %}
    </div>

    <div class="col-md-6">
        {% include 'snippets/room_edit_form.html' %}
        <div class="row-spacer">
            <div id="react-app-backings"></div>
        </div>

    </div>        

</div>

<script type="text/javascript">
    window.renderReactComponent('react-app-backings', 'Backings', {'resourceID':{{form.instance.id}}})
</script>

{% endblock %}

