{% extends "location_edit.html" %}
{% load staticfiles %}


{% block sub-content %}

<div class="row top-spacer">

	<div class="col-md-3">
		{% include 'snippets/location_manage_rooms_nav.html' %}
	</div>

	<div class="col-md-4">
		<form role="form" 
			method="post" 
			class="form bed-form" 
			{% if bed_id %} 
				action="{% url 'location_edit_bed' location.slug bed_id %}" 
			{% else %} 
				action="{% url 'location_new_bed' location.slug %}" 
			{% endif %}
		> {% csrf_token %}

			{% if form.instance.pk %}
				<h4 class="row-spacer">Editing {{ form.instance.name }} in {{ form.instance.room|title }} </h4>
			{% else %}
				<h4 class="row-spacer">New Bed</h4>
			{% endif %}

			{% for field in form.visible_fields %}
				<div class="form-group">
					{{ field.errors }}
					{{ field.label_tag }} 
					<span class="form-help-text">{{ field.help_text}}</span>
					{% if field.name == 'default_rate' %}
						<div class="input-group">
						<div class="input-group-addon">$</div>
					{% endif %}
					{{ field }}
					{% if field.name == 'default_rate' %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			{% if form.instance.pk %}
				<div><em>Default rate for {{form.instance.room.name}} is ${{form.instance.room.default_rate}}</em></div>
			{% endif %}

			{% for field in form.hidden_fields %}
				{{ field }}
			{% endfor %}
			<button type="submit" class="top-spacer btn btn-default">Submit</button>
		</form>
		<hr>

		<h4>Availability Ranges</h4>
		<form role="form" id="reservables-formset" method="post" class="form form-inline" action="{% url 'location_edit_reservable' location.slug bed_id %}" > {% csrf_token %}
			{{ formset.management_form }}
			{% for reservable_form in formset %}
				{% for field in reservable_form %}
					{{ field }}
				{% endfor %}
			{% endfor %}
			<button type="submit" class="btn btn-default top-spacer">Update Availability <i class="fa fa-check fa-2x" aria-hidden="true"></i></button>
		</form>

	</div>		

</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
<script>
	if ('{{room_id}}' != "None") {
		$("#manage_rooms_edit_room_{{room_id}}").addClass("active");
		// relies on the DOM structure of bootstraps dropdown menus, fyi. 
		$("#manage_rooms_room_name_{{room_id}}").parent().parent().addClass("active");
	} else {
		$("#manage_rooms_new_room").addClass("active");
	}

	//form validation
	$(".bed-form").validate({
		rules: {
			name: {
				required: true
			},
			room: {
				required: true
			},
			default_rate: {
				required: true
			}
		}
	});

	{% if not form.instance.pk %}
		$("#id_room").change(function(el) {
			console.log("room was changed");
			default_rates = {{ default_rates|safe }};
			console.log(default_rates);
			room_id = $(this).val();
			rate = default_rates[room_id]
			$("#id_default_rate").val(rate);
		});
	{% endif %}

	// datepicker
	$("[id$=start_date], [id$=end_date]").datepicker({
		minDate: 0,
		onSelect: function( selectedDate ) {
			start_id = this.id
			if(start_id.endsWith('start_date')) {
				startDate = $('#'+ start_id).datepicker("getDate");
				console.log(startDate);
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
				endDate = start_id.replace("start", "end")
	          	$('#'+endDate).datepicker("option","minDate",rMin);
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	});



</script>
{% endblock %}

