{% extends "base.html" %}

{% block content %}

<h3>Occupancy report for {{report_date|date:"F, Y"}}</h3>

<div id="by-month-nav">
	<span class="icon-spacer-right"><i class="icon-arrow-left"></i></span>
	<a href="?month={{prev_month.month}}&year={{prev_month.year}}">Previous</a> | 
	<a href="{% url 'location_occupancy' location.slug %}"> Current </a> |
	<a href="?month={{next_month.month}}&year={{next_month.year}}">Next</a>
	<span class="icon-spacer-left"><i class="icon-arrow-right"></i></span>
</div>

<div class="row">
	<div class="alert alert-warning" role="alert"><b>Warning</b> There's still a few errors on this page, possibly off-by-one errors. The <a href="{% url 'location_payments_today' location.slug %}">payments page</a> is authoritative, but this is pretty close and still a good reference. Want to improve this page? Check it out on <a href="https://github.com/jessykate/modernomad/blob/master/core/views.py#L118">github</a> :).</div>
</div>

<div class="row">
	<h4> Occupancy by Person Nights for {{report_date|date:"F"}}</h4>
	<p>Total guest nights: {{total_occupied_person_nights}}</p>
	<p>Total available guest nights: {{total_available_person_nights}}</p>
	<p>Overall occupancy rate: {{overall_occupancy|floatformat:2}}%</p>
	<p>Average guests per night: {{average_guests_per_day|floatformat:1}}</p>
</div>
<div class="row">
	<h4> Total Payments by Month Received</h4>
	<p>Income received this month, for this month: ${{ income_for_this_month|floatformat:2 }} </p>
	<p>Income applied from past months: ${{ income_from_past_months|floatformat:2 }}</p>
	<p><em>Income received for past months: ${{ income_for_past_months|floatformat:2 }}</em></p>
	<p><em>Income received for future months: ${{ income_for_future_months|floatformat:2 }}</em></p>
	<br>
	<p><strong class="badge">Total payments to house during this month (cash): ${{ total_income_during_this_month|floatformat:2 }}</strong></p>
	<p><strong class="badge">Total payments to house for this month (accrual): ${{ total_income_for_this_month|floatformat:2 }}</strong></p>
</div>

<div class="row">
	<h4> Income to House by Room, for Occupancy this month</h4>
	{% for room, tup in room_income_occupancy.items %}
	<p>{{ room.name|title }}: ${{ tup.0 }}, occupancy rate {{tup.2|floatformat:2}}% ({{tup.1}} nights) </p>
	{% empty %}
		None
	{% endfor %}
	<p><strong class="badge">Total income to location by rooms ${{ total_by_rooms|floatformat:2 }}</strong></p>
</div>

<div class="row">
	<h4>Error Checking</h4>
	<p>Paid rate discrepancy (paid rate - rate): $ {{ paid_rate_discrepancy|floatformat:2 }}</p>
	<p>Payment discrepancies on reservations: {{ payment_discrepancies|default:"none" }}</p>
	<p>Paid amount was missing from reservations: {{paid_amount_missing|default:"none"}}</p>
</div>

<div class="row">
	<h4>Comped and Unpaid</h4>
	<p>Total comped nights: {{total_comped_nights}}</p>
	<p>Total unpaid: ${{unpaid_total}}</p>
	<p>Est. lost income from comps (@ default rates): <span class="badge">${{total_comped_income|floatformat:2}}</span></p>
</div>

<hr>

{% for item in data %}
	<div>
	<p>
		{{ item.reservation.user.first_name|title }} {{ item.reservation.user.last_name|title }}, 
		<a href="{{item.reservation.get_absolute_url}}">{{item.reservation.arrive}} - {{item.reservation.depart}}</a>. 
		{{ item.nights_this_month }} nights @ ${{item.rate}} ({{item.room}}) = 
		{% if item.unpaid %}
			<span class="red-text">
			${{item.total}}
			</span>
		{% else %}
			${{item.total}}
		{% endif %}
		{% if item.comp %}
		(COMP)
		{% endif %}
	</p>
	</div>
{% endfor %}



{% endblock %}
