{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% comment %} shown only when a background request is being made {% endcomment %}
<div id="spinner">
	<img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
</div>	

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
	{% endfor %}
</div>
{% endif %}

	<div class="row top-spacer">
		<div class="col-md-12">
			<h3>Filter by dates and preferences</h3>
			<div class="reservation-dates row top-spacer">
				<div class="col-md-3 form-group">
					<input class="form-control" id="arrive_date" name="arrive" type="text" placeholder="Arrive">
				</div> 
				<div class="col-md-3 form-group">
					<input class="form-control" id="depart_date" name="depart" type="text" placeholder="Depart">
				</div>
			</div>
		</div>
		<div class="col-md-4" id="res-detail">
		</div>
	</div>

	<div class="row">

			<div id="show-room-availability">

				<div class="top-spacer"></div>

				<div class="col-md-9 col-sm-12" id="availability-area">
					<div class="row" id="rooms-available-calendar">
						{% for room in rooms %}
							<div class="col-lg-6 col-sm-12">
								<label for="select-room-{{room.id}}" id="label-room-{{room.id}}" class="room-select">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">{{room.name}} <span class="pull-right">${{room.default_rate|floatformat:0}}</span></h3>
										</div>
										<div class="panel-body">
											<p class="room-avail-descr">{{ room.description|truncatechars:150 }}</p>
											<img src="/media/{{room.image}}" class="room-info-image" />
										</div>
									</div>
								</label>
								<input type="radio" name="room" id="select-room-{{room.id}}" value="{{room.id}}">
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-md-3 col-sm-12" id="detail-sidebar">
					<div id="sticky-sidebar">

					{% for room in rooms %}

					<div class="room-info" id="room-info-{{room.id}}">
						<div class="panel panel-default" id="panel-room-calendar">
							<div class="panel-heading" id="room-cal-panel-heading">
								<h3 class="panel-title">{{room.name|title}}</h3>
							</div>
							<div class="panel-body">
								<div class="availability-cal" id="availability-cal-{{room.id}}">
									{{ room.availability_calendar_html|safe }}
									<div class="clear"></div>
										<div class="center">
											<span class="greyed-out">Previous</span> |
										<a id="room-cal-{{room.id}}-next" href="{% url 'room_cal_request' location.slug room.id %}?month={{next_month.month}}&year={{next_month.year}}">Next</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% endfor %}

					</div>
				</div>
			
			</div>
    </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/waypoints.js' %}"></script>
<script src="{% static 'js/waypoints-sticky.js' %}"></script>
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>
</script>

<script>

	function register() {
		$("a[id*='room-cal'").click(function(e) {
			console.log('room-cal clicked');
			console.log($(this).attr('id'));
			e.preventDefault();
			// "this" will pick up the parameters from whichever link was clicked
			room_id = $(this).attr('id').split('-')[2];
			path = this.href.split('?')[1]
			month = path.split('&')[0].split('=')[1];
			year = path.split('&')[1].split('=')[1];
			form_data = {'year': year, 'month': month, 'browse_past': 'false'};
			console.log(form_data);
			// the csrf token is here because when the ajax request returns the
			// new html for the current calendar, the template processor won't
			// have a chance to interpret the variable
			form_data = $.param(form_data) + '&csrfmiddlewaretoken=' + '{{ csrf_token }}';

			request = $.ajax({ 
				data: form_data, 
				type: "POST",
				url: "/locations/{{location.slug}}/room/"+room_id+"/htmlcal/"
			});

			request.done(function(msg) { // on success..
				div_id = "#availability-cal-" + room_id
				$(div_id).html(msg)
				register();
				highlight_arrive();
				highlight_depart();
				// if the month displayed is the current month, then disable
				// the link for the previous month (no browsing in the past)
			});

			request.fail(function(msg) {
				div_id = "#availability-cal-" + room_id
				console.log(div_id)
				$(div_id).html("<p>Hmm, there was a problem. Please try selecting your dates again.</p>")
			});
		})
	};

	register();

	$("#sticky-sidebar").waypoint('sticky');
	function set_summary_width(elem) {
		console.log('setting summary width for ' + elem);
        box_width = $(elem).parent().width();
        $(elem).width(box_width);
    }
    $(document).ready(function() {
        set_summary_width('#sticky-sidebar');
    });
    $(window).resize(function() {
        set_summary_width('#sticky-sidebar');
	});

	// this is a hack to force images to be the right dimensions, but should
	// primarily be enforced by the model.
	var img_w = $('.room-info-image').width();
	$('.room-info-image').css({'height':0.65*img_w+'px'});

	$(".room-info").hide();

	$(".room-select").click(function() {
		console.log('in room select');
		room_id = $(this).attr('id').split('-')[2];
		console.log(room_id);
		room_info_div_id = "#room-info-" + room_id;

		$(".room-info").hide();
		
		// update styling on the rooms that are not currently selected
		$(".room-select").removeClass("emphasize");
		$(".room-select").addClass("room-subtle");
		$(".room-select .billing-message").hide();

		// update styling for the room that is currently selected.
		$(this).removeClass("room-subtle");
		$(this).addClass("emphasize");
		if ($(window).width() <= 992 ) {
			$(".emphasize .billing-message").slideDown( "slow");
			$(".emphasize .billing-message").delay(1200);
			$(".emphasize .billing-message").slideUp( "slow");
		}
		$("#the-reservation-form").show();
		$(room_info_div_id).show();
	});
	$(".room-select")[0].click();



	//show the selected arrival and departure dates on the room calendar if it's in view
	highlight_arrive = function() {
		arrive_split = $("#arrive_date").val().split("/");
		arrive_month = arrive_split[0];
		arrive_day = arrive_split[1];
		arrive_year = arrive_split[2];
		// js uses 0-based indexing for the month
		arrive_date = new Date(arrive_year, arrive_month-1, arrive_day);
		arrive_month = arrive_date.getMonth()+1;
		arrive_search_date_str = arrive_date.getFullYear() + "_" + arrive_month + "_" + arrive_date.getDate() 
		if ($("."+arrive_search_date_str)) {
			$(".a_day").removeClass("cal_arrive_date");
			$("."+arrive_search_date_str).addClass("cal_arrive_date");
		}
	}

	highlight_depart = function() {
		depart_split = $("#depart_date").val().split("/");
		depart_month = depart_split[0];
		depart_day = depart_split[1];
		depart_year = depart_split[2];
		// js uses 0-based indexing for the month
		// depart_date = new Date(depart_year, depart_month-1, depart_day);
		// now subtract one day because you don't actually *stay* the night of your departure
		depart_date = new Date(new Date().setDate(new Date(depart_year, depart_month-1, depart_day).getDate()-1))
		console.log(depart_date)
		depart_month = depart_date.getMonth()+1;
		depart_search_date_str = depart_date.getFullYear() + "_" + depart_month + "_" + depart_date.getDate() 
		if ($("."+depart_search_date_str)) {
			$(".a_day").removeClass("cal_depart_date");
			$("."+depart_search_date_str).addClass("cal_depart_date");
		}
	}

	$("#arrive_date, #depart_date").datepicker({
		minDate: 0,
		onSelect: function( selectedDate ) {
			if(this.id == 'arrive_date') {
				startDate = $('#arrive_date').datepicker("getDate");
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
	          	var rMax = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + {{max_days}} ); // Max Date = Selected + max_days
	          	console.log(rMax);
	          	$('#depart_date').datepicker("option","minDate",rMin);
	          	$('#depart_date').datepicker("option","maxDate",rMax);                    
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	});

	/******************** unlikely to use this but just in case... 
	$(".a_day").click(function(event) {
		console.log(event.target);
		// should we make this the arrive or depart date?
		e = event;
		new_date = event.target.val();
		arrive = Date($("#arrive_date").val());
		depart = Date($("#depart_date").val());
		console.log(arrive);
		console.log(depart);
		console.log(new_date);

		if ( (!arrive && !depart) || (new_date < depart) ) {
			console.log("meh");
		}
	})
	***************************** */

	$("#arrive_date, #depart_date").change(function(event) {
		// Get arrive and depart dates, update value. 
		$arrive = $("#arrive_date").val();
		$depart = $("#depart_date").val();

		// once the dates are selected, poll for a list of available rooms
		if ($arrive && $depart) {

			$delta_ms = new Date($depart) - new Date($arrive)
			$delta_days = $delta_ms/(1000*60*60*24)

			if ($delta_days > {{ max_days }}) {
				$("#show-room-availability").html("<p class='bg-danger general-pad'>Please limit your request dates to {{ max_days }} days.</p>");

			} else {

				console.log("checking availability...");
				request = $.ajax({ 
					data: {
						'arrive' : $arrive,
						'depart' : $depart,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					}, 
					type: "POST",
					url: '{% url "room_availability" location.slug %}'
				});
			
				request.done(function(msg) { // on success..
					$("#show-room-availability").html(msg);
					highlight_arrive();
					highlight_depart();
				});

				request.fail(function(msg) {
					$("#show-room-availability").html("<p class='bg-danger general-pad'>Hmm, there was a problem. Please try selecting your dates again.</p>")
				});
				$("#reservation-items").empty()
				$("#reservation-total").html("0")
			} // end room availability check
		} 


		// wire up the ajax-y spinning animated GIF to show when an ajax call
		// is made. 	
		$('#spinner').ajaxStart(function () {
			$(this).fadeIn('fast');
		}).ajaxStop(function () {
			$(this).stop().fadeOut('fast');
		});	
	
	});

</script>


{% endblock %}
