{% extends "base.html" %}
{% block content %}

<div id="spinner">
    <img src="/media/img/ajax-loader-drip.gif" alt="Loading..."/>
</div>	

<!-- Email Modal -->

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Email {{ r.user.first_name }} </h3>
			</div>
			<div class="modal-body">
				<!-- select menu specifies which email to show -->
				<div>Select a template from the dropdown list to populate an email
					with relevant default text. If you would like to add a new
					template, visit the admin section of the site!</div>
				<select name="select-email" id="which-email-select">
					{% for template_name in email_templates_by_name %}
					<option id="option{{forloop.counter}}" name="select-email" value="{{ template.name }}">
					{{template_name}}
					</option>
					{% endfor %}
				</select>

				<!-- the selected email will be inserted here -->
				<div id="selected-email">
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row" id="reservation-nav">
	<a href="{% url 'reservation_manage_list' location.slug %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to reservations</a>
</div>

{% if r.is_canceled %}
<div class="greyed-out">
{% endif %}

<div class="row">
<div class="col-md-3">
	{% if r.user.profile.image %}
	<div class="img-polaroid">
		<img class="profile-page-img" src="{{ MEDIA_URL }}{{ r.user.profile.image|default:'data/avatars/default.jpg' }}" />
	</div>
	{% endif %}

	<div class="res-actions-secondary"><h2>Manage</h2></div>

		<button id="email-user-button" class="btn btn-default" type="button" data-target="#emailModal" data-toggle="modal">Email this User</button>

		{% if r.is_paid %}
		<form id="res-action-send-receipt" class="manage-button-spacer res-action" method=POST action="{% url 'reservation_send_receipt' location.slug r.id %}" >
			{% csrf_token %}
			<input class="btn-default btn" type="submit" value="Send Receipt">
		</form>
		{% endif %}

		{% if not r.is_canceled %}

			{% if r.is_comped or not r.is_paid %}
				<form id="res-action-toggle-comp" class="res-action" method="post" action="{% url 'reservation_toggle_comp' location.slug r.id %}" >
					{% csrf_token %}
					<input type="submit" 
					{% if r.is_comped %} value="Remove Comp" {% else %} value="Make Comp"{% endif %}
					class="btn-default btn" id="toggle-comp-input">
				</form>
			{% endif %}

			<form id="res-cancel" method="post" action="{% url 'reservation_cancel' location.slug r.id %}">
				{% csrf_token %} 
				<input type="hidden" name="redirect" value="{% url 'reservation_manage' location.slug r.id %}">
				<input class="btn btn-default" type="submit" value="Cancel This Reservation">
			</form>

			<div id="dialog-confirm-cancel" title="Cancel this Reservation?">
				<p>
					<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
					This reservation will be cancelled. Are you sure?
				</p>
			</div>

		{% endif %} {% comment %} endif != 'canceled' {% endcomment %}
</div>


<div class="col-md-7">

	<h1 class="res-field field">{{ r.user.first_name|title }} {{r.user.last_name|title }}</h1>

	{% include "snippets/res_status_area.html" %}

	<hr>

	<div class="res-value">${{ r.total_value }}</div> 
	{% if room_has_availability %}
		<div class="res-field field has-availability">
	{% else %}
		<div class="res-field field no-availability">
	{% endif %}
		{{ r.arrive }} - {{ r.depart }} {% if r.arrival_time %} around {{r.arrival_time}} {% endif %}
		{% if room_has_availability %} (available) {% else %} (conflict) {% endif %}
	</div>

	<!-- availability calendar -->
	<table id="rooms-available-calendar">
		<tr>
		<th>Room</th>
		{% for date in dates %}
		<th>{{ date|date:"M d" }}</th>
		{% endfor %}
		</tr>

		{% for room_obj, days_list in avail.items %}
		<tr>
			<td> 
				{{room_obj.name}}
			</td>

			{% for the_day, beds_free in days_list %}
			<td>
				{% if beds_free %}
					<div class="yes-available bg-success"><i class="icon-ok"></i> {{beds_free}}</div>
				{% else %}
					<div class="no-available bg-danger"><i class="icon-remove"></i></div>
				{% endif %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<hr>

	<div class="res-field field"><strong>Room:</strong> {{ r.room }}</div>
	<div class="res-field field"><strong>Tags:</strong> {{ r.tags }}</div>
	<div class="res-field field"><strong>Purpose:</strong> {{ r.purpose }}</div>
	<div class="res-field field"><strong>Comments:</strong> {{ r.comments }}</div>

	<hr>

	<h2>Bill Details</h2>
	<table id="bill-details" style="margin-left:3em; width:80%">
		{% for item in r.bill_line_items %}
			<tr {% if item.paid_by_house %} style="color:red;" {% endif %}>
				<td>{{ item.description }}</td>
				<td>{% if item.paid_by_house %} (paid by house) {% endif %}</td>
				<td style="text-align:right;">{{ item.amount|floatformat:2 }}</td>
			</tr>
		{% endfor %}
		<tr style="border-top:thick double black;">
			<td></td>
			<td></td>
			<td style="text-align:right;">${{ r.bill_amount|floatformat:2 }}</td>
	</table>

	<h2>Payments</h2>
	<table id="payment-details" style="margin-left:3em; width:80%">
		{% for p in r.payments %}
			<tr>
				<td>{{ p.payment_method }}</td>
				<td style="text-align:right;">{{ p.amount|floatformat:2 }}</td>
			</tr>
		{% endfor %}
		<tr style="border-top:thick double black;">
			<td></td>
			<td style="text-align:right;">${{ r.total_paid|floatformat:2 }}</td>
	</table>
	<hr>
	
	<h2>User Details</h2>
	<div class="user-field field"><strong>How they heard about us:</strong> {{ r.user.profile.referral }}</div>
	<div class="user-field field"><strong>About them:</strong> {{ r.user.profile.bio }}</div>
	<div class="user-field field"><strong>Projects:</strong> {{ r.user.profile.projects }}</div>
	<div class="user-field field"><strong>Sharing Interests</strong>: {{ r.user.profile.sharing }}</div>
	<div class="user-field field"><strong>Discussion Interests</strong>: {{ r.user.profile.discussion }}</div>
	{% with u=r.user %}
		{% include "snippets/profile_links.html" %}

		<h3>Other Reservations</h3>
		{% include "snippets/user_reservations.html" %}

	{% endwith %}

</div> <!-- end res-info-main -->
</div> 

{% if r.is_canceled %}
</div>
{% endif %}


{% endblock %}

{% block extrajs %}
<script language="JavaScript">

// don't have a default email selected when the modal pops up
$("#which-email-select").prop("selectedIndex", -1);

$("#which-email-select").change(function() {

	// remove the previously active email form, if any
	$("#selected-email").empty();

	// insert form fields with selected email template
	var email_selection = $("select option:selected").prop("id")
	var template_id = email_selection.match(/\d+/)
	$("#selected-email").html($email_templates[template_id]);
});

function register_actions() {
	// comping a reservation reslts in a page reload so we can rely on the
	// template language here. 
	payment_status = $("#payment-status").html();
	
	if (payment_status == 'paid') {
		$("#res-action-toggle-comp").remove();
	}
	$('.res-manage-action').click(function() { 
		request = $.ajax({ 
			data: {
				'reservation-action': $(this).attr('id'),
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			}, 
			type: $("#res-action-form").attr('method'), // GET or POST
			url: $("#res-action-form").attr('action') // the url to hit
		});
		request.done(function(msg) { // on success..
			console.log("Success!");
			$("#res-status-area").html(msg);
			$("#emailModal").modal("show");

			// also need to re-register the ajax calls on the new html divs one
			// it is injected (or we won't be able to chain multiple calls
			// together without refreshing the page). 
			register_actions();
		});
		request.fail(function(msg) {
			console.log("Error in reservation update:");
			console.log(msg);
		});

		return false;
	});
};

$(document).ready(function() {
	register_actions();

	$email_templates = {};
	{% for f in email_forms %}
		$email_templates[{{forloop.counter}}] = '<div id="form{{forloop.counter}}">' +
			'<form id="res-action-email-user" method=POST action="{% url 'reservation_send_mail' location.slug r.id %}" >' +
			"{% csrf_token %}" +
			'<div class="form-group">' +
			'<span class="email-form-label">To: </span> {{f.recipient}} <br>' +
			'<span class="email-form-label">From: </span> {{f.sender}} <br>' +
			'<span class="email-form-label">Subject: </span> {{f.subject}} <br>' +
			'{{f.body|escapejs}}' +
			'{{f.footer|escapejs}}' +
			'</div>' + 
			'<submit value="Send">' +
			'<div class="modal-footer">' +
				'<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>' +
				'<button type="submit" class="btn btn-primary">Send Email</button>' +
			'</div>' +
			'</div>'
	{% endfor %}
	console.log($email_templates);

	$('#res-action-charge').submit(function() { 
		submitdata = {
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		};
		console.log(submitdata);
		request = $.ajax({ 
			data: submitdata, 
			type: $("#res-action-charge").attr('method'), // GET or POST
			url: $("#res-action-charge").attr('action'), // the file to call
		});
		request.done(function(msg) { // on success..
			console.log("Success!");
			$("#res-action-charge-submit").val("PAID");
			$("#res-action-charge-submit").addClass("disabled");
			$("#res-status-area").addClass("paid-bg-img");
		});
		request.fail(function(msg) {
			console.log("Error in reservation update:");
			console.log(msg);
		});

		return false;
	});


	// wire up the ajax-y spinning animated GIF when an ajax call is made. 	
	$('#spinner').ajaxStart(function () {
        $(this).fadeIn('fast');
    }).ajaxStop(function () {
        $(this).stop().fadeOut('fast');
    });	
});

$("#dialog-confirm-cancel").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Cancel": function () {
            $("#res-cancel").submit();
         },
        "Do Not Cancel": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-cancel").click(function (e) {
    $("#dialog-confirm-cancel").dialog("open");
    e.preventDefault();
});

</script>

{% endblock %}
