{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="spinner">
    <img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
</div>	

<div class="row" id="reservation-nav">
	<a href="{% url 'reservation_manage_list' location.slug %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to reservations</a>
</div>

{% include 'snippets/messages.html' %}

<div class="row">
	<div class="col-md-7">
		<h2 class="res-field field">Create a New Reservation </h2>
	</div>
</div>

<!-- new row -->
<hr>


<div class="row" class="bottom-pad-thirty">

	<div class="col-md-3">
		<div class="img-polaroid">
			<img id="avatar-placeholder" class="profile-page-img" src="{{ STATIC_URL }}img/default.jpg" />
		</div>
	</div>

	<div class="col-md-7">	


		<div id="reservation-details-form">
			<form method="POST" role="form" class="form-horizontal" id="manage-reservation-form" action="{% url 'reservation_manage_create' location.slug %}">{% csrf_token %}

				<div class="form-group">
					<label class="col-sm-2 control-label">User</label> 
					<div class="col-sm-7">
						<input class="form-control" name="username" id="id_username" value="" required/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Arrive</label> 
					<div class="col-sm-2">
						<input class="form-control listening" id="id_arrive" name="arrive" value="" size="8" required/>
					</div>
					<label class="col-sm-2 control-label">Depart</label> 
					<div class="col-sm-2">
						<input class="form-control listening" id="id_depart" name="depart" value="" size="8" required/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Room</label> 
					<div class="col-sm-6">
						<select class="form-control listening" id="room_select" name="room" required>
							<option value="">Select Room</option>
							{% for room in location.get_rooms %}
								<option value="{{room.id}}">{{ room.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>


				<div class="form-group room_display" style="display: none;">
					<div class="col-sm-offset-2 col-sm-6 ">
					</div>
					<div class="rooms_available"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Purpose</label> 
					<div class="col-sm-6">
						<input class="form-control" id="id_purpose" name="purpose" value="" size="8" required/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Status</label> 
					<div class="col-sm-4">
						<select name="status" class="form-control" required>
							{% for status_tup in reservation_statuses %}
							<option value="{{status_tup.0}}">{{status_tup.1}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<p class="col-sm-offset-2 col-sm-6 small">The confirmed and payment statuses should generally be aligned. Only edit this in special circumstances if you need to override what The Man thinks is right :).</p>
				</div>

				<div class="form-group">
					<div class="col-sm-6 col-md-offset-2">
						<input type="checkbox" name="email_announce" id="email_announce" > Announce this reservation by email?
					</div>
				</div>

				<input type="submit" value="Create Reservation" class="btn btn-default">
			</form>

		</div>


	</div> <!-- end col-md-7 -->
</div> 


{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script>

	get_avatar = function(event) {
		console.log('username changed');
		username = $("#id_username").val();
		console.log(username);
		if (username) {
			request = $.ajax({ 
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}, 
				type: "POST",
				url: '/people/'+username+'/avatar/'
			});
		
			request.done(function(url) { // on success..
				console.log(url);
				$("#avatar-placeholder").fadeOut(function() {
					$(this).attr('src', url).fadeIn();
				});
			});

			request.fail(function(msg) {
				console.log("could not find avatar for username " + username);
			});
		}
	};
	

	//$("#id_username").change(get_avatar);
	$(function() {
		var availableUsers = [
			{% for user in all_users %}
			"{{user.username}}",
			{% endfor %}
		];

		$( "#id_username" ).autocomplete({
			source: availableUsers,
			change: get_avatar
		});
	});

	$("#id_arrive, #id_depart").datepicker({
		onSelect: function( selectedDate ) {
			if(this.id == 'id_arrive') {
				startDate = $('#id_arrive').datepicker("getDate");
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
	          	$('#id_depart').datepicker("option","minDate",rMin);
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	})
	
	// Check reservation dates and room for avilability, warn admin if overbooking room.
	$(".listening").change(function(event) {
		// Get arrive and depart dates, update value. 
		var arrive = $("#id_arrive").val();
	 	var depart = $("#id_depart").val();
		var room = $("#room_select").val();

		// once the dates are selected, poll for a list of available rooms
		if (arrive && depart && room) {

			$('.room_display').hide()
	     	$.get('availability_admin/', {arrive: arrive, depart: depart, room: room}, function(data){
           		if (data.available == false) {
					var container = $('<div class="col-sm-offset-2 col-sm-6 "> </div>');
					container.append("<div class='text-danger'>This room is aleady booked on those dates</div>");
					container.append("<div><strong>Rooms Available:</strong></div>");
					$.each(data.rooms, function(key, value) {
						container.append('<div>' + value + '</div>');
					})
					$('.rooms_available').html(container);  
					$('.room_display').show()
					$("#room_select").val("");
           		} 
	       	});
			
		} 


		// wire up the ajax-y spinning animated GIF to show when an ajax call
		// is made. 	
		$('#spinner').ajaxStart(function () {
			$(this).fadeIn('fast');
		}).ajaxStop(function () {
			$(this).stop().fadeOut('fast');
		});	
	
	});


	$("#manage-reservation-form").validate();




</script>
{% endblock %}
