{% extends "base.html" %}
{% load staticfiles %}
{% load core_tag_extras %}

{% block content %}

{% include "snippets/messages.html" %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body center">
		<p class="para-padding">
			Share this link with a 3rd party if they are submitting payment for you.
		</p>
		<p class="bg-warning para-padding">
		<a target="_blank" href="https://{{domain}}{% url 'reservation_payment' location.slug reservation.uuid %}">https://{{domain}}{% url 'reservation_payment' location.slug reservation.uuid %}</a>
		</p>
      </div>
    </div>
  </div>
</div>

<div class="row {% if reservation.status == 'canceled' %}greyed-out{% endif %}">

	{% if reservation.status == 'canceled' %}
		<div class="col-md-12">
			<div class="alert alert-danger">
				<span class="fa fa-ban"></span> This reservation is canceled
			</div>
		</div>

	{% elif reservation.is_paid %}
		<div class="col-md-12">
			<div class="alert alert-success">
				<span class="fa fa-check text-success"></span> Huzzah! Your reservation is confirmed. We look forward to having you!
			</div>
		</div>
	{% else %}
		<div class="col-md-12">
			<div class="alert alert-warning">
				{% if reservation.user.profile.customer_id %}
					<span class="fa fa-exclamation-circle"></span>
					This reservation is awaiting confirmation and you will receive an email when your card {%if user.profile.last4 %}(**{{user.profile.last4}}){% endif %} has been charged.
				{% else %}

					<p class="row-spacer">
						<span class="fa fa-credit-card"> </span>
						Please enter a credit card so that we can confirm this reservation.
					</p>

					<div class="col-md-4">
						<form action="{% url 'user_add_card' reservation.user.username %}" class="form-horizontal" method="POST" id="payment-form">{% csrf_token %}

							<input type="hidden" name="res-id" value="{{reservation.id}}">

							<div id="payment-errors text-danger"></div>

							<div class="row sm-row-spacer">
								<div class="col-sm-2">
									<label>
										<span>Card</span>
									</label>
								</div>
								<div class="col-sm-10">
									<input class="form-control" type="text" data-stripe="number"/>
								</div>
							</div>

							<div class="row sm-row-spacer">
								<div class="col-sm-2">
									<label> CVC </label>
								</div>
								<div class="col-sm-3">
									<input class="form-control" type="text" size="4" data-stripe="cvc"/>
								</div>

								<div class="col-sm-1">
									<label>
										<span>Exp</span>
									</label>
								</div>
								<div class="col-sm-6 form-inline">
									<input class="form-control" type="text" size="4" data-stripe="exp-month" placeholder="MM"/> /
									<input class="form-control" type="text" size="6" data-stripe="exp-year" placeholder="YYYY"/>
								</div>
							</div>
							<div class="row sm-row-spacer">
								<div class="col-md-4 col-md-offset-2">
									<button type="submit" class="btn btn-default">Add Card</button>
								</div>
							</div>
						</form>
					</div>
					<div class="clear"></div>

					<p>
						Someone else paying? Send them the <a href="" data-toggle="modal" data-target="#myModal">3rd party payment link</a> (they will not have to log in).
					</p>

					<p><em><small>We use <a href="http://stripe.com">Stripe's</a> secure credit card processing with SSL encryption. Your card card information is never stored on our servers.</small></em></p>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-md-4 col-md-push-8">
		{% if user in location.house_admins.all %}
			<div class="row">
			<div class="col-sm-12 align-right">
				<a href="{% url 'reservation_manage' location.slug reservation.id %}">Manage Reservation <span class="fa fa-mail-forward"></span></a>
			</div>
			</div>
		{% endif %}
		<div id="reservation-amount-summary-box">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reservation Summary</h3>
				</div>
				{% with reservation.bill as bill %}
					{% include 'snippets/reservation_bill_line_items_and_payments.html' %}
				{% endwith %}
				<div class="panel-footer text-muted">
					<em>Cancellation policy for the {{ reservation.resource }} is {{reservation.resource.cancellation_policy}}.</em>
				</div>
			</div>
		</div>
		{% if reservation.is_paid %}
		<div class="row">
			<div class="col-sm-12">
				<a class="btn btn-default res-status-btn" type="button" href="{% url 'reservation_payment' location.slug reservation.uuid %}">View Receipt</a>
			</div>
		</div>
		{% endif %}
	</div> <!-- end col-md-4 -->
	<div class="col-md-8 col-md-pull-4">
		<h3>Reservation for
			<em><a href="{% url 'user_detail' reservation.user.username %}">{{ reservation.user.first_name|title }} {{reservation.user.last_name}}</a></em>
		</h3>
		<h4>{{reservation.arrive }} - {{reservation.depart}}.</h4>
		<div class="row">
			<div class="col-md-3"><b>Room</b></div><div class="col-md-9">{{ reservation.resource.name|title}}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Purpose of trip</b></div><div class="col-md-9">{{ reservation.purpose}}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Additional Comments</b></div><div class="col-md-9">{{  reservation.comments|default:"None" }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Approximate arrival Time</b></div><div class="col-md-9">{{ reservation.arrival_time|default:"Not specified" }}</div>
		</div>

	</div>

</div>

<div class="row top-spacer-xl {% if reservation.status == 'canceled' %}greyed-images greyed-out {% endif %}">
		<div class="col-md-12">
			<h3> Also here during your stay</h3>
			{% for subset in users_during_stay|subsets_size:12 %}
				<div class="row row-spacer">
					{% for user in subset %}
						<div class="col-md-2 col-sm-3 col-xs-6">
              <a href="{% url 'user_detail' user.username %}">
  							<img src="{{ MEDIA_URL }}{{ user.profile.image_thumb|default:'static/img/default.jpg'}}" class="small-profile-pic">
  							<p class="text-center">{{user.first_name}}</p>
              </a>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>


{% ifequal reservation.user user %}
	<div class="res-modify-btn row-spacer">
		{% if past %}
			<p class="notice">This reservation is in the past and cannot be modified</p>
		{% elif paid %}
			<p class="notice">This reservation has already been paid for. </p>
		{% elif reservation.status == 'canceled' %}
		{% else %}
			<div>
				<a class="btn-inline btn btn-info" href="{{ request.get_full_path }}edit">Modify reservation</a>
				<form id="res-delete" class="btn-inline" method="post" action="{% url 'reservation_delete' location.slug reservation.id %}">{% csrf_token %} <input type="submit" class="btn-inline btn-red btn btn-link" value="Delete?"></form>
			</div>

			<div id="dialog-confirm" title="Delete this Reservation?">
				<p>
				<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
				This reservation will be permanently deleted and cannot be recovered. Are you sure?
				</p>
			</div>
		{% endif %}
	</div>
	<div class="row row-spacer greyed-out">
		<span>Questions? Contact <a href="mailto:{{contact}}">{{ contact }}</a>.</span>
		<span class="pull-right"><em>Created {{reservation.created}}. Last updated {{reservation.updated}}.</em></span>
	</div>

{% endifequal %}

</div> <!-- end col -->


{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">

// This identifies your website in the createToken call below
Stripe.setPublishableKey('{{ stripe_publishable_key }}');

var stripeResponseHandler = function(status, response) {
	var $form = $('#payment-form');
	if (response.error) {
		// Show the errors on the form
		$form.find('.payment-errors').text(response.error.message);
		$form.find('button').prop('disabled', false);
	} else {
		// token contains id, last4, and card type
		var token = response.id;
		// Insert the token into the form so it gets submitted to the server
		$form.append($('<input type="hidden" name="stripeToken" />').val(token));
		// and re-submit
		$form.get(0).submit();
	}
};

jQuery(function($) {
		$('#payment-form').submit(function(e) {
			var $form = $(this);
			// Disable the submit button to prevent repeated clicks
			$form.find('button').prop('disabled', true);
			Stripe.card.createToken($form, stripeResponseHandler);
			// Prevent the form from submitting with the default action
			return false;
			});
		});
	</script>

<script>
$("#dialog-confirm").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Delete": function () {
            $("#res-delete").submit();
         },
        "Cancel": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-delete").click(function (e) {
    $("#dialog-confirm").dialog("open");
    e.preventDefault();
});
</script>


{% endblock %}
