{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% comment %} shown only when a background request is being made {% endcomment %}
<div id="spinner">
	<img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
</div>	

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
	{% endfor %}
</div>
{% endif %}

<h2 class="center">Make a Reservation Request</h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

			<div class="reservation-dates row lead center">
				<div class="col-md-6 form-group">
                    <label for="arrive" class="reservation-label">Arrive</label>
					<input class="form-control" id="arrive_date" name="arrive" type="text">
                </div> 
				<div class="col-md-6 form-group">
                    <label for="depart" class="reservation-label">Depart</label>
					<input class="form-control" id="depart_date" name="arrive" type="text">
                </div>
			</div>
		</div>
        <div class="col-md-4" id="res-detail">
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">

			<div id="show-room-availability"></div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>
</script>

<script>

	$("#arrive_date, #depart_date").datepicker({
		minDate: 0,
		onSelect: function( selectedDate ) {
			if(this.id == 'arrive_date') {
				startDate = $('#arrive_date').datepicker("getDate");
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
	          	var rMax = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + {{max_days}} ); // Max Date = Selected + max_days
	          	console.log(rMax);
	          	$('#depart_date').datepicker("option","minDate",rMin);
	          	$('#depart_date').datepicker("option","maxDate",rMax);                    
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	});

	$("#arrive_date, #depart_date").change(function(event) {
		// Get arrive and depart dates, update value. 
		$arrive = $("#arrive_date").val();
		$depart = $("#depart_date").val();

		// once the dates are selected, poll for a list of available rooms
		if ($arrive && $depart) {

			$delta_ms = new Date($depart) - new Date($arrive)
			$delta_days = $delta_ms/(1000*60*60*24)

			if ($delta_days > {{ max_days }}) {
				$("#show-room-availability").html("<p class='bg-danger general-pad'>Please limit your request dates to {{ max_days }} days.</p>");

			} else {

				console.log("checking availability...");
				request = $.ajax({ 
					data: {
						'arrive' : $arrive,
						'depart' : $depart,
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					}, 
					type: "POST",
					url: '{% url "room_availability" location.slug %}'
				});
			
				request.done(function(msg) { // on success..
					$("#show-room-availability").html(msg);
				});

				request.fail(function(msg) {
					$("#show-room-availability").html("<p class='bg-danger general-pad'>Hmm, there was a problem. Please try selecting your dates again.</p>")
				});
				$("#reservation-items").empty()
				$("#reservation-total").html("0")
			} // end room availability check
		} 


		// wire up the ajax-y spinning animated GIF to show when an ajax call
		// is made. 	
		$('#spinner').ajaxStart(function () {
			$(this).fadeIn('fast');
		}).ajaxStop(function () {
			$(this).stop().fadeOut('fast');
		});	
	
	});

    function set_summary_width() {
        box_width = $('#reservation-amount-summary-box').parent().width();
        $('#reservation-amount-summary-box').width(box_width);
    }
    $(document).ready(function() {
        set_summary_width();
    });
    $(window).resize(function() {
        set_summary_width();
    });

</script>


{% endblock %}
