{% extends "base.html" %}
{% load staticfiles %}
{% load core_tag_extras %}

{% block content %}

{% include "snippets/messages.html" %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body center">
		<p class="para-padding">
			Share this link with a 3rd party if they are submitting payment for you. 
		</p>
		<p class="bg-warning para-padding">
			https://{{domain}}{% url 'reservation_payment' location.slug reservation.uuid %}
		</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
	{% if reservation.is_pending %}
		<div class="col-md-12">
			<div class="alert alert-warning">
				<span class="fa fa-smile-o"></span> This reservation is pending approval and you will receive an email when it has been approved.
			</div>
		</div>
	{% elif reservation.is_confirmed and reservation.is_paid %}
		<div class="col-md-12">
			<div class="alert alert-warning">
				<span class="fa fa-check text-success"></span> Huzzah! Your reservation is confirmed. We look forward to having you!
			</div>
		</div>
	{% elif reservation.is_approved or reservation.is_confirmed %}
		{% if not reservation.is_paid %}
		<div class="col-md-12">
			<div class="alert alert-warning">
				<span class="glyphicon glyphicon-exclamation-sign text-danger"></span> Action Required! Please pay for your reservation to confirm.
			</div>
		</div>
		{% endif %}
	{% endif %}

	<div class="col-md-8">
		<h3>Reservation for 
			<em><a href="{% url 'user_detail' reservation.user.username %}">{{ reservation.user.first_name|title }} {{reservation.user.last_name}}</a></em>
		</h3>
		<h4>{{reservation.arrive }} - {{reservation.depart}}.</h4>
		<div class="row">
			<div class="col-md-3"><b>Room</b></div><div class="col-md-9">{{ reservation.room.name|title}}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Purpose of trip</b></div><div class="col-md-9">{{ reservation.purpose}}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Additional Comments</b></div><div class="col-md-9">{{  reservation.comments|default:"None" }}</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Approximate arrival Time</b></div><div class="col-md-9">{{ reservation.arrival_time|default:"Not specified" }}</div>
		</div>

	</div>

	<div class="col-md-4">

		{% if user in location.house_admins.all %}
			<div class="row">
			<div class="col-sm-12 align-right">
				<a href="{% url 'reservation_manage' location.slug reservation.id %}">Manage Reservation <span class="fa fa-mail-forward"></span></a>
			</div>
			</div>
		{% endif %}
		
		<div id="reservation-amount-summary-box">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reservation Summary</h3>
				</div>
				<table class="table">
					<tbody id="reservation-items">
					</tbody>
					<tbody>
						{% for line_item in reservation.bill.subtotal_items %}
							<tr class="a-room-fee"> 
								<td>{{ line_item.description }}</td> 
								<td>${{ line_item.amount|floatformat:2 }}</td>
							</tr>
						{% endfor %}	

						{% for line_item in reservation.bill.fees %}
							{% if not line_item.paid_by_house %}
							<tr class="a-room-fee"> 
								<td>{{ line_item.description }}</td> 
								<td>${{ line_item.amount|floatformat:2 }}</td>
							</tr>
							{% endif %}
						{% endfor %}	
						<td><strong>Total</strong></td>
						<td><strong>$<span id="reservation-total">{{ reservation.bill.amount|floatformat:2 }}</span></strong></td>
					</tbody>
				</table>
				<div class="panel-footer text-muted">
					<em>Cancellation policy for the {{ reservation.room }} is {{reservation.room.cancellation_policy}}.</em>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-sm-12">

			{% if reservation.is_approved or reservation.is_confirmed %}

				{% if not reservation.is_paid and reservation.user.profile.customer_id %}

					<div class="row-spacer">
						<form action="{% url 'reservation_confirm' reservation.location.slug reservation.id %}" method="POST" id="payform">
							{% csrf_token %}
							<button type="submit" id="pay-button" class="btn btn-default res-status-btn"><span class="text-success">Submit payment with card on file</span></button>
						</form>
					</div>
					<div>
						<p>Someone else paying? Send them the <a href="" data-toggle="modal" data-target="#myModal">3rd party payment link</a></p>
					</div>

				{% elif not reservation.is_paid and not reservation.user.profile.customer_id %}

					<div class="row-spacer">
						<form action="{% url 'user_add_card' reservation.user.username %}" method="POST" id="payform">
							{% csrf_token %}
							<input type="hidden" value={{ reservation.id }} name="res-id">
							<input type="hidden" value={{ location.slug }} name="loc-slug">
							<button type="submit" id="pay-button" class="btn btn-default res-status-btn"><span class="text-success">Click to enter Payment Details</span></button>
						</form>
					</div>
					<div>
						<p>Someone else paying? Send them the <a href="" data-toggle="modal" data-target="#myModal">3rd party payment link</a></p>
					</div>
					<div>
						<p><em><small>We use <a href="http://stripe.com">Stripe's</a> secure credit card processing with SSL encryption. Your card card information is never stored on our servers.</small></em></p>
					</div>

				{% elif reservation.is_paid %}
					<a class="btn btn-default res-status-btn" type="button" href="{% url 'reservation_payment' location.slug reservation.uuid %}">View Receipt</a>
				{% endif %}

			{% elif reservation.is_canceled %}

				<div class="btn btn-lg btn-danger res-status-btn" disabled="disabled" type="button">Reservation Canceled</div>

			{% endif %}

		</div>
		</div>
	</div> <!-- end col-md-4 -->
</div>

<div class="row top-spacer-xl">

	<div class="col-md-12">
		<h3> Also here during your Stay</h3>
		{% for subset in users_during_stay|subsets_size:12 %}
			<div class="row row-spacer">	
				{% for user in subset %}
					<div class="col-lg-1 col-sm-3 col-xs-4">
						<img src="{{ MEDIA_URL }}{{ user.profile.image_thumb|default:'static/img/default.jpg'}}" class="small-profile-pic">
						<p> <a href="{% url 'user_detail' user.username %}">{{user.first_name}} {{user.last_name}}</a> </p>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

</div>


{% ifequal reservation.user user %}
	<div class="res-modify-btn">
	{% if past %}
		<p class="notice">This reservation is in the past and cannot be modified</p>
	{% elif paid %}
		<p class="notice">This reservation has already been paid for. Please
		contact {{ contact }} if you need to make changes. </p>
	{% else %}
		<div>
			<a class="btn-inline btn btn-info" href="{{ request.get_full_path }}edit">Modify reservation</a>
			<form id="res-delete" class="btn-inline" method="post" action="{% url 'reservation_delete' location.slug reservation.id %}">{% csrf_token %} <input type="submit" class="btn-inline btn-red btn btn-link" value="Delete?"></form>
		</div> 

		<div id="dialog-confirm" title="Delete this Reservation?">
		    <p>
		        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		        This reservation will be permanently deleted and cannot be recovered. Are you sure?
		    </p>
		</div>

	{% endif %}
	</div>

	<div class="row">
		<p><em>Created {{reservation.created}}. Last updated {{reservation.updated}}.</em></p>
	</div>

{% endifequal %}

</div> <!-- end col -->


{% endblock %}

{% block extrajs %}
<script src="https://checkout.stripe.com/v2/checkout.js"></script>

<script>
	$(document).ready(function() {

		handler = StripeCheckout.configure({
			token: function(new_token){
				var $input = $('<input type=hidden name=stripeToken />').val(new_token.id);
				$('#payform').append($input).submit();
			},
			key: "{{ stripe_publishable_key }}",
			image: "{% static 'img/embassy-front-1-128x128.jpg' %}",
			panelLabel:"Pay",
			name: "The Embassy Network"	
		}); 

		$customer_id = "{{ reservation.user.profile.customer_id }}";

		$('#pay-button').click(function(event){
			event.preventDefault();
			$customer_id = "{{ reservation.user.profile.customer_id }}";
			// if the user has a saved card, submit payment. 
			if ($customer_id && $customer_id != "None") {
				$('#payform').submit();
			}
			
			//otherwise prompt them to enter a new card. 
			else {	
				handler.open({
					amount: "{{ reservation.bill.total_owed_in_cents }}",
					description: "{{ reservation.total_nights }} nights in {{ reservation.room|safe }}.",
				});
			}
		});
	});
</script>

<script>
$("#dialog-confirm").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Delete": function () {
            $("#res-delete").submit();
         },
        "Cancel": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-delete").click(function (e) {
    $("#dialog-confirm").dialog("open");
    e.preventDefault();
});
</script>


{% endblock %}
