{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12"><a href="{% url 'location_stay' location.slug %}"><span class="glyphicon glyphicon-chevron-left"></span> back to all rooms</a></div>

	<div class="button-spacer">
		<div class="col-md-4 col-md-offset-4">
			<a class="btn btn-lg btn-rouge" type="button" href="{% url 'reservation_create' location.slug %}">Make a Reservation</a>
		</div>
	</div>

	<div class="col-md-12">
		<h2>{{room.name}}</h2>
		{% if room.shared %}
			<div class="btn btn-danger" disabled="disabled"> <span class="glyphicon glyphicon-bullhorn"></span> This is a shared room</div>
		{% endif %}
	</div>
	
	<div class="col-md-9 top-spacer">
		<div><p><strong>Rate:</strong> ${{ room.default_rate }}/night</p></div>
		<div><p>{{ room.description }}</p></div>

		<h3>Availability Preview</h3>
		<div class="availability-cal" id="availability-cal-{{room.id}}">
			{{ room.availability_calendar_html|safe }}
			<a class="room-cal-req" href="{% url 'room_cal_request' location.slug room.id %}?month={{prev_month.month}}&year={{prev_month.year}}">Previous</a> | 
			<a class="room-cal-req" href="{% url 'room_cal_request' location.slug room.id %}?month={{next_month.month}}&year={{next_month.year}}">Next</a> 
		</div>
	</div>
	
	{% if room.image %} 
		<div class="col-md-3 room-info-image">
			<img src="{{ MEDIA_URL }}{{room.image}}" class="img-rounded room-info-image" />
		</div> 
	{% endif %}

</div>
{% endblock %}

{% block extrajs %}
<script>

	// for each room, get the availability calendar and inject it into the appropriate div. 
	function register() {
		$(".room-cal-req").click(function(e) {
			e.preventDefault();
			//note: relies on the relative position of the clicked div and the
			//wrapping div which contains the room id in its div id.
			room_div_id = $(this).closest("div").attr("id")
			room_id = room_div_id.split("availability-cal-")[1]
			href = $(this).attr('href');
			href_parts = href.split('?')
			url_part = href_parts[0]
			params = href_parts[1].split('&');
			location_slug = '{{ location.slug }}';
			year = params[1].split("=")[1];
			month = params[0].split("=")[1];

			request = $.ajax({ 
				data: {
					'month' : month,
					'year' : year,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}, 
				type: "GET",
				url: url_part
			});

			request.done(function(msg) { // on success..
				div_id = "#availability-cal-" + room_id
				$(div_id).html(msg)
				register();
			});

			request.fail(function(msg) {
				div_id = "#availability-cal-" + room_id
				$(div_id).html("<p>Hmm, there was a problem. Please try selecting your dates again.</p>")
			});
		})
	};
	register();
	



</script>
{% endblock %}

