{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row pull-right">
      <div class="col-md-12">
          <a href="{% url 'subscription_manage_create' location.slug %}">
              <i class="fa fa-plus-circle"></i>
              New Subscription</a>
      </div>
  </div>

  <ul class="nav nav-tabs">
      <li class="active"><a href="#active" data-toggle="tab">Active ({{active.count}})</a></li>
      <li><a href="#inactive" data-toggle="tab">Inactive ({{inactive.count}})</a></li>
  </ul>

  <div class="tab-content" id="booking-list-tab-content">

      <div class="tab-pane active" id="active">
          {% with subscriptions=active %}
              {% include "snippets/subscription_list_table.html" %}
          {% endwith %}
      </div>

      <div class="tab-pane" id="inactive">
          {% with subscriptions=inactive %}
              {% include "snippets/subscription_list_table.html" %}
          {% endwith %}
      </div>

  </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet">
<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },

    "currency-asc": function ( a, b ) {
        return a - b;
    },

    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function() {
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
        $(this).tab('show');
        var scrollmem = $('body').scrollTop();
        window.location.hash = this.hash;
        $('html,body').scrollTop(scrollmem);
    });

    $('.booking-list').dataTable({
    "iDisplayLength": 50,
    "order": [[ 2, "asc"]],
    "aoColumns": [
                { "sType": "string" },
                { "sType": "string" },
                { "sType": "date" },
                { "sType": "date" },
                { "sType": "numeric" },
                { "sType": "numeric" },
                { "sType": "html" }
            ]
    });
} );
</script>
{% endblock %}
