{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div id="spinner">
      <img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
  </div>

  {% include "snippets/manage-email-modal.html" %}

  <div class="row" id="booking-nav">
      <a href="{% url 'subscriptions_manage_list' location.slug %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Subscriptions</a>
  </div>

  <div class="row">

      <div class="col-md-3">
          {% if s.user.profile.image %}
          <div class="img-polaroid">
              <img class="profile-page-img" src="{{ MEDIA_URL }}{{ s.user.profile.image|default:'data/avatars/default.jpg' }}" />
          </div>
          {% endif %}
      </div>


      <div class="col-md-7">

          {% include "snippets/messages.html" %}

          <h1 class="res-field field">
              {{ s.user.first_name|title }} {{s.user.last_name|title }}
              <button id="email-user-button" class="btn btn-default" type="button" data-target="#emailModal" data-toggle="modal">Email this User</button>
          </h1>

          <div id="booking-details">
              <h3>
                  Subscription {{ s.start_date }} - {{ s.end_date|default:"ongoing" }}
                  <span class="pull-right">Base Value: ${{ s.price }}</span>
              </h3>
              {% if s.description %}
              <div class="row">
                  <div class="col-sm-2"><strong>Description</strong></div><div class="col-sm-10">{{ s.description }}</div>
              </div>
              {% endif %}
          </div>

      </div>

  </div>

  <!-- new row -->
  <hr>


  <div class="row" id="sub-manage-page-wrapper" class="bottom-pad-thirty">

      <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked" role="tablist">
              <li class="active"><a role="tab" href="#subscription-manage-summary" data-toggle="pill"><h5>Summary</h5></a></li>
              <li><a role="tab" href="#subscription-manage-edit" data-toggle="pill"><h5>Edit</h5></a></li>
              <hr>
              {% if s.bills.all %}
                  {% for bill in s.bills.all %}
                  <li> <a role="tab" href="#subscription-bill-details-{{bill.id}}" data-toggle="pill">
                      <h5>
                          {% if bill.is_paid %}
                              <i class="text-success fa fa-check-circle-o"></i>
                          {% elif bill.total_paid > 0 %}
                              <i class="text-warning fa fa-exclamation-circle"></i>
                          {% else %}
                              <i class="text-danger fa fa-exclamation-circle"></i>
                          {% endif %}
                          Bill {{ bill.period_start}}
                      </h5>
                  </a>
                  {% endfor %}
              {% endif %}

          </ul>
      </div>

      <div class="col-md-7">
          <div class="tab-content">

              <div role="tabpanel" class="tab-pane active" id="subscription-manage-summary">
                  {% include "snippets/manage-subscription-summary.html" %}
              </div>

              <div role="tabpanel" class="tab-pane" id="subscription-manage-edit">
                  {% include "snippets/subscription-manage-edit.html" %}
              </div>

              {% for bill in s.bills.all %}
              <div role="tabpanel" class="tab-pane" id="subscription-bill-details-{{ bill.id}}">

                  <div class="panel panel-default">
                      <div class="panel-heading row-spacer">
                          <h3 class="panel-title row-spacer">{{ bill.period_start }} Bill Details (#{{bill.id}})
                          {% if bill.is_paid %}
                              <form class="subscription-send-receipt manage-button-spacer res-action" method=POST action="{% url 'subscription_send_receipt' location.slug s.id bill.id %}" >
                                  {% csrf_token %}
                                  <input class="btn-default btn" type="submit" value="Email Receipt">
                              </form>
                          {% endif %}
                          </h3>
                          <div>
                              {% if not bill.is_paid %}
                                  {% include "snippets/manage-charge-bill.html" %}
                              {% endif %}
                          </div>

                      </div>
                      <div class="panel-body">
                          {% include "snippets/manage-page-bill-details.html" %}
                      </div>
                  </div>

                  <h3 class="row-spacer clickable text-muted" onclick="toggleBillCustomize({{bill.id}}); return false;" id="bill-customize-link-{{bill.id}}"><i class="fa fa-caret-right" aria-hidden="true"></i> Manage Payments and Custom Fees</h3>
                  <div id="bill-customize-area-{{bill.id}}" class="hidden bill-customize-area">
                      {% include "snippets/manage-page-payment-details.html" %}
                      {% if bill.is_paid %}
                          <p>This bill has been paid and cannot be modified</p>
                      {% else %}
                          {% include "snippets/add-bill-line-items.html" %}
                      {% endif %}
                  </div>
              </div>

              {% endfor %}

          </div>

      </div> <!-- end col-md-7 -->
  </div>

</div>
{% endblock %}

{% block extrajs %}
{% include "snippets/manage-page-confirm-dialogs.html" %}
<script language="JavaScript">



function UpdateChargeValue(id, val, field_status) {
    elem = "#bill-"+id+"-charge-amount"
    $(elem).val(val);
    if (field_status == "readonly") {
        $(elem).attr("readonly", "readonly");
        $(elem).addClass("disabled");

    } else {
        $(elem).removeAttr("readonly");
        $(elem).removeClass("disabled");
    }
}

function UpdateRefundValue(id, val, field_status) {
    $("#refund-amount-"+id).val(val);
    if (field_status == "readonly") {
        $("#refund-amount-"+id).attr("readonly", "readonly");
        $("#refund-amount-"+id).addClass("disabled");

    } else {
        $("#refund-amount-"+id).removeAttr("readonly");
        $("#refund-amount-"+id).removeClass("disabled");
    }
}

function toggleRefundDetails(id){
    if($('#refund-details-'+id).is(':hidden')) {
        $('#refund-details-'+id).show('slow')
    } else {
        $('#refund-details-'+id).hide('slow')
    }
}
toggleRefundDetails();

function toggleBillCustomize(e){
    if($('#bill-customize-area-'+e).is(':hidden')) {
        $('#bill-customize-area-'+e).removeClass('hidden')
        $('#bill-customize-link-'+e).html('<i class="fa fa-caret-down" aria-hidden="true"></i> Manage Payments and Custom Fees');
    } else {
        $('#bill-customize-area-'+e).addClass('hidden')
        $('#bill-customize-link-'+e).html('<i class="fa fa-caret-right" aria-hidden="true"></i> Manage Payments and Custom Fees');
    }
}

function toggleNotes(){
    if($('#notes-area').is(':hidden')) {
        $('#notes-area').show();
        $('#notes-link').html('<span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> Subscription notes');
    } else {
        $('#notes-area').hide();
        $('#notes-link').html('<span class="glyphicon glyphicon-expand" aria-hidden="true"></span> {{subscription_notes|length}} subscription note{{subscription_notes|length|pluralize}}');
    }
}

if ({{subscription_notes|length}} == 0) {
    toggleNotes();
}

// don't have a default email selected when the modal pops up
$("#which-email-select").prop("selectedIndex", -1);

$("#which-email-select").change(function() {
    // remove the previously active email form, if any
    $("#selected-email").empty();

    // insert form fields with selected email template
    var email_selection = $("select option:selected").prop("id")
    var template_id = email_selection.match(/\d+/)
    $("#selected-email").html($email_templates[template_id]);
});

var action_el;
function ajax_call(el) {
    res_action = $(el).attr('id')
    request = $.ajax({
        data: {
            'booking-action': res_action,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        type: $("#res-action-form").attr('method'), // GET or POST
        url: $("#res-action-form").attr('action') // the url to hit
    });
    request.done(function(msg) { // on success..
        $("#res-status-area").html(msg);
        if(res_action == "set-tentative" || res_action == 'res-charge-card') {
            $("#emailModal").modal("show");
        }
        // also need to re-register the ajax calls on the new html divs one
        // it is injected (or we won't be able to chain multiple calls
        // together without refreshing the page).
        register_actions();
    });
    request.fail(function(msg) {
        console.error("Error in booking update:", msg);
    });
}

function register_actions() {
    // comping a booking reslts in a page reload so we can rely on the
    // template language here.
    payment_status = $("#payment-status").html();

    if (payment_status == 'paid') {
        $("#res-action-toggle-comp").remove();
    }

    $('.res-manage-action').click(function() {
        // action_el gets reset every time res-manage-action is clicked
        action_el = this;
        if ('{{r.status}}' == 'pending' && '{{ room_has_capacity }}' == 'False') {
            $("#dialog-warn-full").dialog("open");
        } else {
            ajax_call(action_el);
        }
        return false;
    })

};

$(document).ready(function() {
    register_actions();

    $email_templates = {};
    {% for f in email_forms %}
        $email_templates[{{forloop.counter}}] = '<div id="form{{forloop.counter}}">' +
            '<form id="res-action-email-user" method=POST action="{% url 'subscription_send_mail' location.slug s.id %}" >' +
            "{% csrf_token %}" +
            '<div class="form-group">' +
            '<span class="email-form-label">To: </span> {{f.recipient}} <br>' +
            '<span class="email-form-label">From: </span> {{f.sender}} <br>' +
            '<span class="email-form-label">Subject: </span> {{f.subject}} <br>' +
            '{{f.body|escapejs}}' +
            '{{f.footer|escapejs}}' +
            '</div>' +
            '<submit value="Send">' +
            '<div class="modal-footer">' +
                '<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>' +
                '<button type="submit" class="btn btn-primary">Send Email</button>' +
            '</div>' +
            '</div>'
    {% endfor %}

    // wire up the ajax-y spinning animated GIF when an ajax call is made.
    $('#spinner').ajaxStart(function () {
        $(this).fadeIn('fast');
    }).ajaxStop(function () {
        $(this).stop().fadeOut('fast');
    });
});


</script>

{% endblock %}
