{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="spinner">
    <img src="{% static 'img/ajax-loader-drip.gif' %}" alt="Loading..."/>
</div>	

{% include "snippets/manage-page-confirm-dialogs.html" %}

<div class="row" id="reservation-nav">
	<a href="{% url 'subscriptions_manage_list' location.slug %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Subscriptions</a>
</div>

<div class="row">

	<div class="col-md-3">
		{% if s.user.profile.image %}
		<div class="img-polaroid">
			<img class="profile-page-img" src="{{ MEDIA_URL }}{{ s.user.profile.image|default:'data/avatars/default.jpg' }}" />
		</div>
		{% endif %}
	</div>


	<div class="col-md-7">

		{% include "snippets/messages.html" %}

		<h1 class="res-field field">
			{{ s.user.first_name|title }} {{s.user.last_name|title }}
			<button id="email-user-button" class="btn btn-default" type="button" data-target="#emailModal" data-toggle="modal">Email this User</button>
		</h1>

		{% with obj_type="subscription" %}
			{% with notes=subscription_notes %}
				{% include "snippets/notes.html" %}
			{% endwith %}
		{% endwith %}


		<div id="reservation-details">
			<h3>
				Subscription {{ s.start_date }} - {{ s.end_date|default:"ongoing" }} 
				<span class="pull-right">Base Value: ${{ s.price }}</span>
			</h3>
			{% if s.description %}
			<div class="row">
				<div class="col-sm-2"><strong>Description</strong></div><div class="col-sm-10">{{ s.description }}</div>
			</div>
			{% endif %}
		</div>

	</div>

</div>

<!-- new row -->
<hr>


<div class="row" class="bottom-pad-thirty">

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked" role="tablist">
			<li class="active"><a role="tab" href="#subscription-manage-summary" data-toggle="pill"><h4>Summary</h4></a></li>
			<li><a role="tab" href="#subscription-manage-edit" data-toggle="pill"><h4>Edit</h4></a></li>
			{% if s.bills.all %}
			<table class="dataTable table table-striped reservation-list">
				<thead>
					<tr>
						<th>Period</th>
						<th>Rate</th>
						<th>Paid</th>
					</tr>
				</thead>
				<tbody>
						<ul class="nav nav-pills nav-stacked" role="tablist">
						{% for bill in s.bills.all %}
							<tr class="{% cycle 'row-even' 'row-odd' %}">
								<td>
									<a role="tab" href="#subscription-bill-details-{{bill.id}}" data-toggle="pill"><h5>Bill {{ bill.period_start}} - {{bill.period_end}} </h5></a>
								</td>
								<td>{{bill.amount }}</td>
								<td>
									{% if bill.is_paid %}
										<span class="text-success glyphicon glyphicon-ok"></span>
									{% else %}
										<span class="text-danger glyphicon glyphicon-exclamation-sign"></span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</ul>
				</tbody>
			</table>
			{% endif %}


		</ul>
	</div>

	<div class="col-md-6">	

		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="subscription-manage-summary">
				{% include "snippets/manage-subscription-summary.html" %}
			</div>

			<div role="tabpanel" class="tab-pane" id="subscription-manage-edit">
				{% include "snippets/subscription-manage-edit.html" %}
			</div>

			{% for bill in s.bills.all %}
			<div role="tabpanel" class="tab-pane" id="subscription-bill-details-{{ bill.id}}">
				<h3>
					{{ bill.period_start }} Bill Details
					{% if bill.is_paid %} 
						<span class="text-success glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="text-danger glyphicon glyphicon-exclamation-sign"></span> 
					{% endif %}

				</h3>
				{% if not bill.is_paid %}
				<form id="bill-charge" method="POST" action="{% url 'bill_charge' location.slug bill.id">
					{% csrf_token %}
					<table>
					<tr>
						<td>Charge user for bill: </td>
					<td>
						<label class="radio-inline">
							<input type="radio" name="charge-options" id="bill-{{bill.id}}-full-charge" onclick="UpdateChargeValue({{bill.id}}, {{bill.total_owed}}, 'readonly')" value="charge-full-amount" checked> Full 
						</label>
					</td>
					<td>
						<label class="radio-inline">
							<input type="radio" name="charge-options" id="bill-{{bill.id}}-partial-charge" onclick="UpdateChargeValue({{bill.id}}, '', 'readwrite')" value="partial-charge"> Partial
						</label>
					</td>
					<td>
						<input type="number" min="0" max="{{bill.total_owed}}" min="0" name="charge-amount" id="bill-{{bill.id}}-charge-amount" value="{{bill.total_owed}}" class="disabled" readonly="readonly">
					</td>
					<td>
						<input class="btn btn-sm btn-default pull-right" style="width:80px;" name="action" type="submit" value="Submit" onclick="return confirm('Are you sure?'); $(this).removeAttr('readonly');">
					</td>
					</tr>
					</table>
					</form>
				{% endif %}
				{% with r=s %}
					{% include "snippets/manage-page-bill-details.html" %}
					<h4>Customize this bill</h4>
					{% if bill.is_paid %}
						<p>This bill has been paid and cannot be modified</p>
					{% else %}
						{% include "snippets/add-bill-line-items.html" %}
					{% endif %}
					{% include "snippets/manage-page-payment-details.html" %}
				{% endwith %}
			</div>
			{% endfor %}

		</div>

	</div> <!-- end col-md-7 -->
</div> 

{% endblock %}

{% block extrajs %}
<script language="JavaScript">



function UpdateChargeValue(id, val, field_status) { 
	elem = "#bill-"+id+"-charge-amount"
	$(elem).val(val);
	if (field_status == "readonly") {
		$(elem).attr("readonly", "readonly");
		$(elem).addClass("disabled");

	} else {
		$(elem).removeAttr("readonly");
		$(elem).removeClass("disabled");
	}
} 

function UpdateRefundValue(id, val, field_status) { 
	$("#refund-amount-"+id).val(val);
	if (field_status == "readonly") {
		$("#refund-amount-"+id).attr("readonly", "readonly");
		$("#refund-amount-"+id).addClass("disabled");

	} else {
		$("#refund-amount-"+id).removeAttr("readonly");
		$("#refund-amount-"+id).removeClass("disabled");
	}
} 

function toggleRefundDetails(id){
	if($('#refund-details-'+id).is(':hidden')) {
		$('#refund-details-'+id).show();
	} else {
		$('#refund-details-'+id).hide();
	}
}
toggleRefundDetails();

function toggleNotes(){
	if($('#notes-area').is(':hidden')) {
		$('#notes-area').show();
		$('#notes-link').html('<h4><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> Subscription notes</h4>');
	} else {
		$('#notes-area').hide();
		$('#notes-link').html('<h4><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> {{subscription_notes|length}} subscription note{{subscription_notes|length|pluralize}}</h4>');
	}
}

if ({{subscription_notes|length}} == 0) {
	toggleNotes();
}

// don't have a default email selected when the modal pops up
$("#which-email-select").prop("selectedIndex", -1);

$("#which-email-select").change(function() {
	// remove the previously active email form, if any
	$("#selected-email").empty();

	// insert form fields with selected email template
	var email_selection = $("select option:selected").prop("id")
	var template_id = email_selection.match(/\d+/)
	$("#selected-email").html($email_templates[template_id]);
});

var action_el;
function ajax_call(el) {
	console.log('el is');
	console.log(action_el);
	res_action = $(el).attr('id')
	request = $.ajax({ 
		data: {
			'reservation-action': res_action,
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		}, 
		type: $("#res-action-form").attr('method'), // GET or POST
		url: $("#res-action-form").attr('action') // the url to hit
	});
	request.done(function(msg) { // on success..
		console.log("Success!");
		$("#res-status-area").html(msg);
		if(res_action == "set-tentative" || res_action == 'res-charge-card') {
			$("#emailModal").modal("show");
		}
		// also need to re-register the ajax calls on the new html divs one
		// it is injected (or we won't be able to chain multiple calls
		// together without refreshing the page). 
		register_actions();
	});
	request.fail(function(msg) {
		console.log("Error in reservation update:");
		console.log(msg);
	});
}

function register_actions() {
	// comping a reservation reslts in a page reload so we can rely on the
	// template language here. 
	payment_status = $("#payment-status").html();
	
	if (payment_status == 'paid') {
		$("#res-action-toggle-comp").remove();
	}

	$('.res-manage-action').click(function() { 
		// action_el gets reset every time res-manage-action is clicked
		action_el = this;
		console.log(action_el);
		console.log('{{r.status}}');
		console.log('{{room_has_availability}}')
		if ('{{r.status}}' == 'pending' && '{{ room_has_availability }}' == 'False') {
			$("#dialog-warn-full").dialog("open");
		} else {
			ajax_call(action_el);
		}
		return false;
	})

};

$(document).ready(function() {
	register_actions();

	$email_templates = {};
	{% for f in email_forms %}
		$email_templates[{{forloop.counter}}] = '<div id="form{{forloop.counter}}">' +
			'<form id="res-action-email-user" method=POST action="{% url 'reservation_send_mail' location.slug r.id %}" >' +
			"{% csrf_token %}" +
			'<div class="form-group">' +
			'<span class="email-form-label">To: </span> {{f.recipient}} <br>' +
			'<span class="email-form-label">From: </span> {{f.sender}} <br>' +
			'<span class="email-form-label">Subject: </span> {{f.subject}} <br>' +
			'{{f.body|escapejs}}' +
			'{{f.footer|escapejs}}' +
			'</div>' + 
			'<submit value="Send">' +
			'<div class="modal-footer">' +
				'<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>' +
				'<button type="submit" class="btn btn-primary">Send Email</button>' +
			'</div>' +
			'</div>'
	{% endfor %}
	console.log($email_templates);

	$('#res-action-charge').submit(function() { 
		submitdata = {
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		};
		console.log(submitdata);
		request = $.ajax({ 
			data: submitdata, 
			type: $("#res-action-charge").attr('method'), // GET or POST
			url: $("#res-action-charge").attr('action'), // the file to call
		});
		request.done(function(msg) { // on success..
			console.log("Success!");
			$("#res-action-charge-submit").val("PAID");
			$("#res-action-charge-submit").addClass("disabled");
			$("#res-status-area").addClass("paid-bg-img");
		});
		request.fail(function(msg) {
			console.log("Error in reservation update:");
			console.log(msg);
		});

		return false;
	});


	// wire up the ajax-y spinning animated GIF when an ajax call is made. 	
	$('#spinner').ajaxStart(function () {
        $(this).fadeIn('fast');
    }).ajaxStop(function () {
        $(this).stop().fadeOut('fast');
    });	
});

$("#dialog-confirm-send-welcome").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Send": function () {
            $("#res-action-send-welcome").submit();
         },
        "Do Not Send": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-action-send-welcome").click(function (e) {
    $("#dialog-confirm-send-welcome").dialog("open");
    e.preventDefault();
});


$("#dialog-confirm-fee-remove").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Remove": function () {
            $(this).data('form-link').parentElement.submit();
         },
        "Do Not Remove": function () {
            $(this).dialog("close");
        }
    }
});

$(".remove-fee").click(function (e) {
    $("#dialog-confirm-fee-remove").data('form-link', this).dialog("open");
    e.preventDefault();
});


$("#dialog-confirm-line-item-remove").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Remove": function () {
            $(this).data('form-link').parentElement.submit();
         },
        "Do Not Remove": function () {
            $(this).dialog("close");
        }
    }
});

$(".remove-line-item").click(function (e) {
    $("#dialog-confirm-line-item-remove").data('form-link', this).dialog("open");
    e.preventDefault();
});




$("#dialog-confirm-cancel").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Cancel": function () {
            $("#res-cancel").submit();
         },
        "Do Not Cancel": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-cancel").click(function (e) {
    $("#dialog-confirm-cancel").dialog("open");
    e.preventDefault();
});

$("#dialog-confirm-refund").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Refund": function () {
            $("#res-refund").submit();
         },
        "Do Not Refund": function () {
            $(this).dialog("close");
        }
    }
});

$(".res-refund").click(function (e) {
	console.log(".res_refund.click")
    $("#dialog-confirm-refund").dialog("open");
    e.preventDefault();
});


$("#dialog-warn-full").dialog({
	autoOpen: false,
	modal: true,
	width: 400,
	buttons: {
		"Yes, approve anyway": function () {
			ajax_call(action_el);
			$(this).dialog("close");
		},
		"Oops! Do not confirm": function () {
			$(this).dialog("close");
		}
	}
});

</script>

{% endblock %}
