<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Email {{ r.user.first_name }} </h3>
            </div>
            <div class="modal-body">
                <!-- select menu specifies which email to show -->
                <div>Select a template from the dropdown list to populate an email
                    with relevant default text. If you would like to add a new
                    template, visit the admin section of the site!</div>
                <select name="select-email" id="which-email-select">
                    {% for template_name in email_templates_by_name %}
                    <option id="option{{forloop.counter}}" name="select-email" value="{{ template.name }}">
                    {{template_name}}
                    </option>
                    {% endfor %}
                </select>

                <!-- the selected email will be inserted here -->
                <div id="selected-email">
                </div>
            </div>
        </div>
    </div>
</div>


