<div class="row">
    <div class="col-md-12">
        <form class="" method="post" action="{% url 'gather_email_preferences' u.username %}">{% csrf_token %}
            <div class="checkbox">
                <label> Receive automatic reminders of events you are attending
                    <input type="checkbox" name="event_reminders" id="event_reminders" {% if u.event_notifications.reminders %} checked {% endif %}>
                </label>
            </div>
            <hr>
            <div>Receive notifications when new events are published:

                {% for location in network_locations %}
                {% if location.visibility = 'public' or user in location.house_admins.all or user in location.residents.all or user in location.event_admins.all %}
                <div class="checkbox">
                    <label>
                        <input
                        type="checkbox"
                        name="publish_{{ location.slug }}"
                        id="publish_{{ location.slug }}"
                        {% if location in u.event_notifications.location_publish.all %} checked {% endif %}
                        > {{ location.name }} {% if not location.visibility = 'public' %} <em>(location is private)</em> {% endif %}
                    </label>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
                <div>
                    Receive weekly emails about upcoming events:

                    {% for location in network_locations %}
                    {% if location.visibility = 'public' or user in location.house_admins.all or user in location.residents.all or user in location.event_admins.all %}
                    <div class="checkbox">
                        <label>
                            <input
                            type="checkbox"
                            name="weekly_{{ location.slug }}"
                            id="weekly_{{ location.slug }}"
                            {% if location in u.event_notifications.location_weekly.all %} checked {% endif %}
                            > {{ location.name }} {% if not location.visibility = 'public' %} <em>(location is private)</em> {% endif %}
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <hr>
                </div>
                <input type="submit" value="Save" class="btn btn-default">
            </form>
        </div>
    </div>
</div>

