Dear {{ first_name }},

Thanks for staying with us! This email contains your invoice information.  

<strong>Invoice Date:</strong> {{ today }}
<strong>Arrival Date:</strong> {{ arrive }}
<strong>Departure Date:</strong> {{ depart }}

<table border="1" align="center">
<tr>
	<th>Description</th><th>Quantity</th><th>Rate</th>
</tr>
<tr>
	<td>{{ room_name }}</td><td>{{ num_nights }}</td><td>{{ rate }}</td>
</tr>
<tr>
	<td colspan="3" align="right">Total: {{ total }}</td>
</tr>
</table>

You can pay via credit card, cash, check, bank transfer, or Dwolla. 

Credit card: <a href="embassynetwork.com/payment">embassynetwork.com/payment</a>
Dwolla: <a href="https://www.dwolla.com/hub/embassynetwork">https://www.dwolla.com/hub/embassynetwork</a>
Bank Details: Account number 164108426532 // Routing number 121000358

Thank you from the Embassy Alpha House!

:::: Embassy Network Incorporated 399 Webster Street, San Francisco, CA, 94117 ::::
:::: California Benefit Corporation, EIN 45-5386726 ::::		
