<body><table  cellspacing="0" cellpadding="0" border="0">
	<tr><td width="600px">
		<p margin="0 0 1.6em 0"><strong>*-*-*- Receipt for Your Stay -*-*-*</strong></p> 
		<p margin="0 0 1.6em 0">*-*-*- The Embassy Network -*-*-*</p>
		<p margin="0 0 1.6em 0">*-*-*- Reimagine Home -*-*-*</p>

		<p margin="0 0 1.6em 0">
			<strong>{{ first_name }} {{last_name}}</strong>
			<strong>Paid on: {{ payment_date }}</strong>
		</p>
		<table border="0" cellspacing="0" cellpadding="0" border="0">
			<tr><td><strong>Arrival Date:</strong> {{ arrive }}</td></tr>
			<tr><td><strong>Departure Date:</strong> {{ depart }}</td></tr>
			<tr><td><strong>Payment Method:</strong> {{ payment_method|title }}</td></tr>
			<tr><td><strong>Transaction ID:</strong> {{ transaction_id }}</td></tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="10" border="0">
		<tr>
			<th align="left" width="200px">Description</th><th align="center" width="200px">Quantity</th><th align="right" width="200px">Rate</th>
		</tr>
		<tr>
			<td align="left" width="200px">{{ room }}</td><td align="center" width="200px">{{ num_nights }}</td><td align="right" width="200px">${{ rate }}</td>
		</tr>
		<tr>
			<td colspan="3" align="right" width="600px">Total Paid: ${{ total_paid }} - <strong>Thank you!</strong></td>
		</tr>
		</table>

		<p margin="0 0 1.6em 0">Cheers to Hacking Home. Have fun on your adventure and thank you from the Embassy!</p>

		<table border="0" cellspacing="0" cellpadding="0" border="0" margin="0 0 2em 0">
		<tr><td align="center">:::: Embassy Network Incorporated 399 Webster Street, San Francisco, CA, 94117 ::::</td></tr>
		<tr><td align="center">:::: California Benefit Corporation, EIN 45-5386726 ::::</td></tr>
		</table>

	</td></tr>
</body></table>