{% extends "main.html" %}
{% block main %}

      <!-- rows with columns -->
      <div class="row">
        <div class="span4">
          <h2>Co-Living</h2>
		  <p>Each Embassy location will offer short and long term residential
		  accommodations in a co-living, community setting. Long term residents
		  live in the Embassy as their primary residence, provide an anchor to
		  local culture, and are active participants in creating activities and
		  events at their location.</p>
        </div>
        <div class="span4">
          <h2>Flexible Duration</h2>
		   <p>In addition to long term accommodations, each Embassy provides
		   short term accommodations operated much like a B&B. Members reserve
		   space at any location in the network, anywhere around the world, as
		   needed to support their travel, work, and collaborations.</p>
       </div>
        <div class="span4">
          <h2>Community Space</h2>
		  <p>Every Embassy location includes a community space open to members
		  and friends to gather and connect. These spaces differ per-location.
		  From co-working space to restaurants, each community space is a key
		  tie-in to local culture and a way to remain outward focused in
		  ideation, problem-solving, and relationship-building.</p>
        </div>
      </div>

	  <ul class="nav nav-tabs">
		  <li class="active"><a href="#overview" data-toggle="tab"><h2>Overview</h2></a></li>
		  <li><a href="#membership" data-toggle="tab"><h2>Membership</h2></a></li>
		  <li><a href="#locations" data-toggle="tab"><h2>Locations</h2></a></li>
		  <li><a href="#sustain" data-toggle="tab"><h2>Sustainability</h2></a></li>
	  </ul>

	  <div class="tab-content"> <!-- wraps all tabs -->

<div class="tab-pane active" id="overview">
		
<div class="row">
	<div class="span3">
		<h2><em>A service-based, purpose-driven organization</em></h2>
	</div>
			<div class="span9">
				<p>The Embassy Network is primarily a coordinating body that
				connects properties, coordinates membership, and
				provides online resources to keep the community connected.</p>

				<p>Each individual property, or <em>local embassy node</em>,
				provides a curated, full-time space for organic and impromptu
				interactions. Each node has independent day-to-day operations
				and a distinct culture, hosting its own microcosm of workshops,
				salons, dinners, and other events. Residents are chosen by
				other residents, and the balance of rooms set aside for short-
				and long-term accommodation decided together between residents
				and the Global Embassy Network.</p>

				<p><a href="#membership">Members</a> may either be full-time
				residents at a specific location in the network, or use the flexible
				accommodations much like they would use a Bed and Breakfast: as
				a replacement for the anonymous hotels, mass-produced food, and
				cultural disconnect that so often comes with traveling for
				work.</p>

				<p>By leveraging co-location, the fresh perspectives that comes
				with travel, the organic interactions that happen in the home
				environment, and the power of food for building community, we
				feel that the investment that we and others make in ourselves
				can be vastly enhanced. Need a little time to focus and
				reflect? Don't worry, Embassy location residences and flexible
				accommodations all have space to get away. </p>

			</div>
		</div>
		</div>

		<div class="tab-pane" id="locations">
			  
		<div class="row">
			<div class="span3">
				<h2><em>Travel and always be at home</em></h2>
			</div>
			<div class="span9">

				<p>The first Embassy nodes are targeted for San Francisco and
				DC: two urban centers with high concentrations of creative
				individuals, both resident and transient. We consider our
				"minimum viable product" to be at least two cities for testing
				the financial and membership model.</p>

				<p>Each Embassy location involves 3 specific functions:
				<ol>
					<li>long-term residential rooms and/or suites, 
					<li>shorter-term accommodations, 
					<li>a public, possibly commercial, community-oriented space. 
				</ol>

				The archetypal design would have this community space on the
				ground floor, open to foot traffic, supporting collaborations
				and human interactions, and keeping a fresh flow of people and
				ideas through the space.  Each location will decide the
				specific theme or purpose of this community space, as a
				function of its environment, local needs and culture. It might
				be a co-working space, cafe or restaurant, bar, or something
				else. The second floor would house short-term accommodation
				rooms, as well as a large, industrial-grade, shared kitchen,
				common rooms, and library.  Finally, the third floor would
				contain the longer term full time residences. These are either
				to be small suites, large rooms, or a combination of both.
				</p>
			</div>
		</div>
		</div>

		<div class="tab-pane" id="membership">
			  
		<div class="row">
			<div class="span3">
				<h2><em>Community Supported</em></h2>
			</div>
			<div class="span9">

				<p> Passion and drive are cultivated by a supportive external
				environment, and every Embassy location is a safe haven for new
				ideas, hard work, reflection, and fun. Membership in the
				Embassy Network is exclusive-- we want only those willing to
				assert, with no apologies, their passion for innovation,
				experimentation, and changing the world for the better. If you
				see yourself in these words, then you are home. There is no
				right or wrong here. Only a shared purpose and committment.</p>

				<p>Membership levels exist to suit different needs, and include
				primary-residence, blocks of per-nite accomodation, and
				organizational membership.</p>

			</div>
			<div class="span3">
				<h2><em>Be willing to surround yourself with excellence.</em></h2>
			</div>
		</div>
		</div>

		<div class="tab-pane" id="sustain">
			  
		<div class="row">
			<div class="span9">
				<p>Our financial model is based on the following sources:
				<ul>
					<li> Partnering with community houses to create a
					distributed pool of accommodations for world changers.
					<li> Property management agreements with institutional partners 
					<li> Booking or membership fees to support operations
					and tools for houses and members. 
				</ul></p>

				<p>The Embassy Network will be operated as a community-profit
				organization (not-for-<em>personal</em>-profit). All profits will be re-invested into Embassy Network activities,
				real estate purchases, or community funding to support projects
				of our members. </p>
			</div>
			<div class="span3">
				<h2><em>The Embassy is a collaborative project made possible
						through community partnerships and you.</em></h2>
			</div>
		</div>
		</div>

	</div> <!-- end class="tab-content" -->

	<h4>Our goal is to facilitate and promote a lifestyle built around
		organic creativity and innovation.</h4>
{% endblock %}
