{% extends "root.html" %}

{% block body %}
<div class="container">
<div class="row" id="main-content">
        <div class="row centered col-md-8 col-md-offset-2">
            <h2>One Rent, Live Anywhere</h2>
            <h3 class="lead">
                In every city around the globe, creative thinkers and practical
                visionaries are exploring and innovating new approaches to
                social systems rooted in sharing, collaboration, and
                connectivity. 
                </h3>
                <h3 class="lead">
                    The Embassy Network is a global community of people and <a href="http://coliving.org">coliving spaces</a> at
                the heart of this movement. Membership provides access to hosted
                stays embedded in comfortable, engaged communities, in locations around the world. 
                </h3>
                <h3 class="lead">
                
                The Embassy Network is for those who seek to immerse themselves with innovative
                peers and a dynamic environment with events, discussions and
                projects, rather than staying in impersonal hotels or spare
                rooms.
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="row height-fourhundred">
            <div class="col-md-4">
                <h2>Become a Member</h2>
                <p>The Embassy Network is for creatives and professionals traveling for work and collaboration, modern nomads, and recent transplants.</p>
                <p>Our members move seamlessly around the planet. They are ambitious, optimistic, critical creators, actively working towards positive futures. We are currently opening up alpha memberships on a rolling basis.</p>
                <!--<p><a class="btn btn-default" href="/join" role="button">Request information »</a></p>-->
            </div>
            <div class="col-md-4">
                <h2>Add your Space</h2>
                <p>Coliving represents a wide spectrum of modern shared living spaces exploring new approaches to home and living that emphasize connectivity, collaboration, and mutual support.</p>
                <p>Like coworking has done for work, coliving houses act as a platform to support residents and amplify their aims and projects. Listing is free and you set your prices.</p>
                <!--<p><a class="btn btn-default" href="/locations/" role="button">More about Locations »</a></p>-->
            </div>
            <div class="col-md-4">
                <h2>A Global Commons</h2>
                <p>The Embassy Network seeks to create a new form of collaboratively managed commons.</p>
                <p>The network takes a 5% fee from memberships to support the development of the community, software platform, and documentation, all of which is open source under CC-BY or the Affero GPL.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row bottom-padding">
            <div class="col-md-8 col-md-offset-2">
            <h1 class="centered">How It Works</h1>
            <p class="lead spacing">
            <span class="glyphicon glyphicon-ok grn"></span> Apply to become an individual member or to add your space<br>
            <span class="glyphicon glyphicon-ok grn"></span> Add credit to your account in $500 increments and receive a 20% discount at all locations<br>
            <span class="glyphicon glyphicon-ok grn"></span> Stay “standby” and book unused capacity day-of, at cost, for a $100 monthly membership fee<br>
            <span class="glyphicon glyphicon-ok grn"></span> Book your stays online, and find participating social spaces to meet people and attend events<br>
            <span class="glyphicon glyphicon-ok grn"></span> Payments are distributed to member locations based on where you stay<br>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
