{% extends "main.html" %}
{% block main %}

<h1> Reinventing Home for the Creative Age</h1>
<p>Home is one of the few social institutions that remains largely untouched by new modes of interaction rooted in the sharing economy and open source philosophies.</p>
<p>We see a nascent model of housing emerging in a new generation of community houses around the globe. It is a model based on intention, creativity, sharing, and travel. A network of houses, connected together by members who flow freely between locations.</p>
<p>To that end, we are focused on building one of these networks, called the Embassy Network, and building the open source tools and infrastructure for anyone else to build their own network.</p>
 
<h2>Intention starts at home</h2>
<p>The Embassy is a network of community houses for driven people who want to lead audacious lives with a positive impact. Each house has short- and long-term accommodations, as well as event and community spaces. Houses are operated by their residents with an emphasis on facilitating organic interactions and creative collaborations. We just launched the first location in San Francisco, CA.</p>
 
<h2>Press</h2>
<p>
	<ul>
		<li>Jessica Reeder’s <em><a href="http://www.shareable.net/blog/hacking-home-coliving-reinvents-communal-living-for-a-networked-generation">Hacking Home: Coliving Reinvents the Commune for a Networked Age</a></em>, 
			Shareable.net, June 2012.</li>
		<li>April Dembosky’s <em><a href="http://www.ft.com/cms/s/2/091e540a-baf5-11e1-81e0-00144feabdc0.html#axzz2NxTef1Yd">Over the Rainbow: Communal living is back in vogue, especially among 
			Silicon Valley’s young technology workers</a></em>, in the Financial Times, July 2012.</li>
		<li>Alexandra Wolfe, <em><a href="http://www.marieclaire.com/career-money/silicon-valley-intentional-communities">Valley Girls</a></em>, Marie Claire, March 2013 (<a href="{{ MEDIA_URL }}static/valleygirls-marieclaire-march2013.pdf">PDF</a>)</li>
	</ul>
</p>


{% endblock %}
