{% load core_tag_extras %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block pagetitle %}Embassy Network{% endblock %}</title>
		<!-- responsive support -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The Embassy Network is a housing network reinventing home for the creative age.">
		<!-- Le styles -->
		<link href="/media/css/bootstrap.css" rel="stylesheet">
		<link href="/media/css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="/media/css/leaflet.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700' rel='stylesheet' type='text/css'>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

	</head>

	<body>

		<!-- Part 1: Wrap all page content here -->
		<div id="flyout">
			<h2>Embassy Network</h2>
			<p class="easy-reading">The Embassy Network is a collection of
			coliving houses prototyping a new approach to Home, one in which
			members flow freely between locations as they travel the globe for
			work and collaboration.</p>

			<p class="easy-reading">Embassy locations are united through the
			values of co-creation, curiosity and class. These embassies and
			their residents are ambassadors of a modern culture of 
			openness, collaboration, and connectivity.</p>

			<p class="easy-reading">Visit the global <a
				href="http://embassynetwork.com" target="blank">Embassy Network</a> website to
			learn more about other locations in the network, and get involved.</p>
			
		</div><!-- end flyout -->
		
			<div id="header-wrap">
				<div class="row">
					<div class="col-md-10 col-centered">
						<div class="col-md-9" id="house-title">
							<h1>The Embassy <span class="highlight">San Francisco</span></h1>
						</div>
					
						<div class="col-md-2" id="embassy-logo">
							<img src="/media/img/embassy_logo.png"/>
						</div>
					</div>
				</div>
				<nav class="navbar navbar-default" id="nav-primary" role="navigation">
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">Home</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="/about">About</a></li>
								<li><a href="/stay">Stay</a></li>
								
								{% if user.is_authenticated %}
									<li class="dropdown">
										<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
											Events <b class="caret"></b>
										</a>
										<ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop4">
											<li><a href="/events/upcoming/">Upcoming</a></li>
											<li><a href="/events/create/">New Event</a></li>
											<li><a href="/events/past/">Past Events</a></li>
										</ul>
									</li>
								{% else %}
									<li><a href="/events/upcoming/">Events</a></li>
								{% endif %}

								{% if user.is_authenticated %}
									<li class="dropdown">
										<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">
											People <b class="caret"></b>
										</a>
										<ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop4">
											<li><a href="/residents">Residents</a></li>
											{{ user.reservation_set.count }}
											{% if user.reservation_set.count > 0 %}
												<li><a href="/calendar">Guest Calendar</a></li>
												<li><a href="/broadcast">Say Hello</a></li>
											{% endif %}
										</ul>
									</li>
									<li class="dropdown">
										<a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown" href="#">
											<i class="icon-user"></i> {{ user.username|title }} <b class="caret"></b>
										</a>
										<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2">
											<li><a tabindex="-1" href="/people/{{user.username}}">View Profile</a></li>
											<li><a tabindex="-1" href="/people/{{user.username}}/events/">My Events</a></li>
											<li><a tabindex="-1" href="{% url reservation_submit %}">New Reservation</a></li>
											<li><a tabindex="-1" href="/people/logout/">Logout</a></li>
										</ul>
									</li>
								{% endif %}
								{% ifusergroup house_admin %}
									<li class="dropdown">
										<a class="dropdown-toggle" id="drop3" role="button" data-toggle="dropdown" href="#">
											Admin <b class="caret"></b>
										</a>
										<ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop3">
											<li><a tabindex="-1" href="/occupancy">See Occupancy</a></li>
											<li><a tabindex="-1" href="/manage/reservations/">Reservations</a></li>
											<li><a tabindex="-1" href="/events/review/">Pending Events</a></li>
										</ul>
									</li>
								{% endifusergroup %}
								{% if not user.is_authenticated %}
									<li><a href="/people/login/">Login</a></li>
								{% endif %}
							</ul>
						</div>
				</div>
				</div>
				</nav>
			</div> <!-- end header wrap -->

	<div class="container" id="container-main">
		{% block body %}
		{% endblock %}
	<div>

	<!-- Le javascript -->
	<link rel="stylesheet" href="/media/css/flick/jquery-ui-1.9.1.custom.css" />    
	<script src="/media/js/jquery-1.8.2.js"></script>
	<script src="/media/js/jquery-ui-1.9.1.custom.js"></script>	
	<script src="/media/js/bootstrap.js"></script>
	<script src="/media/js/leaflet.js"></script>

	<!-- javascript for every page -->
	<script type="text/javascript">

		$('#embassy-logo').on( "mouseover",function(){
			$('#flyout').animate({right:0})
			$('.container').append("<div class='curtain'></div>");
		});
		
		$('#flyout').on("mouseleave", function(){
			$('#flyout').animate({right:-360});
		});

	</script>

	{% block extrajs %}
	{% endblock %}

  </body>
</html>

