{% extends "content-base.html" %}
{% block content %}

<h1>Message Residents and Guests</h1>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-info">
	    <button type="button" class="close" data-dismiss="alert">×</button>
    	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
    {% endfor %}
</div>
{% endif %}

<p id="broadcast-explanation" class="bg-info">This page lets you send a message to residents and guests
	who are expected to be around during a given date range in the future. If
	you want to email people in the house right now, use the email address
	<a href="mailto:current@sf.emassynetwork.com">current@sf.emassynetwork.com</a>.
	You (and others) are automatically added and removed from this list as you
	come and go from the house.</p>

<div id="spinner">
    <img src="/media/img/ajax-loader-drip.gif" alt="Loading..."/>
</div>	
<div id="message-current-form-errors"></div>

<div class="col-md-6">
	<form role="form" class="form-horizonal" action="/broadcast/" method="POST">{% csrf_token %}
		<div class="form-group">
			{{ form.start_date.errors }}
			{{ form.start_date.label_tag }}
			{{ form.start_date }}

			{{ form.end_date.errors }}
			{{ form.end_date.label_tag }}
			{{ form.end_date }}
		</div>
		<div class="form-group">

			{{ form.replyto.errors }}
			{{ form.replyto.label_tag }}
			{{ form.replyto }}
		</div>
		<div class="form-group">

			{{ form.subject.errors }}
			{{ form.subject.label_tag }}
			{{ form.subject }}
		</div>
		<div class="form-group">

			{{ form.body.errors }}
			{{ form.body.label_tag }}
			<textarea id="id_body" class="form-control" rows="6" name="body"></textarea>
		</div>
		<div class="form-group">

			{{ form.footer.errors }}
			{{ form.footer.label_tag }}
			<textarea id="id_footer" class="form-control" rows="5" name="body" disabled>{{ form.footer.value }} </textarea>

		</div>
		<input text="Submit" type="submit">
	</form>
</div>


{% endblock %}

{% block extrajs %}
<script>
	$("#id_start_date, #id_end_date").datepicker({
		minDate: 0,
		onSelect: function( selectedDate ) {
			if(this.id == 'id_start_date') {
				startDate = $('#id_start_date').datepicker("getDate");
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 0); // Min Date = Selected + 0 days
				// the most days you can message people over is 30 days. this is just a mild disincentive to message all people over forever. 
				var rMax = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 30 ); // Max Date = Selected + max_days
	          	console.log(rMax);
	          	$('#id_end_date').datepicker("option","minDate",rMin);
	          	$('#id_end_date').datepicker("option","maxDate",rMax);                    
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	});

	$("#id_start_date, #id_end_date").change(function(event) {
		console.log("dates were updated");
		// Get start and end dates, update value. 
		$start = $("#id_start_date").val();
		$end = $("#id_end_date").val();

		// once the dates are selected, poll for the list of people the message
		// will go to. 
		if ($start && $end) {
			console.log("finding people...");
			request = $.ajax({ 
				data: {
					'start_date' : $start,
					'end_date' : $end,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}, 
				type: "POST",
				url: '/people/daterange/'
			});
			
			request.done(function(html) { // on success..
				$("#recipient-list").remove();
				// inject the html into the page - note 'eq' selector is
				// 0-indexed so index 1 selects the second item. 
				$('form p:eq(1)').after(html);
			});

			request.fail(function(msg) {
				$("#recipient-list").remove();
				html = "<div class='btn btn-info disabled' id='recipient-list'>Hmm, there was a problem. Please try selecting your dates again.</div>";
				$('form p:eq(1)').after(html);
			});


		} // end room availability check


		// wire up the ajax-y spinning animated GIF to show when an ajax call
		// is made. 	
		$('#spinner').ajaxStart(function () {
			$(this).fadeIn('fast');
		}).ajaxStop(function () {
			$(this).stop().fadeOut('fast');
		});	
	
	});


</script>
{% endblock %}
