{% extends "main.html" %}

{% block content %}

	<!-- big image -->
  <div class="row">
    <div class="twelve columns">
        <img src="http://placehold.it/1000x400&text=[img 1]" />
      
      <hr />
    </div>
  </div>

  <!-- Three-up Content Blocks -->
  
  <div class="row">
  
    <div class="four columns">
     <a href="#"><h1 class="text-center"><i class="foundicon-globe"></i></h1></a>
      <h4><a href="/about">What is SF Embassy?</a></h4>
      <p>The SF Embassy is an experiment in intentional living. We seek out those who want to lead examined lives and be around those who will challenge and support them in making a positive impact.</p>
    </div>
    
    <div class="four columns">
     <a href="#"><h1 class="text-center"><i class="foundicon-calendar"></i><h1></a>
      <h4><a href="/participate">Attend Events</a></h4>
      <p>We hold various themed events here including a community dinner every Sunday evening at 7:30pm. Join our mailing list to keep up to date on our event listings!</p>
    </div>
    
    <div class="four columns">
     <a href="#"> <h1 class="text-center"><i class="foundicon-add-doc"></i></h1></a>
      <h4><a href="/stay">Stay Here</a></h4>
      <p>We offer short- and long-term accommodations, as well as event and community space. The houses is operated collaboratively by the residents</p>
    </div>
    
  </div>

{% endblock %}