{% extends "root.html" %}
{% load staticfiles %}

Locations operating model combines short-term and long-term accommodations in large houses with a significant amount of common space. Income from guests goes towards compensating one or more people for hosting and guest operations (such as managing reservations and housekeeping), offsetting living costs, management and upkeep of the space, and contributing towards community activities and purchases.  

Sharing the cost of common space and amenities amongst residents and guests provides economies of scale and gives rise to new community resources or “third spaces”, supporting a dynamic environment for events, discussions and projects that are operated by and for the community. 


{% block body %}
{% endblock %}

