{% extends "root.html" %}
{% load staticfiles %}

{% block body %}

<div class="container" id="page-spacer">
<p class="lead">
Connect with a global network by providing quality hosted guest stays and
events. The Embassy Network platform is tailored towards community run and
community managed spaces, and seeks to serve individuals specifically seeking to
immerse themselves in dynamic environments with passionate people.
</p>

<p class="lead"> Our open source <a
	href="http://github.com/jessykate/modernomad">platform</a> offers guest
hosting and event management, as well as a customizable landing
page and descriptive content. Similar to AirBnB, listing your location lets you
add guest rooms and manage availability, payments and scheduling, but it is
also designed to expose information about guests and residents to each other in
a way that facilitates conversation and collaboration. Daily emails provide
links to profiles of arriving and departing guests, and information about
upcoming events.

The platform also supports event hosting and management in a
community-driven way. Any community member may propose events and those events
are approved by residents.
</p>

<p class="lead">
Locations in the Embassy Network are independently run, and operational
details, guest rooms and pricing, and the type of community they seek to
create, are ultimately up to each house. All Embassy locations minimally offer
a hosted guest experience within some kind of community, but they each have
their own approach and style. Not only is each space different, they are meant
to be different.  
</p>

<p class="lead">
That said, Embassy locations typically combine short-term and long-term
accommodations in large houses with a significant amount of common space.
Income from guests goes towards compensating one or more people for hosting and
guest operations (such as managing reservations and housekeeping), offsetting
living costs, management and upkeep of the space, and contributing towards
community activities and purchases.  
</p>

<p class="lead">
Sharing the cost of common space and amenities amongst residents and guests
provides economies of scale and gives rise to new community resources or <a
	href="http://en.wikipedia.org/wiki/Third_place">third spaces</a>,
supporting a dynamic environment for events, discussions and projects that are
operated by and for the community. 
</p>

<p class="lead">
Those interested in residence and <a href="">membership</a> at individual
locations work out specific details (including pricing) with that location
directly. These operating models are themselves completely independent of the
Network; however, participation comes with the benefit of learning from a
community that is actively designing, testing, and running similar programs,
access to software to manage the program, as well as plugging in to a global
tribe of nomads and travelers looking for short- and long-term accommodations.
</p>
</div>

{% endblock %}

