{% extends "root.html" %}
{% load static %}

{% block body %}

<div class="container" id="page-spacer">
<h1>Connect with a global network!</h1>
<p class="lead">
Offer quality hosted guest stays and
events. The Embassy Network platform is tailored towards community-run and
community-managed spaces. Reach individuals who seek to
immerse themselves in dynamic environments with passionate people.
</p>

<h1>Locations</h1>
<p class="lead">
Locations in the Embassy Network are independently run. Operational
details, including guest rooms, pricing, and the type of community they seek to
create, are up to each house. All Embassy locations minimally offer
a hosted guest experience within some kind of community, but they each have
their own approach and style. Not only is each space different, they are meant
to be different.  
</p>

<p class="lead">
That said, Embassy locations typically combine short-term and long-term
accommodations in large houses with a significant amount of common space.
Income from guests goes towards compensating one or more people for hosting and
guest operations (such as managing bookings and housekeeping), offsetting
living costs, management and upkeep of the space, and contributing towards
community activities and purchases.  
</p>

<p class="lead">
Sharing the cost of common space and amenities amongst residents and guests
provides economies of scale and gives rise to new community resources or <a
    href="http://en.wikipedia.org/wiki/Third_place">third spaces</a>,
supporting a dynamic environment for events, discussions and projects that are
operated by and for the community. 
</p>

<p class="lead">
Those interested in residence and <a href="">membership</a> at individual
locations work out specific details (including pricing) with that location
directly. These operating models are themselves completely independent of the
Network; however, participation comes with the benefit of learning from a
community that is actively designing, testing, and running similar programs,
access to software to manage the program, as well as plugging in to a global
tribe of nomads and travelers looking for short- and long-term accommodations.
</p>

<h1>Our Platform</h1>
<p class="lead"> Our open source <a
    href="http://github.com/jessykate/modernomad">platform</a> offers guest
hosting and event management, as well as a customizable landing
page and descriptive content. Similar to AirBnB, listing your location lets you
add guest rooms and manage availability, payments and scheduling, but it is
also designed to expose information about guests and residents to each other in
a way that facilitates conversation and collaboration. Daily emails provide
links to profiles of arriving and departing guests, and information about
upcoming events.

<p class="lead">
The platform also supports event hosting and management in a community-driven
way. Any community member may propose events for review and approval by
residents or other event admins. There are automatic weekly event updates sent
to those who sign up, which makes it easy to keep people up to date with what's
going on in the space. Events can be private or open, have attendance caps, and
a number of other features. 
</p>

<h3>Cost</h3>
<p class="lead">
<strong>The platform is free to list your community, manage events or offer
    free stays.  For paid stays, the network takes a 5% fee from bookings
    to support continued development of the software, resource development, and
    member support. </strong>
</p>

<h1>How to Join</h1>
<p class="lead">
Right now new locations are approved individually. If 
<ul class="lead">
    <li>the <a href="http://coliving.org/#manifesto">coliving manifesto</a> gets you excited;
    <li>Your house is a community that does things together, and participation in that community is open to your guests, and;
    <li>though your house may have a certain theme or focus, you are open to people in all professions or fields.
</ul>
</p>

<p class="lead">
Please get in touch! Email <a href="mailto:hello@embassynetwork.com">hello@embassynetwork.com</a> and tell us about your community:
<ul class="lead">
    <li>What is your house name?
    <li>What is the approximate size (square feet, number of residents)
    <li>Where are you located? 
    <li>Number and type of guest accommodations
    <li>Typical or regular community activities or events
    <li>A general description, something about your culture or identity as a
    residence. What is your main theme, if any? Are there any special features
    or quirks of your community?
    <li>Any links you want to share
</ul>
</p>

<p class="lead">
We'll get back to you and get you set up. Once approved, you'll
<ul class="lead">
    <li>Receive a site hosted at embassynetwork.com. 
    <li>You set your prices and have full say over who stays with you.
    <li>Carry on as you were and enjoy your guests!
</ul>
</p>

</div>

{% endblock %}

