{% extends "base.html" %}

  	{% block wrapper %}
    <div id="wrapbackgroundimg">
    {% endblock %}

{% block body %}

<div class="hero-unit">
	<h1>The SF Embassy</h1>
	<p>The SF Embassy is an experiment in intentional living. We seek out those who want to lead examined lives and be around those who will challenge and support them in making a positive impact. We offer short- and long-term accommodations, as well as event and community spaces. The houses is operated collaboratively by the residents.</p>
</div>

{% endblock %}
