{% extends "root.html" %}

{% block body %}

<h2>Embassy Network</h2>
<p class="easy-reading">The Embassy Network is a collection of
coliving houses prototyping a new approach to Home, one in which
members flow freely between locations as they travel the globe for
work and collaboration.</p>

<p class="easy-reading">Embassy locations are united through the
values of co-creation, curiosity and intention. These embassies and
their residents are ambassadors of a modern culture of 
openness, collaboration, and connectivity.</p>


{% endblock %}
