{% extends "root.html" %}
{% load staticfiles %}

{% block body %}

<div class="jumbotron" id="center">
	<div class="container">
		<h1>The Embassy Network</h1>
		<h2 class="text-muted">
		People and spaces experimenting with culture and commoning. 
		</h2>
		<h2 class="text-muted">
		The Embassy Network is designing new ways to manage resources and govern space together. Our member spaces are embassies of the future we want to inhabit. 
		</h2>
	</div>
</div>

<div class="container">

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Vibrant Communities.</h2>
			<p class="lead">
			Like other travel networks, Embassy locations are <strong>independently owned and
				operated</strong>, set their own prices, and have full say over guest stays at their
				locations; but, the Embassy Network specifically seeks to <strong>connect shared living
				spaces</strong> characterized by an emphasis on <strong>openness, collaboration and community</strong>.
				Members may travel freely and live amongst all locations, and travelers from
				far and wide can seek reprieve in a place that feels like home.
			</p>
		</div>
		<div class="col-md-5 col-xs-12">
			<img class="featurette-image img-responsive" src="{% static 'img/EmbassyNetworkFaces.jpg' %}">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="/static/img/dining-perspective-crop.jpg">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">Affordable Stays.</h2>
			<p class="lead">
				Affordability is a major goal of the Embassy Network. Affordability supports
				travel and exposure to new experiences, but also exploration and creativity.
				Emergent from the collection of participating locations is a <strong>collaboratively
					managed commons</strong> that seeks to make increasingly efficient use of resources,
				support the development of community ties, and recycle profits back into the
				communities that generate them.
			</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Working Together.</h2>
			<p class="lead">
			Together, these locations create a global fabric of <strong>intelligent, creative, and
				passionate</strong> people leading lives of intention, supported and inspired by their
				community, and exploring modern notions of Home in the 21st century.
			</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="/static/img/collab.jpg">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row center" id="index-get-involved">
		<div class="col-md-12">
			<h2>Get in Touch</h2>
			<a href="mailto:hello@embassynetwork.com">
			<img src="{% static 'img/line-divider.jpg' %}">
			<h2>hello@embassynetwork.com</h2>
			</a>
		</div>
	</div>
	
</div>

{%endblock %}

{% block footer %}
<div id="network-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="footer-press">
				<div class="row">
				<a href="http://www.ft.com/intl/cms/s/2/091e540a-baf5-11e1-81e0-00144feabdc0.html#axzz2NxTef1Yd" target="blank" title="Over the Rainbow: Communal living is back in vogue, especially among Silicon Valley’s young technology workers"><img class="press-logo" src="{% static 'img/ft-logo.jpg' %}">
					<a title="" target="blank" href="http://www.nytimes.com/2013/12/12/fashion/Bay-Area-millenials-intentional-communities-communes.html?_r=0&adxnnl=1&rref=fashion&hpw=&pagewanted=all&adxnnlx=1387416498-ClhePTg+t6ZVfKx9MaVw2g"><img class="press-logo" src="{% static 'img/nyt-logo.png' %}"></a>
					<a title="" target="blank" href="http://www.sfgate.com/bayarea/article/Tech-entrepreneurs-revive-communal-living-4988388.php"><img class="press-logo" src="{% static 'img/sf_chronicle_logo3.gif' %}"></a>
				</div>
				<div class="row">
					<a title="" target="blank" href="http://www.theatlanticcities.com/housing/2013/12/one-answer-san-franciscos-overpriced-housing-co-living/7654/"><img class="press-logo" src="{% static 'img/atlantic-cities-logo.jpg' %}"></a>
					<a title="" target="blank" href="http://www.npr.org/blogs/alltechconsidered/2013/12/19/250548681/bay-areas-steep-housing-costs-spark-return-to-communal-living"><img class="press-logo" src="{% static 'img/npr_logo.png' %}"></a>
					<a title="" target="blank" href="http://www.csmonitor.com/The-Culture/Family/2014/0330/Shared-housing-The-sharing-economy-gives-roommates-a-new-image"><img class="press-logo" src="{% static 'img/csr_logo.jpg' %}"></a>
				</div>
			</div>
			<div class="col-md-4" id="footer-socialmedia">
				<a href="https://twitter.com/embassynetwork"><img class="pull-right socialmedia-icon" src="{% static 'img/twitter-icon.png' %}"></a>
				<a href="https://www.facebook.com/embassynetwork"><img class="pull-right socialmedia-icon" src="{% static 'img/facebook-icon.png' %}"></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}
