{% extends "base.html" %}

{% block body %}

	<div id="splash-bg">
	<div class="three columns centered">
		<div class="panel radius">
			<h1>The SF Embassy</h1>
				<p><h5 class="subheader">The SF Embassy is an experiment in intentional living. We seek out those who want to lead examined lives and be around those who will challenge and support them in making a positive impact. We offer short- and long-term accommodations, as well as event and community space. The houses is operated collaboratively by the residents.</h5></p>
						<p><center><a class="radius button large centered" href="/home">Get involved</a></center></p>
						<p><center><h5><a href="/about">Learn More</a></center></h5></p>
					</div>
				</div>
			</div>
		</div>
  	</div>
	</div>

{% endblock %}
