{% extends 'base.html' %}

{% block body %}

			<div id="homepage-wrap">

				<div class="row" id="house">
					<div class="col-sm-12">
						<div class="col-md-10 col-centered">
							<div class="col-md-8" id="house-image">
							</div>
							<div class="col-md-4" id="house-desc">
								<h2 id="house-name-title" class="">The House</h2>
								<p class="easy-reading">The Embassy San Francisco is our experiment 
								in creating a home built around purpose and intention. We value 
								curiosity, analysis, questioning, and engagement. This is not a house for by-standers!</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id="actions">
					<div class="col-md-12">
						<div class="col-md-10 col-centered">
							<div class="col-md-6" id="participate">
								<h2 class="fancy-header">When can I come over?</h3>
								<p class="easy-reading">We host salons, 
								community dinners, skillshares, workshops and various
								one-off events. Hear about upcoming events on
								our mailing list, or get a sampling through browsing upcoming events below!</p> 
								<div class="col-md-12" id="eventlist-signup-wrapper">
									<form id="eventlist-signup" action="http://lists.coliving.org/subscribe/embassysf-events" method="POST">
										<input name="email" class="col-md-7" id="list-signup-input" placeholder="Enter email">
										<input type="submit" class="btn-large-text btn btn-large col-md-5" id="list-signup-submit" value="Sign Me Up!" />
									</form>
								</div>
							</div>
							
							<div class="col-md-6" id="reserve">
								<h2 class="fancy-header">I'm Interested in the Residence</h3>
								<p class="easy-reading">Travel and always be at Home. The Embassy Network
								offers long- and short-term accommodations for
								modern nomads and creatives who travel the
								world for work, projects and collaborations. 
								</p>
								<a href="/stay" id="stay-button" class="btn btn-large btn-block btn-large-text">Learn More & Make a Reservation</a>
							</div>
						</div>
					</div>
				</div>
					
				<!-- events section! -->

				<div class="row" id="landing-page-event-info">
					<div class="col-md-10 col-centered">
						<div class="col-md-6" id="events">
							<h2 class="">What are we up to?</h2>

							{% for event in events %}
								<div class="col-md-12 event">
									<div class="col-md-1 date"><span class="day">{{ event.start|date:'j'}}</span>{{ event.start|date:'b'|title}}</div>
									<div class="col-md-11">
										<a href="/events/e/{{event.slug}}">
											<h3 class="event-title">{{ event.title}}</h3>
											{% if forloop.first %}
												<img class="event-preview-img-thumb" src="{{ event.image.url }}"/>
											{% endif %}
										</a>
									</div>
								</div>
							{% empty %}
							<p class="lead">No upcoming events! Why not <a href="/events/create/">propose one?</a></p>	
							{% endfor %}

							<h3 id="more-events-link" class="pull-right"><a href="/events/upcoming">See All Upcoming</a></h3>
						</div>
						
				<!-- People Section! -->
						<div class="col-md-6" id="profiles">
							<h2 id="our-community-heading">Our Community</h2>
							<div class="row profiles">
								
									{% for person in coming_month %}
										<div class="float-left homepage-user-wrapper">			
											<img class="homepage-user-img" src="{{ MEDIA_URL }}{{ person.profile.image|default:'data/avatars/default.jpg'}}" />
											<div class="homepage-user-descr" id="user-{{person.id}}">
												<p class="homepage-user-text">{{person.profile.bio|title|truncatewords:40 }}</p>
												... <a class="homepage-user-link" href="/people/{{ person.username}}"> {{ person.first_name|title}} {{person.last_name|title}}</a>
											</div>
										</div>
									{% endfor %}

								<!-- end person in subset -->
								
							</div>
						</div>
					</div>
				</div>

				</div>

				<div class="row" id="location">
					<div id="location-map"></div>
				</div>

			</div> <!-- end homepage wrap -->

			{% endblock %}

			<!-- ? extra div here? -->

	{% block extrajs %}
	<script language="JavaScript">
	$(document).ready(function() {

		$("#eventlist-signup").submit(function() {
			request = $.ajax({
				data: $(this).serialize(),
				type: $(this).attr('method'), // GET or POST
				url: $(this).attr('action'),
			});
			request.done(function(msg) {
				msg = msg;
				success_text = "Your subscription request has been received, and will soon be acted upon.";
				if (msg.match(success_text)) {

					$("#eventlist-signup-wrapper").html("<div id='eventsignup-response-success'>Thanks! You should receive a confirmation email.</div>");
				} else {
					$("#eventlist-signup-wrapper").prepend("<div id='eventsignup-response-fail'>Hmm, your email appears to be invalid. Please try again.</div>");
				}
				
			});
			request.fail(function(msg) {
				$("#eventlist-signup").append("<div id='eventsignup-response-fail'>Hmm, something went wrong. Please try again.</div>");
			});

			return false;
		});
		
		var map = L.map('location-map').setView([37.77397341544072, -122.42937415838243], 15);
		L.tileLayer('http://a.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			maxZoom: 18
		}).addTo(map);
		map.scrollWheelZoom.disable();
		var RougeIcon = L.Icon.extend({
			options: {
				iconUrl: '/media/img/droplet.png',
				iconSize: [100,170],
				popupAnchor: [220,60]
			}
		});
		var rougeIcon = new RougeIcon();
		var marker = L.marker([37.77397341544072, -122.42937415838243], {icon: rougeIcon}).addTo(map);
		var popup = L.popup({closeButton: false});
		popup.setContent('<h1 id="map-marker-h1-dark">The Embassy</h1><h1 id="map-marker-h1-color">San Francisco</h1><p id="map-marker-text">399 Webster Street, Lower Haight, SF</p>');
		marker.bindPopup(popup).openPopup();
		

	});
	

	</script>
	{% endblock %}


	</body>
</html>

