{% extends "root.html" %}
{% load static %}

{% block body %}

<div class="container">
<h1>Stay with Us</h1>
<p class="lead">
Anyone is welcome to stay at Embassy Network locations. Each location is
independently run with their own prices, events and amenities. Most travelers simply
make bookings directly with each <a href="{% url 'location_list' %}">location</a> by selecting an available
room and submitting a booking request. 
</p>

<p class="lead">
The benefit of staying at locations in the Embassy Network is the emphasis on
vibrant communities and affordable stays. At Embassy locations you will not
find an anonymous extra room or hotel, but an active space with interesting
individuals already rooted in a local community. You will find shared meals,
impromptu events and fellow creatives, with new and old friends alike. 
</p>

<h2>Business and Organizational Travel</h2>
<p class="lead">
The Embassy Network is fully incorporated and provides receipts for every stay
to ensure that reimbursements and corporate expenses can be tracked
accordingly. 
</p>


<h2>Frequent Travelers and Room Sponsorship</h2>
<p class="lead">
For heavy travelers, many Embassy locations offer a program where members 
sponsor a room for a certain portion of each month. This ends up working like a
franctional rental or time share model. If you travel frequently to San
Francisco and New York, for example, you might have an arrangement where you
agree to pay for a week a month at a room in each location, in exchange for a
reduced rate on the room during those times. The rest of the time the room is
rented out to regular guests or other sponsors.  
</p>

<p class="lead">
We are slowly rolling out more support for this model and incorporating
management and accounting of room sponsorship into our platform. If you are
interested in participating in early offerings along these lines, please <a href="mailto:hello@embassynetwork.com">get in
    touch</a> and we will add your name to our wait list. 
</p>

<p class="lead">
</p>

</div>
{% endblock %}

