{% extends "main.html" %}

{% block main %}

<h3>Occupancy report for {{report_date|date:"F, Y"}}</h3>

{% for item in data %}
	<div>
	<p>
		{% if item.reservation.hosted %}
			{{item.reservation.guest_name|title}}, hosted by 
		{% endif %}
		{{item.reservation.user.first_name|title}} {{item.reservation.user.last_name|title}}, 
		<a href="{{item.reservation.get_absolute_url}}">{{item.reservation.arrive}} - {{item.reservation.depart}}</a>. 
		{{ item.nights_this_month }} nights @ ${{item.rate}} ({{item.room}}) = 
		{% if item.unpaid %}
			<span class="red-text">
			${{item.total}}
			</span>
		{% else %}
			${{item.total}}
		{% endif %}
		{% if item.comp %}
		(COMP)
		{% endif %}
	</p>
	</div>
{% endfor %}

<hr>

<p>Total person nights for {{report_date|date:"F"}}: <span class="badge">{{total_nights}}</span></p>
<p>Total private nights: <span class="badge">{{total_private_nights}}</span></p>
<p>Total shared nights: <span class="badge">{{total_shared_nights}}</span></p>
<p>Total estimated income from shared : <span class="badge">${{total_income_private}}</span></p>
<p>Total estimated income from private: <span class="badge">${{total_income_shared}}</span></p>
<p>Total comped nights: <span class="badge">{{total_comped_nights}}</span></p>
<p>Total unpaid: <span class="badge badge-important">${{unpaid_total}}</span></p>
<p>Est. lost income from comps (@ default rates): <span class="badge">${{total_comped_income}}</span></p>

<h5>Total estimated income : <span class="badge badge-success">${{total_income}}</span></h5>


<div id="by-month-nav">
	<span class="icon-spacer-right"><i class="icon-arrow-left"></i></span>
	<a href="/occupancy/?month={{prev_month.month}}&year={{prev_month.year}}">Previous</a> | 
	<a href="/occupancy/"> Current </a> |
	<a href="/occupancy/?month={{next_month.month}}&year={{next_month.year}}">Next</a>
	<span class="icon-spacer-left"><i class="icon-arrow-right"></i></span>
</div>
{% endblock main %}