{% extends "main.html" %}

{% block main %}

<h3>Occupancy report for {{report_date|date:"F, Y"}}</h3>

{% for item in data %}
	<div>
	<p>{{item.reservation.user.username}}, <a href="{{item.reservation.get_absolute_url}}">{{item.reservation.arrive}} - {{item.reservation.depart}}</a>. 
		{{ item.nights_this_month }} nights @ ${{item.rate}} ({{item.type}}) = ${{item.total}}
	</p>
	</div>
{% endfor %}

<h5>Total person nights for {{report_date|date:"F"}}: {{total_nights}}</h5>
<h5>Total estimated income: ${{total_income}}</h5>

<div id="by-month-nav">
	<span class="icon-spacer-right"><i class="icon-arrow-left"></i></span>
	<a href="/occupancy/?month={{prev_month.month}}&year={{prev_month.year}}">Previous</a> | 
	<a href="/occupancy/"> Current </a> |
	<a href="/occupancy/?month={{next_month.month}}&year={{next_month.year}}">Next</a>
	<span class="icon-spacer-left"><i class="icon-arrow-right"></i></span>
</div>
{% endblock main %}