{% extends "main.html" %}

{% block content %}

<div class="row">
  <div class="twelve columns">
    <p>There's several ways to contribute to the house and its extended community. Organize an event with us, host a salon, teach a class, or come and cook Sunday night dinner! If you have an idea, feel free to contact us through our <a href="http://facebook.com/embassynetwork">facebook page</a>. We love hosting interesting stuff, and providing a venue for people to explore ideas and learn new things.</p> 

    <p>We maintain an events mailing list, where we share information about fun stuff happening at the house. 
    <form id="events-list" action="http://lists.coliving.org/subscribe/embassysf-events" method="POST">
      E-mail: <input name="email" id="event-signup-input"><input type="submit" value="Sign Me Up!" />
      </form>
    </p>

    <p>We're also on <a href="https://twitter.com/#!/embassynetwork">Twitter</a> and <a href="http://facebook.com/embassynetwork">Facebook</a>.</p>

    <p>If you're not local or just want to keep abreast of the project, we have an <a href="http://eepurl.com/mPi8z">announcement list</a> reserved for sharing information about major developments and new locations within the Embassy Network as a whole.</p>

    <p>You can also make financial contributions on our <a href="/payment">payment</a> page. </p>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
   $("form#events-list").submit(function() {
     var url = $(this).attr('action');
     var data = $(this).serialize();
     console.log(data);
     $.post(url, data, function(resp) {
     	console.log(resp);
        window.location = "/thanks";
     });
     return false;
   });
 });
</script>
{% endblock %}