{% extends "main.html" %}

{% block main %}

{% comment %} shown only when a background request is being made {% endcomment %}
<div id="spinner">
    <img src="/media/img/ajax-loader-drip.gif" alt="Loading..."/>
</div>	

	{% if messages %}
	<div class="messages">
	    {% for message in messages %}
	    <div class="alert alert-info">
		    <button type="button" class="close" data-dismiss="alert">×</button>
	    	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		</div>
	    {% endfor %}
	</div>
	{% endif %}

	<h4>New reservation request</h4>
	<p>We'll get back to you shortly - usually within a day or two.  </p>

	<div class="form-container">
		<form class="well form-inline" method="post" action="/reservation/create/">{% csrf_token %}

			<p>Select arrival and departure dates to show known availability.</p> 
			<div class="reservation-dates">
				<span class="reservation-form-dates">Arrive: {{ form.arrive }}</span> 
				<span class="reservation-form-dates">Depart: {{ form.depart}}</span>
			</div>
			<div id="show-room-availability"></div>
			<div id="reservation-additional-info">
				<div class="field-wrapper">	
					<label for="id_purpose">When you're happy with your room selection, 
					tell us a bit about the purpose of your trip, and hit submit!</label>
					<span class="form-help-text"></span>
					<div class="form-field-body">
						<textarea id="id_purpose" rows="10" cols="40" name="purpose"></textarea>
					</div>
				</div>
				<div id="optional-fields-header">
					<i id="optional-fields-header-icon" class="icon-plus"></i>Optional fields: arrival time or additional comments... let us know!
				</div>
				<div id="optional-fields">
					<div class="field-wrapper">	
						<label class="label-optional-field" for="id_arrival_time">Arrival time if known?</label>
						<div class="form-field-body">
							<input id="id_arrival_time" type="text" name="arrival_time" maxlength="200" />	
						</div>
					</div>
					<div class="field-wrapper">	
						<label class="label-optional-field" for="id_comments">Any additional comments. (Optional)</label>
						<span class="form-help-text"></span>
						<div class="form-field-body">
							<textarea id="id_comments" rows="3" cols="40" name="comments"></textarea>							
						</div>
					</div>
				</div>
			</div>

			<br>
			<input id="submit-reservation" type="submit" class="btn disabled" value="Submit" disabled>
			<div id="reassure"></div>

		</form>
	</div>
{% endblock %}

{% block extrajs %}

<script>

	$("#id_arrive, #id_depart").datepicker({
		minDate: 0,
		onSelect: function( selectedDate ) {
			if(this.id == 'id_arrive') {
				startDate = $('#id_arrive').datepicker("getDate");
	          	var rMin = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + 1); // Min Date = Selected + 1d
	          	var rMax = new Date(startDate.getFullYear(), startDate.getMonth(),startDate.getDate() + {{max_days}} ); // Max Date = Selected + max_days
	          	console.log(rMax);
	          	$('#id_depart').datepicker("option","minDate",rMin);
	          	$('#id_depart').datepicker("option","maxDate",rMax);                    
			}
			// we need to explicitly fire the change event on the underlying
			// input or it won't fire on its own!
			$(this).change();
        }
	});

	$("#id_arrive, #id_depart").change(function(event) {
		console.log("here!");
		// Get arrive and depart dates, update value. 
		$arrive = $("#id_arrive").val();
		$depart = $("#id_depart").val();

		// once the dates are selected, poll for a list of available rooms
		if ($arrive && $depart) {
			console.log("checking availability...");
			request = $.ajax({ 
				data: {
					'arrive' : $arrive,
					'depart' : $depart,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}, 
				type: "POST",
				url: '/room/availability/'
			});
			
			request.done(function(msg) { // on success..
				$("#show-room-availability").html(msg)
			});

			request.fail(function(msg) {
				$("#show-room-availability").html("<p>Hmm, there was a problem. Please try selecting your dates again.</p>")
			});

		} // end room availability check


		// wire up the ajax-y spinning animated GIF to show when an ajax call
		// is made. 	
		$('#spinner').ajaxStart(function () {
			$(this).fadeIn('fast');
		}).ajaxStop(function () {
			$(this).stop().fadeOut('fast');
		});	
	
	});

	// the purpose field is only visible when the other fields have been
	// filled out, so if the purpose field has content then all required
	// fields are present and the submit button should be enabled.
	$("#id_purpose").keyup(function() {
		if (! !$.trim($("#id_purpose").val())) {
			console.log("form is ready to submit!")
			$("#submit-reservation").prop("disabled", false);
			$("#submit-reservation").removeClass("disabled")
		} else {
			$("#submit-reservation").prop("disabled", true);
			$("#submit-reservation").addClass("disabled")
		}
	});

	$("#optional-fields-header").click(function() {
		$("#optional-fields").slideToggle("slow");
		$("#optional-fields-header-icon").toggleClass("icon-plus icon-minus")
	});

</script>


{% endblock %}
