{% extends "base.html" %}

{% block body %}


<table id="reservation-list">
	<thead>
		<tr>
			<th>Reservation</th>
			<th>User</ht>
			<th>Status</ht>
			<th>Arrival</ht>
			<th>Departure</ht>
			<th>Room</ht>
			<th>Hosted</ht>
			<th>Nights</ht>
			<th>Rate</ht>
			<th>Value</ht>
			<th>Paid Status</ht>
		</tr>
	</thead>
	<tbody>
			{% for r in reservations %}
			<tr>
				<td><a href="/manage/reservation/{{r.id}}/">Reservation {{r.id}}</a></td>
				<td><a href="/people/{{r.user.username}}/">{{r.user.first_name}} {{r.user.last_name}}</a> ({{r.user.username}})</td>
				<td>{{r.status}}</td>
				<td>{{r.arrive}}</td>
				<td>{{r.depart}}</td>
				<td>{{r.room}}</td>
				<td>{{r.hosted}}</td>
				<td>{{r.total_nights}}</td>
				<td>${{r.reconcile.get_rate}}</td>
				<td>${{r.reconcile.total_value}}</td>
				<td>{{r.reconcile.html_color_status|safe}}</td>
			</tr>
			{% endfor %}

	</tbody>
</table>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
<link href="/media/css/jquery.dataTables.css" rel="stylesheet">
<script>

jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "currency-pre": function ( a ) {
        a = (a==="-") ? 0 : a.replace( /[^\d\-\.]/g, "" );
        return parseFloat( a );
    },
 
    "currency-asc": function ( a, b ) {
        return a - b;
    },
 
    "currency-desc": function ( a, b ) {
        return b - a;
    }
} );

$(document).ready(function() {
	$('#reservation-list').dataTable({
	"iDisplayLength": 50,
	"aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
	"aoColumns": [
                { "sType": "html" },
                { "sType": "html" },
                { "sType": "string" },
                { "sType": "date" },
                { "sType": "date" },
                { "sType": "string" },
                { "sType": "string" },
                { "sType": "numeric" },
                { "sType": "currency" },
                { "sType": "currency" },
                { "sType": "string" }
            ]
	});
} );
</script>
{% endblock %}
