{% extends "main.html" %}

{% block main %}

	{% if messages %}
	<div class="messages">
	    {% for message in messages %}
	    <div class="alert alert-info">
		    <button type="button" class="close" data-dismiss="alert">×</button>
	    	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		</div>
	    {% endfor %}
	</div>
	{% endif %}

	<h4>New reservation request</h4>
	<p>We'll get back to you shortly - usually within a day or two. </p>

	<div class="form-container">
		<form class="well form-inline" method="post" action="/reservation/create/">{% csrf_token %}

			<div id="reservation-sticky-info" class="pull-right">Specify your arrival and departure dates and pick a room to see value of this reservation.</div>

			{% for field in form %}
				{% if field.name == 'hosted' or field.name = 'guest_name' or field.name == 'status' %}
					{% if is_house_admin %}

						<div class="field-wrapper">
							{{ field.errors }}
							{{ field.label_tag }}
							<span class="form-help-text">{{ field.help_text}}</span>
							<div class="form-field-body">
								{{ field }}
							</div>
						</div>

					{% endif %}

				{% else %} 
					{% comment %} if it's not one of the fields related to hosting, always show it {% endcomment %} 

					<div class="field-wrapper">
						{{ field.errors }}
						{{ field.label_tag }}
						<span class="form-help-text">{{ field.help_text}}</span>
						<div class="form-field-body">
							{{ field }}
							{% if field.name == 'arrive' or field.name == 'depart' %}
							<i class="icon-calendar"></i>
							{% endif %}
						</div>
					</div>

				{% endif %} 

			{% endfor %}
			<input id="submit-reservation" type="submit" value="Submit">
			<div id="reassure"></div>

		</form>
	</div>
{% endblock %}

{% block extrajs %}

<script>
	$("#id_room, #id_arrive, #id_depart").change(function(event) {
		console.log("here");
		var $room_name = $("#id_room option:selected").text();
		$room_list = {{ room_list|safe }};
		$rate = $room_list[$room_name];

		// TODO - get arrive and depart dates, update value. 
		$arrive = $("#id_arrive").val();
		$depart = $("#id_depart").val();

		$msg = "Specify your arrival and departure dates and pick a room to see value of this reservation.";
		$value = null;
		if ($arrive && $depart && $rate) {
			// date object subtraction returns the difference in milliseconds,
			// so convert to days. 
			var $milliseconds_in_a_day = 86400000;
			var $days = Math.abs((new Date($depart) - new Date($arrive))/$milliseconds_in_a_day)
			$value = $days*$rate;
			$msg = "<p>" + $room_name + " for " + $days + " days at $" + $rate + " a night. Reservation value is $" + $value + ".</p>";
			$msg += "<p>Reservations include all food and of course full use of the house and its ammenities during your stay. An alive house is a happy house!</p>"
		}
		
		$("#reservation-sticky-info").html($msg);

		// update the submit button text to reflect the cost
		var $customer_id = "{{ user.profile.customer_id }}"
		console.log($customer_id);
		console.log($value);
		if ($customer_id != "None" && $value) {
			$("#submit-reservation").val("Submit and Authorize Payment of $" + $value);
			$("#reassure").html("<p>You will only be charged if this reservation is approved. Your card will be charged at the end of your stay.</p>");
		}

	})
</script>

<script>
	$(function() {
		var $stickyTop = $('#reservation-sticky-info').offset().top; //
		var $offset = 30; // pixels
		$(window).scroll(function(){ // scroll event
			var $windowTop = $(window).scrollTop();
			if ($stickyTop < $windowTop + $offset) {
				$('#reservation-sticky-info').css({ position: 'fixed', top: $offset });
			} else {
				$('#reservation-sticky-info').css('position','static');
			}
		})
	});
</script>

{% endblock %}
