{% extends "main.html" %}

{% block main %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-info">
	    <button type="button" class="close" data-dismiss="alert">×</button>
    	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
    {% endfor %}
</div>
{% endif %}

<h3>Reservation for 
	{% if reservation.hosted %}
		{{ reservation.guest_name }}, hosted by 
	{% endif %}
	<em><a href="/people/{{reservation.user.username}}/">{{ reservation.user.first_name|title }} {{reservation.user.last_name}}</a></em>
</h3>
<h4>
	{{reservation.arrive }} - {{reservation.depart}}.   Tags: {{ reservation.tags }}
</h4>

{% ifequal reservation.user user %}
	{% if reservation.status == "pending" %}
		<div>
			<span class="btn btn-large btn-success disabled res-status-btn" type="button">Pending</span>
			<i class="icon-arrow-right"></i>
			<span class="btn btn-large btn disabled res-status-btn" type="button">Approved</span>
			<i class="icon-arrow-right"></i>
			<span class="btn btn-large btn disabled res-status-btn" type="button">Confirmed</span>
		</div>

	{% elif reservation.status == "approved" %}
		<div>
			<span class="btn btn-large btn disabled res-status-btn" type="button">Approved</span>
			<i class="icon-arrow-right"></i>
			<form class="btn-inline" method="post" action="/reservation/{{reservation.id}}/confirm/">{% csrf_token %} <input type="submit" class="btn btn-large btn-success res-status-btn" value="Click to Confirm"></form>
		</div>

	{% elif reservation.status == "confirmed" %}
		<div class="btn btn-large disabled res-status-btn" type="button">Reservation Confirmed</div>

	{% elif reservation.status == "declined" %}
		<div class="btn btn-large btn-danger disabled res-status-btn" type="button">Reservation Declined</div>

	{% endif %}
{% else %}
	<div class="btn btn-large disabled res-status-btn" type="button">{{ reservation.status|title }} </div>	
{% endifequal %}


<div class="res-detail"><b>Approximate arrival Time</b>: {{ reservation.arrival_time }}</div>
<div class="res-detail"><b>Accommodation Type:</b> {{ reservation.accommodation_preference }}</div>
<div class="res-detail"><b>In town for?</b> {{ reservation.purpose }}</div>
<div class="res-detail"><b>Additional Comments:</b> {{ reservation.comments }}</div>

{% if reservation.hosted and reservation.guest %}
{% with guest=reservation.guest%}

	<h3>About {{guest.first_name|title}} {{guest.last_name|title}}</h3>

	<div class="res-detail"><b>Current Projects:</b> {{ guest.projects }}</div>
	<div class="res-detail"><b>Interested in learning or sharing:</b> {{ guest.sharing }}</div>
	<div class="res-detail"><b>Discussion topics:</b> {{ guest.discussion }}</div>
	<div class="res-detail"><b>Referral: </b> {{ guest.referral }}</div>

{% endwith %}
{% else %}

{% with guest=reservation.user%}

	<h3>About {{guest.first_name|title}} {{guest.last_name|title}}</h3>

	<div class="res-detail"><b>Current Projects:</b> {{ guest.profile.projects }}</div>
	<div class="res-detail"><b>Interested in learning or sharing:</b> {{ guest.profile.sharing }}</div>
	<div class="res-detail"><b>Discussion topics:</b> {{ guest.profile.discussion }}</div>
	<div class="res-detail"><b>Referral: </b> {{ guest.profile.referral }}</div>

{% endwith %}
{% endif %}

{% ifequal reservation.user user %}
	<div class="res-modify-btn">
	{% if past %}
		<p class="notice">This reservation is in the past and cannot be modified</p>
	{% else %}
		<div>
			<a class="btn-inline btn btn-info" href="{{ request.get_full_path }}edit">Modify reservation</a>
			<form id="res-delete" class="btn-inline" method="post" action="/reservation/{{reservation.id}}/delete/">{% csrf_token %} <input type="submit" class="btn-inline btn-red btn btn-link" value="Delete?"></form>
		</div> 

		<div id="dialog-confirm" title="Delete this user?">
		    <p>
		        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		        This reservation will be permanently deleted and cannot be recovered. Are you sure?
		    </p>
		</div>

	{% endif %}
	</div>
{% endifequal %}


<p><em>Created {{reservation.created}}. Last updated {{reservation.updated}}.</em></p>

{% endblock %}

{% block extrajs %}
<script>
$("#dialog-confirm").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
        "Yes, Delete": function () {
            $("#res-delete").submit();
         },
        "Cancel": function () {
            $(this).dialog("close");
        }
    }
});

$("#res-delete").click(function (e) {
    $("#dialog-confirm").dialog("open");
    e.preventDefault();
});
</script>
{% endblock %}