{% load core_tag_extras %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block pagetitle %}Embassy Network{% endblock %}</title>
		<!-- responsive support -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The Embassy Network is a housing network reinventing home for the creative age.">
		<!-- Le styles -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
		<link rel="stylesheet" href="{% static 'css/chosen.min.css' %}"></script>
		<link rel="stylesheet" href="{% static 'css/cropper.min.css' %}"></script>
		<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
		<link rel="stylesheet" href="{% static 'fonts/font-awesome-4.3.0/css/font-awesome.min.css' %}">
		<link rel="shortcut icon" href="/favicon.ico">

		<!-- Asyncronous Font Loading -->
		<script src="{% static 'js/webfont.js' %}"></script>
		<script>
			WebFont.load({
				google: {
					families: ['Open Sans:400italic,400,600,300,700']
				}
			});
		</script>
		
		<!-- JQuery -->
		<link rel="stylesheet" href="{% static 'css/flick/jquery-ui-1.9.1.custom.css' %}" />
		<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.9.1.custom.js' %}"></script>
		
		<!-- Le javascript -->
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script src="{% static 'js/leaflet.js' %}"></script>
	
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block extrahead %}
		{% endblock %}
	</head>

	<body>
		<div id="full-page-wrapper">
			<div class="container-fluid">
				<div class="row">

					<nav class="navbar navbar-default" id="nav-network" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="main-navbar">
						<ul class="nav navbar-nav navbar-left">
							<li style="padding-top: 15px; padding-bottom:15px; color: #777; "></li>
							<li><a href="/" class="navbar-brand"><span class="highlight">Embassy Network</span></a></li>
							<li style="padding-top: 15px; padding-bottom:15px; color: #777; ">:: <em>Communities experimenting with culture and commoning.</em></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">		
							<li><a href="{% url 'location_list' %}">Member Locations</a></li>
						</ul>
					</div> <!-- end navbar-collapse -->
					</nav>
				</div> <!-- end row -->
			</div> <!-- end container-fluid -->

			{% block body %}
			{% endblock %}
		</div>
		{% block footer %}
		{% endblock %}

	<!-- javascript for every page -->
	<script type="text/javascript">

	</script>

	{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
	  {% include "snippets/google_analytics.html" %}
	{% endif %}
	
	{% block extrajs %}
	{% endblock %}

  </body>
</html>


