{% extends "main.html" %}
{% block main %}

<h2>Short-Term Accommodations</h2>
<p>Guests are a cornerstone of our house and we love having new (and familiar) people stay with us. This isn’t your typical hostel or B&B – it’s more of an adopted family. We’re working on the hypothesis that <b>density breeds ideas and collaborations</b>, and that’s a big part of what we hope to foster here.</p>

<p>We know and expect that guests are usually traveling for specific projects and collaborations. Similarly, residents are working on their own projects most days. But, just like staying with a friend or family mbber, it’s nice to hang out  a bit, too! So, <b>we request that you do make a little bit of time to interact with people in the house</b>, and for serendipity to occur.</p>

<h3>Events</h3>
<p>To aid in your enthusiasm, we try to keep the house lively, fun and interesting, with anything from casual chats in the evenings to movie nights, dinners, performances and salons.</p>

<h3>Projects</h3>
<p>As a community house <b>there are also many ways you can contribute!</b> Everything that happens here is a result of the people, and that includes you. Instigate or help out at a big meal; bring a treat from your hometown; play music; sing us a song; host a discussion about a topic you are experienced in, passionate about, or perplexed by; bring wine or spirits (bonus points for homebrew); unload the dishwasher (we’ll forgive you for putting things back in weird places); arrange chairs or organize a surface – take pride in the house; leave a copy of a book you enjoyed; fix, build, or document something; teach a short class related to your craft, ask someone how their day was...</p>

<h3>Home</h3>
<p>Finally, <b>one of our most important traditions is Sunday night dinner:</b> our weekly community meal with new and familiar faces, boisterous conversation, many helping hands, and most importantly, our way to say Thanks to all the amazing people we know. It’s a time for the “in-between” time, when there’s no set topic or purpose except sharing space with other interesting folks. <b>If it’s at all possible for you to attend, we strongly encourage you to do so</b> (and will make sad faces if you don’t).</p>
 
<div class="button-spacer">
<a class="btn btn-large btn-block btn-success" type="button" href="/reservation/create/">Fill out an Application Form</a>
</div>
{% endblock %}

