<div class="reservation-list-item">
	<div class="reservation-title">		
	<h4>
	{% if r.hosted %}
		{{ r.guest_name }} 
	{% else %}
		<a href="/people/{{r.user.username}}">{{ r.user.first_name|title }} {{ r.user.last_name|title }}</a>
	{% endif %}
	</h4>
	<a href="{{ r.get_absolute_url}}">{{r.arrive}} to {{ r.depart }} </a> 
	{% if r.arrive == today %}
	- <em>today!</em>
	{% endif %}
	{% if r.hosted %}
		(hosted by <a href="/people/{{r.user.username}}">{{ r.user.first_name|title }} {{ r.user.last_name|title }}</a>)
	{% endif %}
	</div>

	<div class="img-polaroid float-left">
		<img class="profile-img-thumb" src="{{ MEDIA_URL }}{{ r.user.profile.image_thumb|default:'data/avatars/default.thumb.jpg' }}" />
	</div>

	<div class="profile-peak">
		<p><em>Projects:</em> {{ r.user.profile.projects}}</p>
		<p><em>Sharing interests:</em> {{ r.user.profile.sharing}}</p>
		<p><em>Discussion topics:</em> {{ r.user.profile.discussion}}</p>
	</div>

	<div class="clear"></div>
</div>