{% extends "main.html" %}

{% load core_tag_extras %}

{% block main %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-info">
	    <button type="button" class="close" data-dismiss="alert">×</button>
    	<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
    {% endfor %}
</div>
{% endif %}


{% if u.profile.image %}
<div class="img-polaroid float-right">
	<img class="profile-page-img" src="{{ MEDIA_URL }}{{ u.profile.image }}" />
</div>
{% endif %}

<h1>{{ u.first_name|title }} {{ u.last_name|title }}</h1>
{% ifequal u user %}
	<div id="edit-profile">
		<a href="/people/{{user.username}}/edit/">Edit Profile</a>
	</div>
{% endifequal %}


<h3>About {{u.first_name|title}}:</h3>
<p>{{ u.profile.bio }}</p>

<h3>Currently Up to:</h3>
<p>{{ u.profile.upto }}</p>

<h3>Links:</h3>
{% with links=u.profile.links|split:', ' %}
	{% for link in links %}
		<a href="{{link}}">{{link}}</a>
	{% endfor %}
{% endwith %}

<h2>Reservations</h2>
{% if past_reservations|length > 0 %}
<h3>Previous</h3>
{% for reservation in past_reservations %}
	<div>
		<a href="/reservation/{{reservation.id}}">{{reservation.arrive}} - {{reservation.depart}}</a> 
		{% if user == u %}
		- <em>{{reservation.status}}</em>
		{% endif %}
	</div>
{% endfor %}
{% endif %}

{% if upcoming_reservations|length > 0 %}
<h3>Upcoming</h3>
{% for reservation in upcoming_reservations %}
	<div>
		<a href="/reservation/{{reservation.id}}">{{reservation.arrive}} - {{reservation.depart}}</a> 
		{% if user == u %}
		- <em>{{reservation.status}}</em>
		{% endif %}
	</div>
{% endfor %}
{% endif %}

{% if upcoming_reservations|length == 0 and past_reservations|length == 0 %}
	<p>No reservations</p>
{% endif %}

{% ifequal u user %}
	<div class="new-reservation">
		<a href="{% url reservation_submit %}">New Reservation</a>
	</div>

	<div id="logout">
		<a href="/people/logout/">Logout</a>
	</div>
{% endifequal %}

{% endblock %}
