{% extends "accounts_base.html" %}
{% load static %}

{% block content %}

<div class="top-spacer">
    <a href="{% url 'account_list' %}"> <i class="fa fa-long-arrow-left"></i> back </a>
</div>

<h1>
    {% if request.user.profile in account.primary_for.all %} <i class="fa fa-star text-warning"></i>{% endif %}
    {{account.name}}
    <span class="small">({{account.currency.name}})</span>
</h1>
<div class="row">
    <div class="col-md-4">
      <div class="well">
        <h3>Summary</h3>
        <p>Balance (as of today): <b>{{account.currency.symbol}}{{account.get_balance }}</b></p>
      </div>
    </div>
    {% for user in account.owners.all %}
    <div class="col-md-1 pull-right">
        <img src="{{ MEDIA_URL }}{{ user.profile.image_thumb}}" tooltip="{{user.first_name}}"  alt="{{user.first_name}}" class="img-rounded img-responsive">
    </div>
    {% endfor %}
</div>


<div class="well">
  <h3>Transaction History</h3>
  {% if account.entries.all|length > 0 %}
  <table class="table">
      <tr>
          <th><i class="fa fa-sort-desc"></i> Date </th><th>With account</th><th>Amount</th><th>Balance</th>
      </tr>
      {% for entry in account.entries.all %}
      <tr>
          <td>{{ entry.transaction.date }}</td>
          <td>{{ entry.with_account|default:"INVALID" }}</td>
          {% if entry.amount < 0 %}
          <td>-{{account.currency.symbol}}{{ entry.amount|stringformat:"+d"|slice:"1:"}}</td>
          <td>{{account.currency.symbol}}{{ entry.balance_at }}</td>
          {% else %}
          <td>{{account.currency.symbol}}{{ entry.amount}}</td>
          <td>{{account.currency.symbol}}{{ entry.balance_at }}</td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>
  {% else %}
  <table class="table">
      <tr>
          <th><i class="fa fa-sort-desc"></i> Date </th><th>With account</th><th>Amount</th><th>Balance</th>
      </tr>
      <tr>
        <td>No transactions for this account.</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
  {% endif %}
</div>

{% endblock %}
